/* Icon */
.icon\:burgundy-100, .icon.burgundy-100 {
    display: inline-block;
    background: var(--burgundy-100);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:burgundy-200, .icon.burgundy-200 {
    display: inline-block;
    background: var(--burgundy-200);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:burgundy-300, .icon.burgundy-300 {
    display: inline-block;
    background: var(--burgundy-300);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:burgundy-400, .icon.burgundy-400 {
    display: inline-block;
    background: var(--burgundy-400);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:burgundy-500, .icon.burgundy-500 {
    display: inline-block;
    background: var(--burgundy-500);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:burgundy-600, .icon.burgundy-600 {
    display: inline-block;
    background: var(--burgundy-600);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:burgundy-700, .icon.burgundy-700 {
    display: inline-block;
    background: var(--burgundy-700);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:burgundy-800, .icon.burgundy-800 {
    display: inline-block;
    background: var(--burgundy-800);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:burgundy-900, .icon.burgundy-900 {
    display: inline-block;
    background: var(--burgundy-900);
    background-size: cover;
    background-repeat: no-repeat;
}