:root {
    --brick-red-100: hsl(0, 100%, 95%);
    --brick-red-200: hsl(0, 70%, 85%);
    --brick-red-300: hsl(0, 70%, 75%);
    --brick-red-400: hsl(0, 100%, 65%);
    --brick-red-500: hsl(0, 70%, 55%);
    --brick-red-600: hsl(0, 70%, 45%);
    --brick-red-700: hsl(0, 100%, 35%);
    --brick-red-800: hsl(0, 70%, 25%);
    --brick-red-900: hsl(0, 70%, 15%);
}

/* Brick-red */
.bg\:brick-red-100, .bg.brick-red-100, .bg-brick-red-100, .bg\:brick-red\:100 {
    background-color: var(--brick-red-100);
}

.bg\:brick-red-200, .bg.brick-red-200, .bg-brick-red-200, .bg\:brick-red\:200 {
    background-color: var(--brick-red-200);
}

.bg\:brick-red-300, .bg.brick-red-300,.bg-brick-red-300, .bg\:brick-red\:300 {
    background-color: var(--brick-red-300);
}
.bg\:brick-red-400, .bg.brick-red-400, .bg-brick-red-400, .bg\:brick-red\:400 {
    background-color: var(--brick-red-400);
}

.bg\:brick-red-500, .bg.brick-red-500, .bg-brick-red-500, .bg\:brick-red\:500 {
    background-color: var(--brick-red-500);
}

.bg\:brick-red-600, .bg.brick-red-600, .bg-brick-red-600, .bg\:brick-red\:600 {
    background-color: var(--brick-red-600);
}

.bg\:brick-red-700, .bg.brick-red-700, .bg-brick-red-700, .bg\:brick-red\:700 {
    background-color: var(--brick-red-700);
}

.bg\:brick-red-800, .bg.brick-red-800, .bg-brick-red-800, .bg\:brick-red\:800 {
    background-color: var(--brick-red-800);
}

.bg\:brick-red-900, .bg.brick-red-900, .bg-brick-red-900, .bg\:brick-red\:900 {
    background-color: var(--brick-red-900);
}

/*
 * 	
 *	Text Stiles
 *  
 */
 .text\:color\:brick-red-100, .text-color-brick-red-100, .text\:color.bg-brick-red-100, .text-color.bg-brick-red-100, .tc-brick-red-100 , .tc\:brick-red-100{
    color: var(--brick-red-100);
}

.text\:color\:brick-red-200, .text-color-brick-red-200, .text\:color.bg-brick-red-200, .text-color.bg-brick-red-200, .tc-brick-red-200 , .tc\:brick-red-200{
    color: var(--brick-red-200);
}

.text\:color\:brick-red-300, .text-color-brick-red-300, .text\:color.bg-brick-red-300, .text-color.bg-brick-red-300, .tc-brick-red-300 , .tc\:brick-red-300{
    color: var(--brick-red-300);
}

.text\:color\:brick-red-400, .text-color-brick-red-400, .text\:color.bg-brick-red-400, .text-color.bg-brick-red-400, .tc-brick-red-400 , .tc\:brick-red-400{
    color: var(--brick-red-400);
}

.text\:color\:brick-red-500, .text-color-brick-red-500, .text\:color.bg-brick-red-500, .text-color.bg-brick-red-500, .tc-brick-red-500 , .tc\:brick-red-500{
    color: var(--brick-red-500);
}

.text\:color\:brick-red-600, .text-color-brick-red-600, .text\:color.bg-brick-red-600, .text-color.bg-brick-red-600, .tc-brick-red-600 , .tc\:brick-red-600{
    color: var(--brick-red-600);
}

.text\:color\:brick-red-700, .text-color-brick-red-700, .text\:color.bg-brick-red-700, .text-color.bg-brick-red-700, .tc-brick-red-700 , .tc\:brick-red-700{
    color: var(--brick-red-700);
}

.text\:color\:brick-red-800, .text-color-brick-red-800, .text\:color.bg-brick-red-800, .text-color.bg-brick-red-800, .tc-brick-red-800 , .tc\:brick-red-800{
    color: var(--brick-red-800);
}

.text\:color\:brick-red-900, .text-color-brick-red-900, .text\:color.bg-brick-red-900, .text-color.bg-brick-red-900, .tc-brick-red-900 , .tc\:brick-red-900{
    color: var(--brick-red-900);
}

/* icon stiles */

.icon\:brick-red-100, .icon.brick-red-100 {
    display: inline-block;
    background: var(--brick-red-100);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:brick-red-200, .icon.brick-red-200 {
    display: inline-block;
    background: var(--brick-red-200);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:brick-red-300, .icon.brick-red-300 {
    display: inline-block;
    background: var(--brick-red-300);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:brick-red-400, .icon.brick-red-400 {
    display: inline-block;
    background: var(--brick-red-400);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:brick-red-500, .icon.brick-red-500 {
    display: inline-block;
    background: var(--brick-red-500);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:brick-red-600, .icon.brick-red-600 {
    display: inline-block;
    background: var(--brick-red-600);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:brick-red-700, .icon.brick-red-700 {
    display: inline-block;
    background: var(--brick-red-700);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:brick-red-800, .icon.brick-red-800 {
    display: inline-block;
    background: var(--brick-red-800);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:brick-red-900, .icon.brick-red-900 {
    display: inline-block;
    background: var(--brick-red-900);
    background-size: cover;
    background-repeat: no-repeat;
}