:root {
    --candy-apple-red-100: hsl(10, 100%, 97%);
    --candy-apple-red-200: hsl(10, 100%, 90%);
    --candy-apple-red-300: hsl(10, 100%, 80%);
    --candy-apple-red-400: hsl(10, 100%, 70%);
    --candy-apple-red-500: hsl(10, 100%, 60%);
    --candy-apple-red-600: hsl(10, 100%, 50%);
    --candy-apple-red-700: hsl(10, 100%, 40%);
    --candy-apple-red-800: hsl(10, 100%, 30%);
    --candy-apple-red-900: hsl(10, 100%, 20%);
}

/* Candy-apple-red */
.bg\:candy-apple-red-100, .bg.candy-apple-red-100, .bg-candy-apple-red-100, .bg\:candy-apple-red\:100 {
    background-color: var(--candy-apple-red-100);
}

.bg\:candy-apple-red-200, .bg.candy-apple-red-200, .bg-candy-apple-red-200, .bg\:candy-apple-red\:200 {
    background-color: var(--candy-apple-red-200);
}

.bg\:candy-apple-red-300, .bg.candy-apple-red-300,.bg-candy-apple-red-300, .bg\:candy-apple-red\:300 {
    background-color: var(--candy-apple-red-300);
}
.bg\:candy-apple-red-400, .bg.candy-apple-red-400, .bg-candy-apple-red-400, .bg\:candy-apple-red\:400 {
    background-color: var(--candy-apple-red-400);
}

.bg\:candy-apple-red-500, .bg.candy-apple-red-500, .bg-candy-apple-red-500, .bg\:candy-apple-red\:500 {
    background-color: var(--candy-apple-red-500);
}

.bg\:candy-apple-red-600, .bg.candy-apple-red-600, .bg-candy-apple-red-600, .bg\:candy-apple-red\:600 {
    background-color: var(--candy-apple-red-600);
}

.bg\:candy-apple-red-700, .bg.candy-apple-red-700, .bg-candy-apple-red-700, .bg\:candy-apple-red\:700 {
    background-color: var(--candy-apple-red-700);
}

.bg\:candy-apple-red-800, .bg.candy-apple-red-800, .bg-candy-apple-red-800, .bg\:candy-apple-red\:800 {
    background-color: var(--candy-apple-red-800);
}

.bg\:candy-apple-red-900, .bg.candy-apple-red-900, .bg-candy-apple-red-900, .bg\:candy-apple-red\:900 {
    background-color: var(--candy-apple-red-900);
}

/*
 * 	
 *	Text Stiles
 *  
 */
 .text\:color\:candy-apple-red-100, .text-color-candy-apple-red-100, .text\:color.bg-candy-apple-red-100, .text-color.bg-candy-apple-red-100, .tc-candy-apple-red-100 , .tc\:candy-apple-red-100{
    color: var(--candy-apple-red-100);
}

.text\:color\:candy-apple-red-200, .text-color-candy-apple-red-200, .text\:color.bg-candy-apple-red-200, .text-color.bg-candy-apple-red-200, .tc-candy-apple-red-200 , .tc\:candy-apple-red-200{
    color: var(--candy-apple-red-200);
}

.text\:color\:candy-apple-red-300, .text-color-candy-apple-red-300, .text\:color.bg-candy-apple-red-300, .text-color.bg-candy-apple-red-300, .tc-candy-apple-red-300 , .tc\:candy-apple-red-300{
    color: var(--candy-apple-red-300);
}

.text\:color\:candy-apple-red-400, .text-color-candy-apple-red-400, .text\:color.bg-candy-apple-red-400, .text-color.bg-candy-apple-red-400, .tc-candy-apple-red-400 , .tc\:candy-apple-red-400{
    color: var(--candy-apple-red-400);
}

.text\:color\:candy-apple-red-500, .text-color-candy-apple-red-500, .text\:color.bg-candy-apple-red-500, .text-color.bg-candy-apple-red-500, .tc-candy-apple-red-500 , .tc\:candy-apple-red-500{
    color: var(--candy-apple-red-500);
}

.text\:color\:candy-apple-red-600, .text-color-candy-apple-red-600, .text\:color.bg-candy-apple-red-600, .text-color.bg-candy-apple-red-600, .tc-candy-apple-red-600 , .tc\:candy-apple-red-600{
    color: var(--candy-apple-red-600);
}

.text\:color\:candy-apple-red-700, .text-color-candy-apple-red-700, .text\:color.bg-candy-apple-red-700, .text-color.bg-candy-apple-red-700, .tc-candy-apple-red-700 , .tc\:candy-apple-red-700{
    color: var(--candy-apple-red-700);
}

.text\:color\:candy-apple-red-800, .text-color-candy-apple-red-800, .text\:color.bg-candy-apple-red-800, .text-color.bg-candy-apple-red-800, .tc-candy-apple-red-800 , .tc\:candy-apple-red-800{
    color: var(--candy-apple-red-800);
}

.text\:color\:candy-apple-red-900, .text-color-candy-apple-red-900, .text\:color.bg-candy-apple-red-900, .text-color.bg-candy-apple-red-900, .tc-candy-apple-red-900 , .tc\:candy-apple-red-900{
    color: var(--candy-apple-red-900);
}

/* icon stiles */

.icon\:candy-apple-red-100, .icon.candy-apple-red-100 {
    display: inline-block;
    background: var(--candy-apple-red-100);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:candy-apple-red-200, .icon.candy-apple-red-200 {
    display: inline-block;
    background: var(--candy-apple-red-200);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:candy-apple-red-300, .icon.candy-apple-red-300 {
    display: inline-block;
    background: var(--candy-apple-red-300);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:candy-apple-red-400, .icon.candy-apple-red-400 {
    display: inline-block;
    background: var(--candy-apple-red-400);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:candy-apple-red-500, .icon.candy-apple-red-500 {
    display: inline-block;
    background: var(--candy-apple-red-500);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:candy-apple-red-600, .icon.candy-apple-red-600 {
    display: inline-block;
    background: var(--candy-apple-red-600);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:candy-apple-red-700, .icon.candy-apple-red-700 {
    display: inline-block;
    background: var(--candy-apple-red-700);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:candy-apple-red-800, .icon.candy-apple-red-800 {
    display: inline-block;
    background: var(--candy-apple-red-800);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:candy-apple-red-900, .icon.candy-apple-red-900 {
    display: inline-block;
    background: var(--candy-apple-red-900);
    background-size: cover;
    background-repeat: no-repeat;
}