@import url('cherryred/background.css');
@import url('cherryred/border.css');
@import url('cherryred/hover.css');
@import url('cherryred/icon.css');
@import url('cherryred/shadow.css');
@import url('cherryred/text.css');

:root {
    --cherry-100: hsl(0, 90%, 90%);
    --cherry-200: hsl(0, 90%, 80%);
    --cherry-300: hsl(0, 90%, 70%);
    --cherry-400: hsl(0, 90%, 60%);
    --cherry-500: hsl(0, 90%, 50%);
    --cherry-600: hsl(0, 90%, 40%);
    --cherry-700: hsl(0, 90%, 30%);
    --cherry-800: hsl(0, 90%, 20%);
    --cherry-900: hsl(0, 90%, 10%);
}