:root {
    --crimson-100: hsl(340, 100%, 98%); 
    --crimson-200: hsl(340, 100%, 90%);
    --crimson-300: hsl(340, 100%, 80%);
    --crimson-400: hsl(340, 100%, 70%);
    --crimson-500: hsl(340, 100%, 60%); 
    --crimson-600: hsl(340, 100%, 50%);
    --crimson-700: hsl(340, 100%, 40%);
    --crimson-800: hsl(340, 100%, 30%);
    --crimson-900: hsl(340, 100%, 20%); 
}

/* Crimson */
.bg\:crimson-100, .bg.crimson-100, .bg-crimson-100, .bg\:crimson\:100 {
    background-color: var(--crimson-100);
}

.bg\:crimson-200, .bg.crimson-200, .bg-crimson-200, .bg\:crimson\:200 {
    background-color: var(--crimson-200);
}

.bg\:crimson-300, .bg.crimson-300,.bg-crimson-300, .bg\:crimson\:300 {
    background-color: var(--crimson-300);
}
.bg\:crimson-400, .bg.crimson-400, .bg-crimson-400, .bg\:crimson\:400 {
    background-color: var(--crimson-400);
}

.bg\:crimson-500, .bg.crimson-500, .bg-crimson-500, .bg\:crimson\:500 {
    background-color: var(--crimson-500);
}

.bg\:crimson-600, .bg.crimson-600, .bg-crimson-600, .bg\:crimson\:600 {
    background-color: var(--crimson-600);
}

.bg\:crimson-700, .bg.crimson-700, .bg-crimson-700, .bg\:crimson\:700 {
    background-color: var(--crimson-700);
}

.bg\:crimson-800, .bg.crimson-800, .bg-crimson-800, .bg\:crimson\:800 {
    background-color: var(--crimson-800);
}

.bg\:crimson-900, .bg.crimson-900, .bg-crimson-900, .bg\:crimson\:900 {
    background-color: var(--crimson-900);
}

/*
 * 	
 *	Text Stiles
 *  
 */
 .text\:color\:crimson-100, .text-color-crimson-100, .text\:color.bg-crimson-100, .text-color.bg-crimson-100, .tc-crimson-100 , .tc\:crimson-100{
    color: var(--crimson-100);
}

.text\:color\:crimson-200, .text-color-crimson-200, .text\:color.bg-crimson-200, .text-color.bg-crimson-200, .tc-crimson-200 , .tc\:crimson-200{
    color: var(--crimson-200);
}

.text\:color\:crimson-300, .text-color-crimson-300, .text\:color.bg-crimson-300, .text-color.bg-crimson-300, .tc-crimson-300 , .tc\:crimson-300{
    color: var(--crimson-300);
}

.text\:color\:crimson-400, .text-color-crimson-400, .text\:color.bg-crimson-400, .text-color.bg-crimson-400, .tc-crimson-400 , .tc\:crimson-400{
    color: var(--crimson-400);
}

.text\:color\:crimson-500, .text-color-crimson-500, .text\:color.bg-crimson-500, .text-color.bg-crimson-500, .tc-crimson-500 , .tc\:crimson-500{
    color: var(--crimson-500);
}

.text\:color\:crimson-600, .text-color-crimson-600, .text\:color.bg-crimson-600, .text-color.bg-crimson-600, .tc-crimson-600 , .tc\:crimson-600{
    color: var(--crimson-600);
}

.text\:color\:crimson-700, .text-color-crimson-700, .text\:color.bg-crimson-700, .text-color.bg-crimson-700, .tc-crimson-700 , .tc\:crimson-700{
    color: var(--crimson-700);
}

.text\:color\:crimson-800, .text-color-crimson-800, .text\:color.bg-crimson-800, .text-color.bg-crimson-800, .tc-crimson-800 , .tc\:crimson-800{
    color: var(--crimson-800);
}

.text\:color\:crimson-900, .text-color-crimson-900, .text\:color.bg-crimson-900, .text-color.bg-crimson-900, .tc-crimson-900 , .tc\:crimson-900{
    color: var(--crimson-900);
}

/* icon stiles */

.icon\:crimson-100, .icon.crimson-100 {
    display: inline-block;
    background: var(--crimson-100);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:crimson-200, .icon.crimson-200 {
    display: inline-block;
    background: var(--crimson-200);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:crimson-300, .icon.crimson-300 {
    display: inline-block;
    background: var(--crimson-300);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:crimson-400, .icon.crimson-400 {
    display: inline-block;
    background: var(--crimson-400);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:crimson-500, .icon.crimson-500 {
    display: inline-block;
    background: var(--crimson-500);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:crimson-600, .icon.crimson-600 {
    display: inline-block;
    background: var(--crimson-600);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:crimson-700, .icon.crimson-700 {
    display: inline-block;
    background: var(--crimson-700);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:crimson-800, .icon.crimson-800 {
    display: inline-block;
    background: var(--crimson-800);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:crimson-900, .icon.crimson-900 {
    display: inline-block;
    background: var(--crimson-900);
    background-size: cover;
    background-repeat: no-repeat;
}