@import url('crimson/background.css');
@import url('crimson/border.css');
@import url('crimson/hover.css');
@import url('crimson/icon.css');
@import url('crimson/shadow.css');
@import url('crimson/text.css');

:root {
    --crimson-100: hsl(340, 100%, 98%); 
    --crimson-200: hsl(340, 100%, 90%);
    --crimson-300: hsl(340, 100%, 80%);
    --crimson-400: hsl(340, 100%, 70%);
    --crimson-500: hsl(340, 100%, 60%); 
    --crimson-600: hsl(340, 100%, 50%);
    --crimson-700: hsl(340, 100%, 40%);
    --crimson-800: hsl(340, 100%, 30%);
    --crimson-900: hsl(340, 100%, 20%); 
}