@import url('maroon/background.css');
@import url('maroon/border.css');
@import url('maroon/hover.css');
@import url('maroon/icon.css');
@import url('maroon/shadow.css');
@import url('maroon/text.css');

:root {
    --maroon-100: hsl(330, 100%, 65%);
    --maroon-200: hsl(330, 100%, 55%);
    --maroon-300: hsl(330, 100%, 45%);
    --maroon-400: hsl(330, 100%, 35%);
    --maroon-500: hsl(330, 100%, 25%);
    --maroon-600: hsl(330, 100%, 20%);
    --maroon-700: hsl(330, 100%, 15%);
    --maroon-800: hsl(330, 100%, 10%);
    --maroon-900: hsl(330, 95%, 10%);
}