:root {
    --maroon-100: hsl(330, 100%, 65%);
    --maroon-200: hsl(330, 100%, 55%);
    --maroon-300: hsl(330, 100%, 45%);
    --maroon-400: hsl(330, 100%, 35%);
    --maroon-500: hsl(330, 100%, 25%);
    --maroon-600: hsl(330, 100%, 20%);
    --maroon-700: hsl(330, 100%, 15%);
    --maroon-800: hsl(330, 100%, 10%);
    --maroon-900: hsl(330, 95%, 10%);
}

/* Maroon */
.bg\:maroon-100, .bg.maroon-100, .bg-maroon-100, .bg\:maroon\:100 {
    background-color: var(--maroon-100);
}

.bg\:maroon-200, .bg.maroon-200, .bg-maroon-200, .bg\:maroon\:200 {
    background-color: var(--maroon-200);
}

.bg\:maroon-300, .bg.maroon-300,.bg-maroon-300, .bg\:maroon\:300 {
    background-color: var(--maroon-300);
}
.bg\:maroon-400, .bg.maroon-400, .bg-maroon-400, .bg\:maroon\:400 {
    background-color: var(--maroon-400);
}

.bg\:maroon-500, .bg.maroon-500, .bg-maroon-500, .bg\:maroon\:500 {
    background-color: var(--maroon-500);
}

.bg\:maroon-600, .bg.maroon-600, .bg-maroon-600, .bg\:maroon\:600 {
    background-color: var(--maroon-600);
}

.bg\:maroon-700, .bg.maroon-700, .bg-maroon-700, .bg\:maroon\:700 {
    background-color: var(--maroon-700);
}

.bg\:maroon-800, .bg.maroon-800, .bg-maroon-800, .bg\:maroon\:800 {
    background-color: var(--maroon-800);
}

.bg\:maroon-900, .bg.maroon-900, .bg-maroon-900, .bg\:maroon\:900 {
    background-color: var(--maroon-900);
}

/*
 * 	
 *	Text Stiles
 *  
 */
 .text\:color\:maroon-100, .text-color-maroon-100, .text\:color.bg-maroon-100, .text-color.bg-maroon-100, .tc-maroon-100 , .tc\:maroon-100{
    color: var(--maroon-100);
}

.text\:color\:maroon-200, .text-color-maroon-200, .text\:color.bg-maroon-200, .text-color.bg-maroon-200, .tc-maroon-200 , .tc\:maroon-200{
    color: var(--maroon-200);
}

.text\:color\:maroon-300, .text-color-maroon-300, .text\:color.bg-maroon-300, .text-color.bg-maroon-300, .tc-maroon-300 , .tc\:maroon-300{
    color: var(--maroon-300);
}

.text\:color\:maroon-400, .text-color-maroon-400, .text\:color.bg-maroon-400, .text-color.bg-maroon-400, .tc-maroon-400 , .tc\:maroon-400{
    color: var(--maroon-400);
}

.text\:color\:maroon-500, .text-color-maroon-500, .text\:color.bg-maroon-500, .text-color.bg-maroon-500, .tc-maroon-500 , .tc\:maroon-500{
    color: var(--maroon-500);
}

.text\:color\:maroon-600, .text-color-maroon-600, .text\:color.bg-maroon-600, .text-color.bg-maroon-600, .tc-maroon-600 , .tc\:maroon-600{
    color: var(--maroon-600);
}

.text\:color\:maroon-700, .text-color-maroon-700, .text\:color.bg-maroon-700, .text-color.bg-maroon-700, .tc-maroon-700 , .tc\:maroon-700{
    color: var(--maroon-700);
}

.text\:color\:maroon-800, .text-color-maroon-800, .text\:color.bg-maroon-800, .text-color.bg-maroon-800, .tc-maroon-800 , .tc\:maroon-800{
    color: var(--maroon-800);
}

.text\:color\:maroon-900, .text-color-maroon-900, .text\:color.bg-maroon-900, .text-color.bg-maroon-900, .tc-maroon-900 , .tc\:maroon-900{
    color: var(--maroon-900);
}

/* icon stiles */

.icon\:maroon-100, .icon.maroon-100 {
    display: inline-block;
    background: var(--maroon-100);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:maroon-200, .icon.maroon-200 {
    display: inline-block;
    background: var(--maroon-200);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:maroon-300, .icon.maroon-300 {
    display: inline-block;
    background: var(--maroon-300);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:maroon-400, .icon.maroon-400 {
    display: inline-block;
    background: var(--maroon-400);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:maroon-500, .icon.maroon-500 {
    display: inline-block;
    background: var(--maroon-500);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:maroon-600, .icon.maroon-600 {
    display: inline-block;
    background: var(--maroon-600);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:maroon-700, .icon.maroon-700 {
    display: inline-block;
    background: var(--maroon-700);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:maroon-800, .icon.maroon-800 {
    display: inline-block;
    background: var(--maroon-800);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:maroon-900, .icon.maroon-900 {
    display: inline-block;
    background: var(--maroon-900);
    background-size: cover;
    background-repeat: no-repeat;
}