   @import url('crimson.css');
   @import url('candyapple.css');
   @import url('brickred.css');
   @import url('burgundy.css');
   @import url('cherryred.css');
   @import url('maroon.css');
   @import url('scarlett.css');
   
   :root {
   /* Reds */
    --red-100: hsl(0, 100%, 95%);
    --red-200: hsl(0, 100%, 90%);
    --red-300: hsl(0, 100%, 85%);
    --red-400: hsl(0, 100%, 80%);
    --red-500: hsl(0, 100%, 75%);
    --red-600: hsl(0, 100%, 70%);
    --red-700: hsl(0, 100%, 65%);
    --red-800: hsl(0, 100%, 60%);
    --red-900: hsl(0, 100%, 55%);

   }

   /* Reds */

.bg-red-100 {
   background-color: var(--red-100);
}

.bg-red-200 {
   background-color: var(--red-200);
}

.bg-red-300 {
   background-color: var(--red-300);
}

.bg-red-400 {
   background-color: var(--red-400);
}

.bg-red-500 {
   background-color: var(--red-500);
}

.bg-red-600 {
   background-color: var(--red-600);
}

.bg-red-700 {
   background-color: var(--red-700);
}

.bg-red-800 {
   background-color: var(--red-800);
}

.bg-red-900 {
   background-color: var(--red-900);
}

.text\:color.red-400 {
   color: var(--red-400);
}

