@import url('crimson.css');
@import url('candyapple.css');
@import url('brickred.css');
@import url('burgundy.css');
@import url('cherryred.css');
@import url('maroon.css');
@import url('scarlett.css');

   /* Element Styles */
@import url('red/background.css');
@import url('red/border.css');
@import url('red/hover.css');
@import url('red/icon.css');
@import url('red/shadow.css');
@import url('red/text.css');

   :root {
   /* Reds */
    --red-100: hsl(0, 100%, 95%);
    --red-200: hsl(0, 100%, 90%);
    --red-300: hsl(0, 100%, 85%);
    --red-400: hsl(0, 100%, 80%);
    --red-500: hsl(0, 100%, 75%);
    --red-600: hsl(0, 100%, 70%);
    --red-700: hsl(0, 100%, 65%);
    --red-800: hsl(0, 100%, 60%);
    --red-900: hsl(0, 100%, 55%);

   }