
/*Primary Background Stylings */
.bg\:primary {
    background-color: var(--primary);
}

.bg\:primary-light {
    background-color: var(--primary-light);
}

.bg\:secondary {
    background-color: var(--secondary);
}

.bg\:secondary-light {
    background-color: var(--secondary-light);
}

.bg\:light {
    background: var(--gray-200);
}

.bg\:dark {
    background: var(--black-800);
}
