#card {
    width: 50vw;
    height: 30vh;
    perspective: 1000px;
}

#inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1.5s;
}

#card:hover #inner {
    transform: rotateY(540deg);
}

/* Hide the back initially */
#card-front, #card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

#card-back {
    transform: rotateY(540deg);
}


/* Add custom card Animations */