:root {

    /*       Branding Colors            */
    
    --primary: #00D28A;
    --primary-light: #05EB9C;;
    --secondary: #39507E;
    --secondary-light: #556991;
    --tertiary: #707070;
    --tertiary-light: #9A9A9A;
    --warning: hsl(60, 100%, 85%);
    --danger: red;
    --info: turquoise;

    /* Gereral Styling */

    /* Reds */
    --red-100: hsl(0, 100%, 95%);
    --red-200: hsl(0, 100%, 90%);
    --red-300: hsl(0, 100%, 85%);
    --red-400: hsl(0, 100%, 80%);
    --red-500: hsl(0, 100%, 75%);
    --red-600: hsl(0, 100%, 70%);
    --red-700: hsl(0, 100%, 65%);
    --red-800: hsl(0, 100%, 60%);
    --red-900: hsl(0, 100%, 55%);

    --scarlett-100: hsl(5, 100%, 95%);
    --scarlett-200: hsl(5, 100%, 85%);
    --scarlett-300: hsl(5, 100%, 75%);
    --scarlett-400: hsl(5, 100%, 65%);
    --scarlett-500: hsl(5, 100%, 55%);
    --scarlett-600: hsl(5, 100%, 45%);
    --scarlett-700: hsl(5, 100%, 35%);
    --scarlett-800: hsl(5, 100%, 25%);
    --scarlett-900: hsl(5, 100%, 15%);

    --brick-red-100: hsl(0, 100%, 95%);
    --brick-red-200: hsl(0, 70%, 85%);
    --brick-red-300: hsl(0, 70%, 75%);
    --brick-red-400: hsl(0, 100%, 65%);
    --brick-red-500: hsl(0, 70%, 55%);
    --brick-red-600: hsl(0, 70%, 45%);
    --brick-red-700: hsl(0, 100%, 35%);
    --brick-red-800: hsl(0, 70%, 25%);
    --brick-red-900: hsl(0, 70%, 15%);

    --cherry-red-100: hsl(0, 90%, 90%);
    --cherry-red-200: hsl(0, 90%, 80%);
    --cherry-red-300: hsl(0, 90%, 70%);
    --cherry-red-400: hsl(0, 90%, 60%);
    --cherry-red-500: hsl(0, 90%, 50%);
    --cherry-red-600: hsl(0, 90%, 40%);
    --cherry-red-700: hsl(0, 90%, 30%);
    --cherry-red-800: hsl(0, 90%, 20%);
    --cherry-red-900: hsl(0, 90%, 10%);
    
    --crimson-100: hsl(340, 100%, 98%); 
    --crimson-200: hsl(340, 100%, 90%);
    --crimson-300: hsl(340, 100%, 80%);
    --crimson-400: hsl(340, 100%, 70%);
    --crimson-500: hsl(340, 100%, 60%); 
    --crimson-600: hsl(340, 100%, 50%);
    --crimson-700: hsl(340, 100%, 40%);
    --crimson-800: hsl(340, 100%, 30%);
    --crimson-900: hsl(340, 100%, 20%); 

    --candy-apple-red-100: hsl(10, 100%, 97%);
    --candy-apple-red-200: hsl(10, 100%, 90%);
    --candy-apple-red-300: hsl(10, 100%, 80%);
    --candy-apple-red-400: hsl(10, 100%, 70%);
    --candy-apple-red-500: hsl(10, 100%, 60%);
    --candy-apple-red-600: hsl(10, 100%, 50%);
    --candy-apple-red-700: hsl(10, 100%, 40%);
    --candy-apple-red-800: hsl(10, 100%, 30%);
    --candy-apple-red-900: hsl(10, 100%, 20%);

    --maroon-100: hsl(330, 100%, 65%);
    --maroon-200: hsl(330, 100%, 55%);
    --maroon-300: hsl(330, 100%, 45%);
    --maroon-400: hsl(330, 100%, 35%);
    --maroon-500: hsl(330, 100%, 25%);
    --maroon-600: hsl(330, 100%, 20%);
    --maroon-700: hsl(330, 100%, 15%);
    --maroon-800: hsl(330, 100%, 10%);
    --maroon-900: hsl(330, 95%, 10%);

    --burgundy-100: hsl(345, 100%, 65%);
    --burgundy-200: hsl(345, 100%, 55%);
    --burgundy-300: hsl(345, 100%, 40%);
    --burgundy-400: hsl(345, 100%, 35%);
    --burgundy-500: hsl(345, 100%, 25%);
    --burgundy-600: hsl(345, 100%, 20%);
    --burgundy-700: hsl(345, 100%, 15%);
    --burgundy-800: hsl(345, 100%, 10%);
    --burgundy-900: hsl(345, 95%, 10%);

    /* Oranges */

    --orange-100: hsl(20, 100%, 97%);
    --orange-200: hsl(20, 100%, 90%);
    --orange-300: hsl(20, 100%, 85%);
    --orange-400: hsl(20, 100%, 75%);
    --orange-500: hsl(20, 100%, 60%);
    --orange-600: hsl(20, 100%, 50%);
    --orange-700: hsl(20, 100%, 40%);
    --orange-800: hsl(20, 100%, 35%);
    --orange-900: hsl(20, 100%, 25%);

    --peach-100: hsl(30, 100%, 97%);
    --peach-200: hsl(30, 100%, 90%);
    --peach-300: hsl(30, 100%, 85%);
    --peach-400: hsl(30, 100%, 80%);
    --peach-500: hsl(30, 100%, 75%);
    --peach-600: hsl(30, 100%, 65%);
    --peach-700: hsl(30, 100%, 60%);
    --peach-800: hsl(30, 100%, 55%);
    --peach-900: hsl(30, 100%, 50%);

    --creamsicle-100: hsl(25, 80%, 97%);
    --creamsicle-200: hsl(25, 80%, 90%);
    --creamsicle-300: hsl(25, 80%, 85%);
    --creamsicle-400: hsl(25, 80%, 80%);
    --creamsicle-500: hsl(25, 80%, 75%);
    --creamsicle-600: hsl(25, 80%, 65%);
    --creamsicle-700: hsl(25, 80%, 60%);
    --creamsicle-800: hsl(25, 80%, 55%);
    --creamsicle-900: hsl(25, 80%, 50%);



    /* Blues */
    --blue-100: hsl(210, 80%, 95%);
    --blue-200: hsl(210, 80%, 90%);
    --blue-300: hsl(210, 80%, 85%);
    --blue-400: hsl(210, 80%, 80%);
    --blue-500: hsl(210, 80%, 75%);
    --blue-600: hsl(210, 80%, 70%);
    --blue-700: hsl(210, 80%, 65%);
    --blue-800: hsl(210, 80%, 60%);
    --blue-900: hsl(210, 80%, 55%);

    --cornflower-100: hsl(223, 73%, 75%);
    --cornflower-200: hsl(223, 73%, 70%);
    --cornflower-300: hsl(223, 73%, 60%);
    --cornflower-400: hsl(223, 73%, 55%);
    --cornflower-500: hsl(223, 73%, 50%);
    --cornflower-600: hsl(223, 73%, 45%);
    --cornflower-700: hsl(223, 73%, 40%);
    --cornflower-800: hsl(223, 73%, 35%);
    --cornflower-900: hsl(223, 73%, 30%);

    --royal-100: hsl(223, 100%, 70%);
    --royal-200: hsl(223, 100%, 64%);
    --royal-300: hsl(223, 100%, 58%);
    --royal-400: hsl(223, 100%, 52%);
    --royal-500: hsl(223, 100%, 46%);
    --royal-600: hsl(223, 100%, 40%);
    --royal-700: hsl(223, 100%, 34%);
    --royal-800: hsl(223, 100%, 28%);
    --royal-900: hsl(223, 100%, 22%);

    --sky-100: hsl(210, 100%, 80%);
    --sky-200: hsl(210, 100%, 70%);
    --sky-300: hsl(210, 100%, 60%);
    --sky-400: hsl(210, 100%, 50%);
    --sky-500: hsl(210, 100%, 40%);
    --sky-600: hsl(210, 100%, 30%);
    --sky-700: hsl(210, 100%, 25%);
    --sky-800: hsl(210, 100%, 20%);
    --sky-900: hsl(210, 100%, 15%);

    --morning-blue-100: hsl(191, 77%, 90%);
    --morning-blue-200: hsl(191, 77%, 80%);
    --morning-blue-300: hsl(191, 77%, 70%);
    --morning-blue-400: hsl(191, 77%, 60%);
    --morning-blue-500: hsl(191, 77%, 50%);
    --morning-blue-600: hsl(191, 77%, 40%);
    --morning-blue-700: hsl(191, 77%, 30%);
    --morning-blue-800: hsl(191, 77%, 25%);
    --morning-blue-900: hsl(191, 77%, 20%);


    /* Greens */
    --green-100: hsl(140, 50%, 95%);
    --green-200: hsl(140, 50%, 90%);
    --green-300: hsl(140, 50%, 85%);
    --green-400: hsl(140, 50%, 80%);
    --green-500: hsl(140, 50%, 75%);
    --green-600: hsl(140, 50%, 70%);
    --green-700: hsl(140, 50%, 65%);
    --green-800: hsl(140, 50%, 60%);
    --green-900: hsl(140, 50%, 55%);

    --wintergreen-100: hsl(152, 99%, 80%);
    --wintergreen-200: hsl(152, 99%, 70%);
    --wintergreen-300: hsl(152, 99%, 60%);
    --wintergreen-400: hsl(152, 99%, 50%);
    --wintergreen-500: hsl(152, 99%, 40%);
    --wintergreen-600: hsl(152, 99%, 30%);
    --wintergreen-700: hsl(152, 99%, 25%);
    --wintergreen-800: hsl(152, 99%, 20%);
    --wintergreen-900: hsl(152, 99%, 15%);

    --fresh-green-100: hsl(121, 100%, 90%);
    --fresh-green-200: hsl(121, 100%, 80%);
    --fresh-green-300: hsl(121, 100%, 70%);
    --fresh-green-400: hsl(121, 100%, 60%);
    --fresh-green-500: hsl(121, 100%, 50%);
    --fresh-green-600: hsl(121, 100%, 40%);
    --fresh-green-700: hsl(121, 100%, 30%);
    --fresh-green-800: hsl(121, 100%, 25%);
    --fresh-green-900: hsl(121, 100%, 20%);

    --lime-100: hsl(99, 70%, 90%);
    --lime-200: hsl(99, 70%, 80%);
    --lime-300: hsl(99, 70%, 70%);
    --lime-400: hsl(99, 70%, 60%);
    --lime-500: hsl(99, 70%, 50%);
    --lime-600: hsl(99, 70%, 40%);
    --lime-700: hsl(99, 70%, 30%);
    --lime-800: hsl(99, 70%, 20%);
    --lime-900: hsl(99, 70%, 15%);


    /* Yellows */
    --yellow-100: hsl(60, 100%, 95%);
    --yellow-200: hsl(60, 100%, 90%);
    --yellow-300: hsl(60, 100%, 85%);
    --yellow-400: hsl(60, 100%, 80%);
    --yellow-500: hsl(60, 100%, 75%);
    --yellow-600: hsl(60, 100%, 70%);
    --yellow-700: hsl(60, 100%, 65%);
    --yellow-800: hsl(60, 100%, 60%);
    --yellow-900: hsl(60, 100%, 55%);

    --dandelion-100: hsl(55, 100%, 80%);
    --dandelion-200: hsl(55, 100%, 70%);
    --dandelion-300: hsl(55, 100%, 60%);
    --dandelion-400: hsl(55, 100%, 55%);
    --dandelion-500: hsl(55, 100%, 50%);
    --dandelion-600: hsl(55, 100%, 45%);
    --dandelion-700: hsl(55, 100%, 35%);
    --dandelion-800: hsl(55, 100%, 30%);
    --dandelion-900: hsl(55, 100%, 25%);


    /*   Purples   */

    --purple-100: hsl(255, 100%, 95%);
    --purple-200: hsl(255, 100%, 90%);
    --purple-300: hsl(255, 100%, 85%);
    --purple-400: hsl(255, 100%, 80%);
    --purple-500: hsl(255, 100%, 75%);
    --purple-600: hsl(255, 100%, 70%);
    --purple-700: hsl(255, 100%, 65%);
    --purple-800: hsl(255, 100%, 60%);
    --purple-900: hsl(255, 100%, 55%);

    /*    Pinks   */

    --pink-100: hsl(300, 100%, 95%);
    --pink-200: hsl(300, 100%, 90%);
    --pink-300: hsl(300, 100%, 85%);
    --pink-400: hsl(300, 100%, 80%);
    --pink-500: hsl(300, 100%, 75%);
    --pink-600: hsl(300, 100%, 70%);
    --pink-700: hsl(300, 100%, 65%);
    --pink-800: hsl(300, 100%, 60%);
    --pink-900: hsl(300, 100%, 45%);

    --bubblegum-100: hsl(310, 100%, 90%);
    --bubblegum-200: hsl(310, 100%, 80%);
    --bubblegum-300: hsl(310, 100%, 70%);
    --bubblegum-400: hsl(310, 100%, 60%);
    --bubblegum-500: hsl(310, 100%, 50%);
    --bubblegum-600: hsl(310, 100%, 40%);
    --bubblegum-700: hsl(310, 100%, 30%);
    --bubblegum-800: hsl(310, 100%, 25%);
    --bubblegum-900: hsl(310, 100%, 20%);


    /* Browns */



    /* Grays */
    --gray-100: hsl(0, 0%, 95%);
    --gray-200: hsl(0, 0%, 90%);
    --gray-300: hsl(0, 0%, 85%);
    --gray-400: hsl(0, 0%, 80%);
    --gray-500: hsl(0, 0%, 75%);
    --gray-600: hsl(0, 0%, 70%);
    --gray-700: hsl(0, 0%, 65%);
    --gray-800: hsl(0, 0%, 60%);
    --gray-900: hsl(0, 0%, 55%);

    --concrete-100: hsl(0, 5%, 95%);
    --concrete-200: hsl(0, 5%, 90%);
    --concrete-300: hsl(0, 5%, 85%);
    --concrete-400: hsl(0, 5%, 80%);
    --concrete-500: hsl(0, 5%, 75%);
    --concrete-600: hsl(0, 5%, 70%);
    --concrete-700: hsl(0, 5%, 65%);
    --concrete-800: hsl(0, 5%, 60%);
    --concrete-900: hsl(0, 5%, 55%);

    /* Blacks */
    --black-100: hsl(0, 0%, 50%);
    --black-200: hsl(0, 0%, 45%);
    --black-300: hsl(0, 0%, 40%);
    --black-400: hsl(0, 0%, 35%);
    --black-500: hsl(0, 0%, 30%);
    --black-600: hsl(0, 0%, 25%);
    --black-700: hsl(0, 0%, 20%);
    --black-800: hsl(0, 0%, 15%);
    --black-900: hsl(0, 0%, 10%);

    --onyx-100: hsl(0, 5%, 50%);
    --onyx-200: hsl(0, 5%, 45%);
    --onyx-300: hsl(0, 5%, 40%);
    --onyx-400: hsl(0, 5%, 35%);
    --onyx-500: hsl(0, 5%, 30%);
    --onyx-600: hsl(0, 5%, 25%);
    --onyx-700: hsl(0, 5%, 20%);
    --onyx-800: hsl(0, 5%, 15%);
    --onyx-900: hsl(0, 5%, 10%);

    --obsidian-100: hsl(0, 3%, 50%);
    --obsidian-200: hsl(0, 3%, 45%);
    --obsidian-300: hsl(0, 3%, 40%);
    --obsidian-400: hsl(0, 3%, 35%);
    --obsidian-500: hsl(0, 3%, 30%);
    --obsidian-600: hsl(0, 3%, 25%);
    --obsidian-700: hsl(0, 3%, 20%);
    --obsidian-800: hsl(0, 3%, 15%);
    --obsidian-900: hsl(0, 3%, 10%);
}