.inline {
    display: inline;
}

.inline\:block{
    display: inline-block;
}

.il\:block{
    display: inline-block;
}

.inline\:flex{
    display: inline-flex;
}

.il\:flex{
    display: inline-flex;
}

.block{
    display: block;
}

.bl {
    display: block;
}

.table {
    display: table;   
}

.tb {
    display: table;
}

.dis\:none{
    display: none;
}

.float\:left {
    display: absolute;
    margin-left: 0;
    margin-right: auto;
    margin-top: -5px;
}

.float\:right {
    display: absolute;
    margin-left: auto;
    margin-right: 0;
    margin-top: -5px;
}

.float.right {
    float: right;
}

.scroll {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.scroll-auto {
    overflow-y: scroll;
    scroll-behavior: auto;
}

@media(max-width: 768px){
    .mob\:scroll {
        overflow-y: auto;
        scroll-behavior: smooth;
    }
}