.inline {
    display: inline;
}

.inline\:block{
    display: inline-block;
}

.il\:block{
    display: inline-block;
}

.inline\:flex{
    display: inline-flex;
}

.il\:flex{
    display: inline-flex;
}

.block{
    display: block;
}

.bl {
    display: block;
}

.table {
    display: table;   
}

.tb {
    display: table;
}

.dis\:none{
    display: none;
}
