.flex {
    display: flex;
}

.ai-center {
    align-items: center;
}

.ai-left {
    align-items: left;
}

.ai-right {
    align-items: right;
}

.ai-start {
    align-items: flex-start;
}

.ai-end {
    align-items: flex-end;
}

.ai-stretch {
    align-items: stretch;
}

.ac-center {
    align-content: center;
}

.ac-left {
    align-content: left;
}

.ac-right {
    align-content: right;
}

.ac-between {
    align-content: space-between;
}

.ac-between {
    align-content: space-around;
}

.ac-evenly {
    align-content: space-evenly;
}

.fw-rev {
    flex-wrap: wrap-reverse;
}

.fw-nw {
    flex-wrap: nowrap;
}

.fw-wrap {
    flex-wrap: wrap;
}

.as-center {
    align-self: center;
}

.as-left {
    align-self: left;
}

.as-right {
    align-self: right;
}


.gr-1 {
    flex-grow: 1;
}

.gr-2 {
    flex-grow: 2;
}

.gr-3 {
    flex-grow: 3;
}

.row {
    flex-direction: row;
}

.row-rev {
    flex-direction: row-reverse;
}

.col {
    flex-direction: column;
}

.col-rev {
    flex-direction: column-reverse;
}

.even {
    justify-content: space-evenly;
}

.between {
    justify-content: space-between;
}

.around {
    justify-content: space-around;
}