/* 

This changes to specific fill and other SVG related styling
No more storing icons directly in CSS

*/

[class *= "icon:primary"]{
    fill: var(--primary);
}

[class *= "icon:secondary"]{
    fill: var(--secondary);
}

[class *= "icon:red"]{
    fill: red;
}

[class *= "icon:list:blue-green-700"]{
    height: 24px;
    width: 24px;
    display: inline-block;
    background: var(--blue-green-700);
    background-size: contain;
    -webkit-mask-image: url('../icons/material/home.svg');
    mask-image: url('../icons/material/home.svg');
}

[class *= "icon:list:maroon-700"]{
    height: 24px;
    width: 24px;
    display: inline-block;
    background: var(--maroon-700);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-mask-image: url('../icons/material/home.svg');
    mask-image: url('../icons/material/home.svg');
}