/* NORMALIZE.CSS is below */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  min-width: 100vw;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}


/* Elements that don't have a class get default styles */
a:not([class]) {
  --moz-text-decoration-skip-link: auto;
  --o-text-decoration-skip-link: auto;
  --webkit-text-decoration-skip-link: auto;
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


h1, h2, h3, h4, h5, h6, th {
  font-family: "korolev-rounded", sans-serif;
  font-weight: 500;
  font-style: normal;
}

p, a, li[class], label, span, code, blockquote, button, td {
  font-family: "korolev", sans-serif;
  font-weight: 300;
  font-style: normal;
}





