.relative {
    position: relative;
}

.rel {
    position: relative;
}

.sticky {
    position: sticky;
}

.static {
    position: static;
}

.absolute {
    position: absolute;
}

.abs {
    position: absolute;
}

.top {
    top:0.2rem;
}

.left {
    left: 0.2rem;
}

.right {
    right: 0.2rem;
}

.bot {
    bottom: 0.2rem;
}

