/* Spacing Styles */

.rp-1 {
    padding: 0.2rem;
}

[class *= "p:rel-1"]{
    padding: 0.2rem;
}


.rp-2 {
    padding: 0.4rem;
}

[class *= "p:rel-2"]{
    padding: 0.4rem;
}

.rp-3 {
    padding: 0.6rem;
}

.rp-4 {
    padding: 0.8rem;
}

.rp-5 {
    padding: 1rem;
}

.rp-6 {
    padding: 1.2rem;
}

.rp-7 {
    padding: 1.4rem;
}

.rp-8 {
    padding: 1.6rem;
}

.rp-9 {
    padding: 1.8rem;
}

.rp-10 {
    padding: 2rem;
}
.pl-1 {
    padding-left: 0.2rem;
}

.pl-2 {
    padding-left: 0.4rem;
}

.pl-3 {
    padding-left: 0.6rem;
}

.pl-4 {
    padding-left: 0.8rem;
}

.pl-5 {
    padding-left: 1rem;
}

.pr-1 {
    padding-right: 0.2rem;
}

.pr-2 {
    padding-right: 0.4rem;
}

.pr-3 {
    padding-right: 0.6rem;
}

.pr-4 {
    padding-right: 0.8rem;
}

.pr-5 {
    padding-right: 1rem;
}

.pt-1 {
    padding-top: 0.2rem;
}

.pt-2 {
    padding-top: 0.4rem;
}

.pt-3 {
    padding-top: 0.6rem;
}

.pt-4 {
    padding-top: 0.8rem;
}

.pt-5 {
    padding-top: 1rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.m-1 {
    margin: 0.2rem;
}

.ml-1 {
    margin-left: 0.2rem;
}

.ml-2 {
    margin-left: 0.4rem;
}

.ml-3 {
    margin-left: 0.6rem;
}

.ml-4 {
    margin-left: 0.8rem;
}

.ml-5 {
    margin-left: 1rem;
}

.mr-1 {
    margin-right: 0.2rem;
}

.mr-2 {
    margin-right: 0.4rem;
}

.mr-3 {
    margin-right: 0.6rem;
}

.mr-4 {
    margin-right: 0.8rem;
}

.mr-5 {
    margin-right: 1rem;
}


.mt-1 {
    margin-top: 0.2rem;
}

.mb-1 {
    margin-bottom: 0.2rem;
}

.m-2 {
    margin: 0.4rem;
}

.m-3 {
    margin: 0.6rem;
}

.m-4 {
    margin: 0.8rem;
}

.m-5 {
    margin: 1rem;
}