/* Brand */
.text\:font\:primary {
    font-family: var(--primary-font);
}

.text\:font\:light {
    font-family: var(--light-font);
}


/* Base Text Styles */
.list-none {
    list-style: none;
    text-decoration: none;
}

.list\:none {
    list-style: none;
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.text\:center {
    text-align: center;
}

.text-left{
    text-align: left;
}

.text\:left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text\:right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.text\:justify {
    text-align: justify;
}

.text\:color\:primary {
    color: var(--primary);
}

.text\:color\:secondary {
    color: var(--secondary);
}

.text-light {
    font-family: var(--light-font);
}

.text\:light {
    font-family: var(--light-font);
}

.text\:white {
    color: white;
}

.text\:white\:faded {
    color: hsla(360, 100%, 100%, 0.5);
}

.text\:black {
    color: var(--black-700);
}

.text\:black\:matte {
    color: var(--black-400);
}

.text\:gray {
    color: var(--gray-500);
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.strike {
    text-decoration: line-through;
}


/* Sizing */
.text\:sm{
    font-size: 0.75rem;
}

.text\:md{
    font-size: 1rem;
}

.text\:lg{
    font-size: 1.5rem;
}

.text\:xlg{
    font-size: 2rem;
}

.text\:xxlg{
    font-size: 2.75rem;
}