/* Base Text Styles */
.list-none {
    list-style: none;
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.text-primary {
    color: var(--primary);
}

.text-secondary {
    color: var(--secondary);
}

.text-light {
    font-family: var(--light-font);
}

.text-white {
    color: white;
}

.text-white-faded {
    color: hsla(360, 100%, 100%, 0.2);
}

.text-black {
    color: var(--black-700);
}

.text-matte-black {
    color: var(--black-400);
}

.text-gray {
    color: var(--gray-500);
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.strike {
    text-decoration: line-through;
}


/* Sizing */
.txt\:sm{
    font-size: 0.8rem;
}

.txt\:md{
    font-size: 1rem;
}

.text\:lg{
    font-size: 1.2rem;
}

.text\:xlg{
    font-size: 1.5rem;
}

.text\:xxlg{
    font-size: 1.75rem;
}