/* 

    w:[min max]:[value][px,vw,%]: [value] -- w:min:100px or w:max:100vw / w:max:full

*/

/* 

    w:[min max]:[value][px,vw,%]: [value] -- w:min:100px or w:max:100vw / w:max:full

*/

.w\:1 {
    width: 1vw;
}

.w\:2 {
    width: 2vw;
}

.w\:3 {
    width: 3vw;
}

.w\:4 {
    width: 4vw;
}

.w\:5 {
    width: 5vw;
}

.w\:6 {
    width: 6vw;
}

.w\:7 {
    width: 7vw;
}

.w\:8 {
    width: 8vw;
}

.w\:9 {
    width: 9vw;
}

.w\:10 {
    width: 10vw;
}

.w\:11 {
    width: 11vw;
}

.w\:12 {
    width: 12vw;
}

.w\:13 {
    width: 13vw;
}

.w\:14 {
    width: 14vw;
}

.w\:15 {
    width: 15vw;
}

.w\:16 {
    width: 16vw;
}

.w\:17 {
    width: 17vw;
}

.w\:18 {
    width: 18vw;
}

.w\:19 {
    width: 19vw;
}

.w\:20 {
    width: 20vw;
}

.w\:21 {
    width: 21vw;
}

.w\:22 {
    width: 22vw;
}

.w\:23 {
    width: 23vw;
}

.w\:24 {
    width: 24vw;
}

.w\:25 {
    width: 25vw;
}

.w\:26 {
    width: 26vw;
}

.w\:27 {
    width: 27vw;
}

.w\:28 {
    width: 28vw;
}

.w\:29 {
    width: 29vw;
}

.w\:30 {
    width: 30vw;
}

.w\:31 {
    width: 31vw;
}

.w\:32 {
    width: 32vw;
}

.w\:33 {
    width: 33vw;
}

.w\:34 {
    width: 34vw;
}

.w\:35 {
    width: 35vw;
}

.w\:36 {
    width: 36vw;
}

.w\:37 {
    width: 37vw;
}

.w\:38 {
    width: 38vw;
}

.w\:39 {
    width: 39vw;
}

.w\:40 {
    width: 40vw;
}

.w\:41 {
    width: 41vw;
}

.w\:42 {
    width: 42vw;
}

.w\:43 {
    width: 43vw;
}

.w\:44 {
    width: 44vw;
}

.w\:45 {
    width: 45vw;
}

.w\:46 {
    width: 46vw;
}

.w\:47 {
    width: 47vw;
}

.w\:48 {
    width: 48vw;
}

.w\:49 {
    width: 49vw;
}


.w\:half {
    width: 50vw;
}

.w\:55 {
    width: 55vw;
}

.w\:56 {
    width: 56vw;
}

.w\:57 {
    width: 57vw;
}

.w\:57 {
    width: 57vw;
}

.w\:58 {
    width: 58vw;
}

.w\:59 {
    width: 59vw;
}

.w\:60 {
    width: 60vw;
}

.w\:61 {
    width: 61vw;
}

.w\:62 {
    width: 62vw;
}

.w\:63 {
    width: 63vw;
}

.w\:64 {
    width: 64vw;
}

.w\:65 {
    width: 65vw;
}

.w\:66 {
    width: 66vw;
}

.w\:67 {
    width: 67vw;
}

.w\:68 {
    width: 68vw;
}

.w\:69 {
    width: 69vw;
}

.w\:70 {
    width: 70vw;
}

.w\:71 {
    width: 71vw;
}

.w\:72 {
    width: 72vw;
}

.w\:73 {
    width: 73vw;
}

.w\:74 {
    width: 74vw;
}

.w\:75 {
    width: 75vw;
}

.w\:76 {
    width: 76vw;
}

.w\:77 {
    width: 77vw;
}

.w\:78 {
    width: 78vw;
}

.w\:79 {
    width: 79vw;
}

.w\:80 {
    width: 80vw;
}

.w\:81 {
    width: 81vw;
}

.w\:82 {
    width: 82vw;
}

.w\:83 {
    width: 83vw;
}

.w\:84 {
    width: 84vw;
}

.w\:85 {
    width: 85vw;
}

.w\:86 {
    width: 86vw;
}

.w\:87 {
    width: 87vw;
}

.w\:88 {
    width: 88vw;
}

.w\:89 {
    width: 89vw;
}

.w\:90 {
    width: 90vw;
}

.w\:91 {
    width: 91vw;
}

.w\:92 {
    width: 92vw;
}

.w\:93 {
    width: 93vw;
}

.w\:94 {
    width: 94vw;
}

.w\:95 {
    width: 95vw;
}

.w\:96 {
    width: 96vw;
}

.w\:97 {
    width: 97vw;
}

.w\:98 {
    width: 98vw;
}

.w\:99 {
    width: 99vw;
}

.w\:full {
    width: 100vw;
}

.w\:max\:1 {
    max-width: 1vw;
}

.w\:max\:2 {
    max-width: 2vw;
}

.w\:max\:3 {
    max-width: 3vw;
}

.w\:max\:4 {
    max-width: 4vw;
}

.w\:max\:5 {
    max-width: 5vw;
}

.w\:max\:6 {
    max-width: 6vw;
}

.w\:max\:7 {
    max-width: 7vw;
}

.w\:max\:8 {
    max-width: 8vw;
}

.w\:max\:9 {
    max-width: 9vw;
}

.w\:max\:10 {
    max-width: 10vw;
}

.w\:max\:11 {
    max-width: 11vw;
}

.w\:max\:12 {
    max-width: 12vw;
}

.w\:max\:13 {
    max-width: 13vw;
}

.w\:max\:14 {
    max-width: 14vw;
}

.w\:max\:15 {
    max-width: 15vw;
}

.w\:max\:16 {
    max-width: 16vw;
}

.w\:max\:17 {
    max-width: 17vw;
}

.w\:max\:18 {
    max-width: 18vw;
}

.w\:max\:19 {
    max-width: 19vw;
}

.w\:max\:20 {
    max-width: 20vw;
}

.w\:max\:21 {
    max-width: 21vw;
}

.w\:max\:22 {
    max-width: 22vw;
}

.w\:max\:23 {
    max-width: 23vw;
}

.w\:max\:24 {
    max-width: 24vw;
}

.w\:max\:25 {
    max-width: 25vw;
}

.w\:max\:26 {
    max-width: 26vw;
}

.w\:max\:27 {
    max-width: 27vw;
}

.w\:max\:28 {
    max-width: 28vw;
}

.w\:max\:29 {
    max-width: 29vw;
}

.w\:max\:30 {
    max-width: 30vw;
}

.w\:max\:31 {
    max-width: 31vw;
}

.w\:max\:32 {
    max-width: 32vw;
}

.w\:max\:33 {
    max-width: 33vw;
}

.w\:max\:34 {
    max-width: 34vw;
}

.w\:max\:35 {
    max-width: 35vw;
}

.w\:max\:36 {
    max-width: 36vw;
}

.w\:max\:37 {
    max-width: 37vw;
}

.w\:max\:38 {
    max-width: 38vw;
}

.w\:max\:39 {
    max-width: 39vw;
}

.w\:max\:40 {
    max-width: 40vw;
}

.w\:max\:41 {
    max-width: 41vw;
}

.w\:max\:42 {
    max-width: 42vw;
}

.w\:max\:43 {
    max-width: 43vw;
}

.w\:max\:44 {
    max-width: 44vw;
}

.w\:max\:45 {
    max-width: 45vw;
}

.w\:max\:46 {
    max-width: 46vw;
}

.w\:max\:47 {
    max-width: 47vw;
}

.w\:max\:48 {
    max-width: 48vw;
}

.w\:max\:49 {
    max-width: 49vw;
}


.w\:max\:half {
    max-width: 50vw;
}

.w\:max\:55 {
    max-width: 55vw;
}

.w\:max\:56 {
    max-width: 56vw;
}

.w\:max\:57 {
    max-width: 57vw;
}

.w\:max\:57 {
    max-width: 57vw;
}

.w\:max\:58 {
    max-width: 58vw;
}

.w\:max\:59 {
    max-width: 59vw;
}

.w\:max\:60 {
    max-width: 60vw;
}

.w\:max\:61 {
    max-width: 61vw;
}

.w\:max\:62 {
    max-width: 62vw;
}

.w\:max\:63 {
    max-width: 63vw;
}

.w\:max\:64 {
    max-width: 64vw;
}

.w\:max\:65 {
    max-width: 65vw;
}

.w\:max\:66 {
    max-width: 66vw;
}

.w\:max\:67 {
    max-width: 67vw;
}

.w\:max\:68 {
    max-width: 68vw;
}

.w\:max\:69 {
    max-width: 69vw;
}

.w\:max\:70 {
    max-width: 70vw;
}

.w\:max\:71 {
    max-width: 71vw;
}

.w\:max\:72 {
    max-width: 72vw;
}

.w\:max\:73 {
    max-width: 73vw;
}

.w\:max\:74 {
    max-width: 74vw;
}

.w\:max\:75 {
    max-width: 75vw;
}

.w\:max\:76 {
    max-width: 76vw;
}

.w\:max\:77 {
    max-width: 77vw;
}

.w\:max\:78 {
    max-width: 78vw;
}

.w\:max\:79 {
    max-width: 79vw;
}

.w\:max\:80 {
    max-width: 80vw;
}

.w\:max\:81 {
    max-width: 81vw;
}

.w\:max\:82 {
    max-width: 82vw;
}

.w\:max\:83 {
    max-width: 83vw;
}

.w\:max\:84 {
    max-width: 84vw;
}

.w\:max\:85 {
    max-width: 85vw;
}

.w\:max\:86 {
    max-width: 86vw;
}

.w\:max\:87 {
    max-width: 87vw;
}

.w\:max\:88 {
    max-width: 88vw;
}

.w\:max\:89 {
    max-width: 89vw;
}

.w\:max\:90 {
    max-width: 90vw;
}

.w\:max\:91 {
    max-width: 91vw;
}

.w\:max\:92 {
    max-width: 92vw;
}

.w\:max\:93 {
    max-width: 93vw;
}

.w\:max\:94 {
    max-width: 94vw;
}

.w\:max\:95 {
    max-width: 95vw;
}

.w\:max\:96 {
    max-width: 96vw;
}

.w\:max\:97 {
    max-width: 97vw;
}

.w\:max\:98 {
    max-width: 98vw;
}

.w\:max\:99 {
    max-width: 99vw;
}

.w\:max\:full {
    max-width: 100vw;
}

/* 
    minimum
*/

.w\:min\:1 {
    min-width: 1vw;
}

.w\:min\:2 {
    min-width: 2vw;
}

.w\:min\:3 {
    min-width: 3vw;
}

.w\:min\:4 {
    min-width: 4vw;
}

.w\:min\:5 {
    min-width: 5vw;
}

.w\:min\:6 {
    min-width: 6vw;
}

.w\:min\:7 {
    min-width: 7vw;
}

.w\:min\:8 {
    min-width: 8vw;
}

.w\:min\:9 {
    min-width: 9vw;
}

.w\:min\:10 {
    min-width: 10vw;
}

.w\:min\:11 {
    min-width: 11vw;
}

.w\:min\:12 {
    min-width: 12vw;
}

.w\:min\:13 {
    min-width: 13vw;
}

.w\:min\:14 {
    min-width: 14vw;
}

.w\:min\:15 {
    min-width: 15vw;
}

.w\:min\:16 {
    min-width: 16vw;
}

.w\:min\:17 {
    min-width: 17vw;
}

.w\:min\:18 {
    min-width: 18vw;
}

.w\:min\:19 {
    min-width: 19vw;
}

.w\:min\:20 {
    min-width: 20vw;
}

.w\:min\:21 {
    min-width: 21vw;
}

.w\:min\:22 {
    min-width: 22vw;
}

.w\:min\:23 {
    min-width: 23vw;
}

.w\:min\:24 {
    min-width: 24vw;
}

.w\:min\:25 {
    min-width: 25vw;
}

.w\:min\:26 {
    min-width: 26vw;
}

.w\:min\:27 {
    min-width: 27vw;
}

.w\:min\:28 {
    min-width: 28vw;
}

.w\:min\:29 {
    min-width: 29vw;
}

.w\:min\:30 {
    min-width: 30vw;
}

.w\:min\:31 {
    min-width: 31vw;
}

.w\:min\:32 {
    min-width: 32vw;
}

.w\:min\:33 {
    min-width: 33vw;
}

.w\:min\:34 {
    min-width: 34vw;
}

.w\:min\:35 {
    min-width: 35vw;
}

.w\:min\:36 {
    min-width: 36vw;
}

.w\:min\:37 {
    min-width: 37vw;
}

.w\:min\:38 {
    min-width: 38vw;
}

.w\:min\:39 {
    min-width: 39vw;
}

.w\:min\:40 {
    min-width: 40vw;
}

.w\:min\:41 {
    min-width: 41vw;
}

.w\:min\:42 {
    min-width: 42vw;
}

.w\:min\:43 {
    min-width: 43vw;
}

.w\:min\:44 {
    min-width: 44vw;
}

.w\:min\:45 {
    min-width: 45vw;
}

.w\:min\:46 {
    min-width: 46vw;
}

.w\:min\:47 {
    min-width: 47vw;
}

.w\:min\:48 {
    min-width: 48vw;
}

.w\:min\:49 {
    min-width: 49vw;
}


.w\:min\:half {
    min-width: 50vw;
}

.w\:min\:55 {
    min-width: 55vw;
}

.w\:min\:56 {
    min-width: 56vw;
}

.w\:min\:57 {
    min-width: 57vw;
}

.w\:min\:57 {
    min-width: 57vw;
}

.w\:min\:58 {
    min-width: 58vw;
}

.w\:min\:59 {
    min-width: 59vw;
}

.w\:min\:60 {
    min-width: 60vw;
}

.w\:min\:61 {
    min-width: 61vw;
}

.w\:min\:62 {
    min-width: 62vw;
}

.w\:min\:63 {
    min-width: 63vw;
}

.w\:min\:64 {
    min-width: 64vw;
}

.w\:min\:65 {
    min-width: 65vw;
}

.w\:min\:66 {
    min-width: 66vw;
}

.w\:min\:67 {
    min-width: 67vw;
}

.w\:min\:68 {
    min-width: 68vw;
}

.w\:min\:69 {
    min-width: 69vw;
}

.w\:min\:70 {
    min-width: 70vw;
}

.w\:min\:71 {
    min-width: 71vw;
}

.w\:min\:72 {
    min-width: 72vw;
}

.w\:min\:73 {
    min-width: 73vw;
}

.w\:min\:74 {
    min-width: 74vw;
}

.w\:min\:75 {
    min-width: 75vw;
}

.w\:min\:76 {
    min-width: 76vw;
}

.w\:min\:77 {
    min-width: 77vw;
}

.w\:min\:78 {
    min-width: 78vw;
}

.w\:min\:79 {
    min-width: 79vw;
}

.w\:min\:80 {
    min-width: 80vw;
}

.w\:min\:81 {
    min-width: 81vw;
}

.w\:min\:82 {
    min-width: 82vw;
}

.w\:min\:83 {
    min-width: 83vw;
}

.w\:min\:84 {
    min-width: 84vw;
}

.w\:min\:85 {
    min-width: 85vw;
}

.w\:min\:86 {
    min-width: 86vw;
}

.w\:min\:87 {
    min-width: 87vw;
}

.w\:min\:88 {
    min-width: 88vw;
}

.w\:min\:89 {
    min-width: 89vw;
}

.w\:min\:90 {
    min-width: 90vw;
}

.w\:min\:91 {
    min-width: 91vw;
}

.w\:min\:92 {
    min-width: 92vw;
}

.w\:min\:93 {
    min-width: 93vw;
}

.w\:min\:94 {
    min-width: 94vw;
}

.w\:min\:95 {
    min-width: 95vw;
}

.w\:min\:96 {
    min-width: 96vw;
}

.w\:min\:97 {
    min-width: 97vw;
}

.w\:min\:98 {
    min-width: 98vw;
}

.w\:min\:99 {
    min-width: 99vw;
}

.w\:min\:full {
    min-width: 100vw;
}

/* 
    \%ERCENTAGE
*/

.w-1\% {
    width: 1%;
}

.w-2\% {
    width: 2%;
}

.w-3\% {
    width: 3%;
}

.w-4\% {
    width: 4%;
}

.w-5\% {
    width: 5%;
}

.w-6\% {
    width: 6%;
}

.w-7\% {
    width: 7%;
}

.w-8\% {
    width: 8%;
}

.w-9\% {
    width: 9%;
}

.w-10\% {
    width: 10%;
}

.w-11\% {
    width: 11%;
}

.w-12\% {
    width: 12%;
}

.w-13\% {
    width: 13%;
}

.w-14\% {
    width: 14%;
}

.w-15\% {
    width: 15%;
}

.w-16\% {
    width: 16%;
}

.w-17\% {
    width: 17%;
}

.w-18\% {
    width: 18%;
}

.w-19\% {
    width: 19%;
}

.w-20\% {
    width: 20%;
}

.w-21\% {
    width: 21%;
}

.w-22\% {
    width: 22%;
}

.w-23\% {
    width: 23%;
}

.w-24\% {
    width: 24%;
}

.w-25\% {
    width: 25%;
}

.w-26\% {
    width: 26%;
}

.w-27\% {
    width: 27%;
}

.w-28\% {
    width: 28%;
}

.w-29\% {
    width: 29%;
}

.w-30\% {
    width: 30%;
}

.w-31\% {
    width: 31%;
}

.w-32\% {
    width: 32%;
}

.w-33\% {
    width: 33%;
}

.w-34\% {
    width: 34%;
}

.w-35\% {
    width: 35%;
}

.w-36\% {
    width: 36%;
}

.w-37\% {
    width: 37%;
}

.w-38\% {
    width: 38%;
}

.w-39\% {
    width: 39%;
}

.w-40\% {
    width: 40%;
}

.w-41\% {
    width: 41%;
}

.w-42\% {
    width: 42%;
}

.w-43\% {
    width: 43%;
}

.w-44\% {
    width: 44%;
}

.w-45\% {
    width: 45%;
}

.w-46\% {
    width: 46%;
}

.w-47\% {
    width: 47%;
}

.w-48\% {
    width: 48%;
}

.w-49\% {
    width: 49%;
}


.w-half\% {
    width: 50%;
}

.w-55\% {
    width: 55%;
}

.w-56\% {
    width: 56%;
}

.w-57\% {
    width: 57%;
}

.w-57\% {
    width: 57%;
}

.w-58\% {
    width: 58%;
}

.w-59\% {
    width: 59%;
}

.w-60\% {
    width: 60%;
}

.w-61\% {
    width: 61%;
}

.w-62\% {
    width: 62%;
}

.w-63\% {
    width: 63%;
}

.w-64\% {
    width: 64%;
}

.w-65\% {
    width: 65%;
}

.w-66\% {
    width: 66%;
}

.w-67\% {
    width: 67%;
}

.w-68\% {
    width: 68%;
}

.w-69\% {
    width: 69%;
}

.w-70\% {
    width: 70%;
}

.w-71\% {
    width: 71%;
}

.w-72\% {
    width: 72%;
}

.w-73\% {
    width: 73%;
}

.w-74\% {
    width: 74%;
}

.w-75\% {
    width: 75%;
}

.w-76\% {
    width: 76%;
}

.w-77\% {
    width: 77%;
}

.w-78\% {
    width: 78%;
}

.w-79\% {
    width: 79%;
}

.w-80\% {
    width: 80%;
}

.w-81\% {
    width: 81%;
}

.w-82\% {
    width: 82%;
}

.w-83\% {
    width: 83%;
}

.w-84\% {
    width: 84%;
}

.w-85\% {
    width: 85%;
}

.w-86\% {
    width: 86%;
}

.w-87\% {
    width: 87%;
}

.w-88\% {
    width: 88%;
}

.w-89\% {
    width: 89%;
}

.w-90\% {
    width: 90%;
}

.w-91\% {
    width: 91%;
}

.w-92\% {
    width: 92%;
}

.w-93\% {
    width: 93%;
}

.w-94\% {
    width: 94%;
}

.w-95\% {
    width: 95%;
}

.w-96\% {
    width: 96%;
}

.w-97\% {
    width: 97%;
}

.w-98\% {
    width: 98%;
}

.w-99\% {
    width: 99%;
}

.w-full\% {
    width: 100%;
}



