@import url(mobile.css);

.hero\:primary {
    display: flexbox;
    justify-content: center;
    align-items: center;
    height: 70vh;
    max-height: 80vh;
    width: 100vw;
    padding-bottom: 5rem;
    overflow: hidden;
}

.hero\:secondary {
    display: flex;
    align-items: center;
    height: 80vh;
    width: 100vw;
    background: var(--secondary);
    margin: 0 auto;
}

.hero\:dark {
    display: flex;
    align-items: center;
    height: 50vh;
    width: 100vw;
    background: var(--black-700);
    margin: auto 0;
    padding-bottom: 5rem;
}

.hero\:light {
    display: flex;
    align-items: center;
    height: 50vh;
    width: 100vw;
    background: var(--gray-200);
    margin: auto 0;
    padding-bottom: 5rem;
}
