.texture\:hexa\:\:hexa-001 {
    background-image: url('../hexa/png/hexa-pattern-01.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-001 {
    background-image: url('../hexa/png/hexa-pattern-01.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-002 {
    background-image: url('../hexa/png/hexa-pattern-02.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-003 {
    background-image: url('../hexa/png/hexa-pattern-03.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-004 {
    background-image: url('../hexa/png/hexa-pattern-04.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-005 {
    background-image: url('../hexa/png/hexa-pattern-05.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-006 {
    background-image: url('../hexa/png/hexa-pattern-06.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-007 {
    background-image: url('../hexa/png/hexa-pattern-07.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-008 {
    background-image: url('../hexa/png/hexa-pattern-08.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-009 {
    background-image: url('../hexa/png/hexa-pattern-09.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-010 {
    background-image: url('../hexa/png/hexa-pattern-10.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-011 {
    background-image: url('../hexa/png/hexa-pattern-11.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-012 {
    background-image: url('../hexa/png/hexa-pattern-12.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-013 {
    background-image: url('../hexa/png/hexa-pattern-13.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-014 {
    background-image: url('../hexa/png/hexa-pattern-14.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-015 {
    background-image: url('../hexa/png/hexa-pattern-15.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-016 {
    background-image: url('../hexa/png/hexa-pattern-16.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-017 {
    background-image: url('../hexa/png/hexa-pattern-17.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-018 {
    background-image: url('../hexa/png/hexa-pattern-18.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-019 {
    background-image: url('../hexa/png/hexa-pattern-19.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-020 {
    background-image: url('../hexa/png/hexa-pattern-20.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-021 {
    background-image: url('../hexa/png/hexa-pattern-21.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-022 {
    background-image: url('../hexa/png/hexa-pattern-22.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-023 {
    background-image: url('../hexa/png/hexa-pattern-23.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-024 {
    background-image: url('../hexa/png/hexa-pattern-24.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-025 {
    background-image: url('../hexa/png/hexa-pattern-25.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-026 {
    background-image: url('../hexa/png/hexa-pattern-26.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-027 {
    background-image: url('../hexa/png/hexa-pattern-27.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-028 {
    background-image: url('../hexa/png/hexa-pattern-28.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-029 {
    background-image: url('../hexa/png/hexa-pattern-29.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-030 {
    background-image: url('../hexa/png/hexa-pattern-30.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-031 {
    background-image: url('../hexa/png/hexa-pattern-31.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-032 {
    background-image: url('../hexa/png/hexa-pattern-32.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-033 {
    background-image: url('../hexa/png/hexa-pattern-33.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-034 {
    background-image: url('../hexa/png/hexa-pattern-34.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-035 {
    background-image: url('../hexa/png/hexa-pattern-35.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-036 {
    background-image: url('../hexa/png/hexa-pattern-36.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-037 {
    background-image: url('../hexa/png/hexa-pattern-37.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-038 {
    background-image: url('../hexa/png/hexa-pattern-38.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-039 {
    background-image: url('../hexa/png/hexa-pattern-39.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}

.texture\:hexa\:\:hexa-040 {
    background-image: url('../hexa/png/hexa-pattern-40.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    pointer-events: none;
}
