    @import url('obsidian.css');
    @import url('onyx.css');
    
    :root {
    /* Blacks */
    --black-100: hsl(0, 0%, 50%);
    --black-200: hsl(0, 0%, 45%);
    --black-300: hsl(0, 0%, 40%);
    --black-400: hsl(0, 0%, 35%);
    --black-500: hsl(0, 0%, 30%);
    --black-600: hsl(0, 0%, 25%);
    --black-700: hsl(0, 0%, 20%);
    --black-800: hsl(0, 0%, 15%);
    --black-900: hsl(0, 0%, 10%);
    }
/* 

Background, Text, Border, Shadow


*/
    
/* Black */
.bg-black-100, .bg.black-100, .bg\:black\:100 {
    background-color: var(--black-100);
}

.bg-black-200, .bg.black-200, .bg\:black\:200 {
    background-color: var(--black-200);
}

.bg-black-300, .bg.black-300, .bg\:black\:300 {
    background-color: var(--black-300);
}
.bg-black-400, .bg.black-400, .bg\:black\:400 {
    background-color: var(--black-400);
}

.bg-black-500, .bg.black-500, .bg\:black\:500 {
    background-color: var(--black-500);
}

.bg-black-600, .bg.black-600, .bg\:black\:600 {
    background-color: var(--black-600);
}

.bg-black-700, .bg.black-700, .bg\:black\:700 {
    background-color: var(--black-700);
}

.bg-black-800, .bg.black-800, .bg\:black\:800 {
    background-color: var(--black-800);
}

.bg-black-900, .bg.black-900, .bg\:black\:900 {
    background-color: var(--black-900);
}

/* Text */

.text\:color\:black-100, .text-color-black-100, .text-color.black-100, .text\:color.black-100 {
    color: var(--black-100);
}

.text\:color\:black-200, .text-color-black-200, .text-color.black-200, .text\:color.black-200 {
    color: var(--black-200);
}

.text\:color\:black-300, .text-color-black-300, .text-color.black-300, .text\:color.black-300 {
    color: var(--black-300);
}

.text\:color\:black-400, .text-color-black-400, .text-color.black-400, .text\:color.black-400 {
    color: var(--black-400);
}

.text\:color\:black-500, .text-color-black-500, .text-color.black-500, .text\:color.black-500 {
    color: var(--black-500);
}

.text\:color\:black-600, .text-color-black-600, .text-color.black-600, .text\:color.black-600 {
    color: var(--black-600);
}

.text\:color\:black-600, .text-color-black-600, .text-color.black-600, .text\:color.black-600 {
    color: var(--black-600);
}

.text\:color\:black-700, .text-color-black-700, .text-color.black-700, .text\:color.black-700 {
    color: var(--black-700);
}

.text\:color\:black-800, .text-color-black-800, .text-color.black-800, .text\:color.black-800 {
    color: var(--black-800);
}

.text\:color\:black-900, .text-color-black-900, .text-color.black-900, .text\:color.black-900 {
    color: var(--black-900);
}

/* Border */
.border\:color\:black-100, .border-color-black-100, .border\:color.black-100, .border-color.black-100, .bc\:black-100, .bc-black-100 {
    border-color: var(--black-100);
}

.border\:color\:black-200, .border-color-black-200, .border\:color.black-200, .border-color.black-200, .bc\:black-200, .bc-black-200 {
    border-color: var(--black-200);
}

.border\:color\:black-300, .border-color-black-300, .border\:color.black-300, .border-color.black-300, .bc\:black-300, .bc-black-300 {
    border-color: var(--black-300);
}

.border\:color\:black-400, .border-color-black-400, .border\:color.black-400, .border-color.black-400, .bc\:black-400, .bc-black-400 {
    border-color: var(--black-400);
}

.border\:color\:black-500, .border-color-black-500, .border\:color.black-500, .border-color.black-500, .bc\:black-500, .bc-black-500 {
    border-color: var(--black-500);
}

.border\:color\:black-600, .border-color-black-600, .border\:color.black-600, .border-color.black-600, .bc\:black-600, .bc-black-600 {
    border-color: var(--black-600);
}

.border\:color\:black-700, .border-color-black-700, .border\:color.black-700, .border-color.black-700, .bc\:black-700, .bc-black-700 {
    border-color: var(--black-700);
}

.border\:color\:black-800, .border-color-black-800, .border\:color.black-800, .border-color.black-800, .bc\:black-800, .bc-black-800 {
    border-color: var(--black-800);
}

.border\:color\:black-900, .border-color-black-900, .border\:color.black-900, .border-color.black-900, .bc\:black-900, .bc-black-900 {
    border-color: var(--black-900);
}


/* Shadow */
.shadow\:color\:black-100.shadow\:sm, .shadow-color-black-100.shadow-sm {
    box-shadow: 2px 2px 5px var(--black-100) ;
}

/* Icon */
.icon\:black-100, .icon.black-100 {
    display: inline-block;
    background: var(--black-100);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:black-200, .icon.black-200 {
    display: inline-block;
    background: var(--black-200);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:black-300, .icon.black-300 {
    display: inline-block;
    background: var(--black-300);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:black-400, .icon.black-400 {
    display: inline-block;
    background: var(--black-400);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:black-500, .icon.black-500 {
    display: inline-block;
    background: var(--black-500);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:black-600, .icon.black-600 {
    display: inline-block;
    background: var(--black-600);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:black-700, .icon.black-700 {
    display: inline-block;
    background: var(--black-700);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:black-800, .icon.black-800 {
    display: inline-block;
    background: var(--black-800);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:black-900, .icon.black-900 {
    display: inline-block;
    background: var(--black-900);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Hover Styles */

.\:hover-black-100:hover, .\:hover.black-100:hover {
    border-color: var(--black-100);
    background-color: var(--black-100);
}

.\:hover-black-200:hover, .\:hover.black-200:hover {
    border-color: var(--black-200);
    background-color: var(--black-200);
}

.\:hover-black-300:hover, .\:hover.black-300:hover {
    border-color: var(--black-300);
    background-color: var(--black-300);
}

.\:hover-black-400:hover, .\:hover.black-400:hover {
    border-color: var(--black-400);
    background-color: var(--black-400);
}

.\:hover-black-500:hover, .\:hover.black-500:hover {
    border-color: var(--black-500);
    background-color: var(--black-500);
}

.\:hover-black-600:hover, .\:hover.black-600:hover {
    border-color: var(--black-600);
    background-color: var(--black-600);
}

.\:hover-black-700:hover, .\:hover.black-700:hover {
    border-color: var(--black-700);
    background-color: var(--black-700);
}

.\:hover-black-800:hover, .\:hover.black-800:hover {
    border-color: var(--black-800);
    background-color: var(--black-800);
}

.\:hover-black-900:hover, .\:hover.black-900:hover {
    border-color: var(--black-900);
    background-color: var(--black-900);
}

.\:hover-black-900\[white\]:hover{
    border-color: var(--black-900);
    background-color: var(--black-900);
    color:var(--white-100);
}

.\:hover-black-100\[outline\]:hover, .\:hover.black-100\[outline\]:hover {
    color: var(--black-100);
    border-color: var(--black-100);
}

.\:hover-black-200\[outline\]:hover, .\:hover.black-200\[outline\]:hover {
    color: var(--black-200);
    border-color: var(--black-200);
}

.\:hover-black-300\[outline\]:hover, .\:hover.black-300\[outline\]:hover {
    color: var(--black-300);
    border-color: var(--black-300);
}

.\:hover-black-400\[outline\]:hover, .\:hover.black-400\[outline\]:hover {
    color: var(--black-400);
    border-color: var(--black-400);
}

.\:hover-black-500\[outline\]:hover, .\:hover.black-500\[outline\]:hover {
    color: var(--black-500);
    border-color: var(--black-500);
}

.\:hover-black-600\[outline\]:hover, .\:hover.black-600\[outline\]:hover {
    color: var(--black-600);
    border-color: var(--black-600);
}

.\:hover-black-700\[outline\]:hover, .\:hover.black-700\[outline\]:hover {
    color: var(--black-700);
    border-color: var(--black-700);
}

.\:hover-black-800\[outline\]:hover, .\:hover.black-800\[outline\]:hover {
    color: var(--black-800);
    border-color: var(--black-800);
}

.\:hover-black-900\[outline\]:hover, .\:hover.black-900\[outline\]:hover {
    color: var(--black-900);
    border-color: var(--black-900);
}