/*
Black Modules
*/
@import url('black/text.css');
@import url('black/background.css');
@import url('black/border.css');
@import url('black/shadow.css');
@import url('black/hover.css');
@import url('black/icon.css');
/* Other Shades */
@import url('obsidian.css');
@import url('onyx.css');
    
    :root {
    /* Blacks */
    --black-100: hsl(0, 0%, 50%);
    --black-200: hsl(0, 0%, 45%);
    --black-300: hsl(0, 0%, 40%);
    --black-400: hsl(0, 0%, 35%);
    --black-500: hsl(0, 0%, 30%);
    --black-600: hsl(0, 0%, 25%);
    --black-700: hsl(0, 0%, 20%);
    --black-800: hsl(0, 0%, 15%);
    --black-900: hsl(0, 0%, 10%);
    }





