:root {
    --obsidian-100: hsl(0, 3%, 50%);
    --obsidian-200: hsl(0, 3%, 45%);
    --obsidian-300: hsl(0, 3%, 40%);
    --obsidian-400: hsl(0, 3%, 35%);
    --obsidian-500: hsl(0, 3%, 30%);
    --obsidian-600: hsl(0, 3%, 25%);
    --obsidian-700: hsl(0, 3%, 20%);
    --obsidian-800: hsl(0, 3%, 15%);
    --obsidian-900: hsl(0, 3%, 10%);
}
/* Background */
.bg\:obsidian-100, .bg.obsidian-100, .bg-obsidian-100, .bg\:obsidian\:100 {
    background-color: var(--obsidian-100);
}

.bg\:obsidian-200, .bg.obsidian-200, .bg-obsidian-200, .bg\:obsidian\:200 {
    background-color: var(--obsidian-200);
}

.bg\:obsidian-300, .bg.obsidian-300, .bg-obsidian-300, .bg\:obsidian\:300 {
    background-color: var(--obsidian-300);
}

.bg\:obsidian-400, .bg.obsidian-400, .bg-obsidian-400, .bg\:obsidian\:400 {
    background-color: var(--obsidian-400);
}

.bg\:obsidian-500, .bg.obsidian-500, .bg-obsidian-500, .bg\:obsidian\:500 {
    background-color: var(--obsidian-500);
}

.bg\:obsidian-600, .bg.obsidian-600, .bg-obsidian-600, .bg\:obsidian\:600 {
    background-color: var(--obsidian-600);
}

.bg\:obsidian-700, .bg.obsidian-700, .bg-obsidian-700, .bg\:obsidian\:700 {
    background-color: var(--obsidian-700);
}

.bg\:obsidian-800, .bg.obsidian-800, .bg-obsidian-800, .bg\:obsidian\:800 {
    background-color: var(--obsidian-800);
}

.bg\:obsidian-900, .bg.obsidian-900, .bg-obsidian-900, .bg\:obsidian\:900 {
    background-color: var(--obsidian-900);
}

/* Text

Naming Convention
.text | - or : |  color | - or : | VALUE
.text:color:value or .text-color-value {i.e. - text:color:blue-400, text-color-blue-400}

Shorthand: tc-value or tc:value

*/

.text\:color\:obsidian-100, .text-color-obsidian-100, .text\:color.bg-obsidian-100, .text-color.bg-obsidian-100, .tc-obsidian-100 , .tc\:obsidian-100{
    color: var(--obsidian-100);
}

.text\:color\:obsidian-200, .text-color-obsidian-200, .text\:color.bg-obsidian-200, .text-color.bg-obsidian-200, .tc-obsidian-200 , .tc\:obsidian-200{
    color: var(--obsidian-200);
}

.text\:color\:obsidian-300, .text-color-obsidian-300, .text\:color.bg-obsidian-300, .text-color.bg-obsidian-300, .tc-obsidian-300 , .tc\:obsidian-300{
    color: var(--obsidian-300);
}

.text\:color\:obsidian-400, .text-color-obsidian-400, .text\:color.bg-obsidian-400, .text-color.bg-obsidian-400, .tc-obsidian-400 , .tc\:obsidian-400{
    color: var(--obsidian-400);
}

.text\:color\:obsidian-500, .text-color-obsidian-500, .text\:color.bg-obsidian-500, .text-color.bg-obsidian-500, .tc-obsidian-500 , .tc\:obsidian-500{
    color: var(--obsidian-500);
}

.text\:color\:obsidian-600, .text-color-obsidian-600, .text\:color.bg-obsidian-600, .text-color.bg-obsidian-600, .tc-obsidian-600 , .tc\:obsidian-600{
    color: var(--obsidian-600);
}

.text\:color\:obsidian-700, .text-color-obsidian-700, .text\:color.bg-obsidian-700, .text-color.bg-obsidian-700, .tc-obsidian-700 , .tc\:obsidian-700{
    color: var(--obsidian-700);
}

.text\:color\:obsidian-800, .text-color-obsidian-800, .text\:color.bg-obsidian-800, .text-color.bg-obsidian-800, .tc-obsidian-800 , .tc\:obsidian-800{
    color: var(--obsidian-800);
}

.text\:color\:obsidian-900, .text-color-obsidian-900, .text\:color.bg-obsidian-900, .text-color.bg-obsidian-900, .tc-obsidian-900 , .tc\:obsidian-900{
    color: var(--obsidian-900);
}

/* Border

Naming Convention
border | - or : | color | - or : | value

*/

.border\:color\:obsidian-100, .border-color-obsidian-100, .border\:color.bg-obsidian-100, .border-color.bg-obsidian-100, .bc-obsidian-100 , .bc\:obsidian-100{
    border-color: var(--obsidian-100);
}

.border\:color\:obsidian-200, .border-color-obsidian-200, .border\:color.bg-obsidian-200, .border-color.bg-obsidian-200, .bc-obsidian-200 , .bc\:obsidian-200{
    border-color: var(--obsidian-200);
}

.border\:color\:obsidian-300, .border-color-obsidian-300, .border\:color.bg-obsidian-300, .border-color.bg-obsidian-300, .bc-obsidian-300 , .bc\:obsidian-300{
    border-color: var(--obsidian-300);
}

.border\:color\:obsidian-400, .border-color-obsidian-400, .border\:color.bg-obsidian-400, .border-color.bg-obsidian-400, .bc-obsidian-400 , .bc\:obsidian-400{
    border-color: var(--obsidian-400);
}

.border\:color\:obsidian-500, .border-color-obsidian-500, .border\:color.bg-obsidian-500, .border-color.bg-obsidian-500, .bc-obsidian-500 , .bc\:obsidian-500{
    border-color: var(--obsidian-500);
}

.border\:color\:obsidian-600, .border-color-obsidian-600, .border\:color.bg-obsidian-600, .border-color.bg-obsidian-600, .bc-obsidian-600 , .bc\:obsidian-600{
    border-color: var(--obsidian-600);
}

.border\:color\:obsidian-700, .border-color-obsidian-700, .border\:color.bg-obsidian-700, .border-color.bg-obsidian-700, .bc-obsidian-700 , .bc\:obsidian-700{
    border-color: var(--obsidian-700);
}

.border\:color\:obsidian-800, .border-color-obsidian-800, .border\:color.bg-obsidian-800, .border-color.bg-obsidian-800, .bc-obsidian-800 , .bc\:obsidian-800{
    border-color: var(--obsidian-800);
}

.border\:color\:obsidian-900, .border-color-obsidian-900, .border\:color.bg-obsidian-900, .border-color.bg-obsidian-900, .bc-obsidian-900 , .bc\:obsidian-900{
    border-color: var(--obsidian-900);
}

/* Icon */
.icon\:obsidian-100, .icon.obsidian-100 {
    display: inline-block;
    background: var(--obsidian-100);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:obsidian-200, .icon.obsidian-200 {
    display: inline-block;
    background: var(--obsidian-200);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:obsidian-300, .icon.obsidian-300 {
    display: inline-block;
    background: var(--obsidian-300);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:obsidian-400, .icon.obsidian-400 {
    display: inline-block;
    background: var(--obsidian-400);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:obsidian-500, .icon.obsidian-500 {
    display: inline-block;
    background: var(--obsidian-500);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:obsidian-600, .icon.obsidian-600 {
    display: inline-block;
    background: var(--obsidian-600);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:obsidian-700, .icon.obsidian-700 {
    display: inline-block;
    background: var(--obsidian-700);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:obsidian-800, .icon.obsidian-800 {
    display: inline-block;
    background: var(--obsidian-800);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:obsidian-900, .icon.obsidian-900 {
    display: inline-block;
    background: var(--obsidian-900);
    background-size: cover;
    background-repeat: no-repeat;
}
