/*Module Import*/
@import url('obsidian/background.css');
@import url('obsidian/border.css');
@import url('obsidian/hover.css');
@import url('obsidian/icon.css');
@import url('obsidian/shadow.css');
@import url('obsidian/text.css');

:root {
    --obsidian-100: hsl(0, 3%, 50%);
    --obsidian-200: hsl(0, 3%, 45%);
    --obsidian-300: hsl(0, 3%, 40%);
    --obsidian-400: hsl(0, 3%, 35%);
    --obsidian-500: hsl(0, 3%, 30%);
    --obsidian-600: hsl(0, 3%, 25%);
    --obsidian-700: hsl(0, 3%, 20%);
    --obsidian-800: hsl(0, 3%, 15%);
    --obsidian-900: hsl(0, 3%, 10%);
}

