:root {
    --onyx-100: hsl(0, 5%, 50%);
    --onyx-200: hsl(0, 5%, 45%);
    --onyx-300: hsl(0, 5%, 40%);
    --onyx-400: hsl(0, 5%, 35%);
    --onyx-500: hsl(0, 5%, 30%);
    --onyx-600: hsl(0, 5%, 25%);
    --onyx-700: hsl(0, 5%, 20%);
    --onyx-800: hsl(0, 5%, 15%);
    --onyx-900: hsl(0, 5%, 10%);
}

/* Background */
.bg\:onyx-100, .bg.onyx-100, .bg-onyx-100, .bg\:onyx\:100 {
    background-color: var(--onyx-100);
}

.bg\:onyx-200, .bg.onyx-200, .bg-onyx-200, .bg\:onyx\:200 {
    background-color: var(--onyx-200);
}

.bg\:onyx-300, .bg.onyx-300, .bg-onyx-300, .bg\:onyx\:300 {
    background-color: var(--onyx-300);
}

.bg\:onyx-400, .bg.onyx-400, .bg-onyx-400, .bg\:onyx\:400 {
    background-color: var(--onyx-400);
}

.bg\:onyx-500, .bg.onyx-500, .bg-onyx-500, .bg\:onyx\:500 {
    background-color: var(--onyx-500);
}

.bg\:onyx-600, .bg.onyx-600, .bg-onyx-600, .bg\:onyx\:600 {
    background-color: var(--onyx-600);
}

.bg\:onyx-700, .bg.onyx-700, .bg-onyx-700, .bg\:onyx\:700 {
    background-color: var(--onyx-700);
}

.bg\:onyx-800, .bg.onyx-800, .bg-onyx-800, .bg\:onyx\:800 {
    background-color: var(--onyx-800);
}

.bg\:onyx-900, .bg.onyx-900, .bg-onyx-900, .bg\:onyx\:900 {
    background-color: var(--onyx-900);
}

/* Text

Naming Convention
.text | - or : |  color | - or : | VALUE
.text:color:value or .text-color-value {i.e. - text:color:blue-400, text-color-blue-400}

Shorthand: tc-value or tc:value

*/

.text\:color\:onyx-100, .text-color-onyx-100, .text\:color.bg-onyx-100, .text-color.bg-onyx-100, .tc-onyx-100 , .tc\:onyx-100{
    color: var(--onyx-100);
}

.text\:color\:onyx-200, .text-color-onyx-200, .text\:color.bg-onyx-200, .text-color.bg-onyx-200, .tc-onyx-200 , .tc\:onyx-200{
    color: var(--onyx-200);
}

.text\:color\:onyx-300, .text-color-onyx-300, .text\:color.bg-onyx-300, .text-color.bg-onyx-300, .tc-onyx-300 , .tc\:onyx-300{
    color: var(--onyx-300);
}

.text\:color\:onyx-400, .text-color-onyx-400, .text\:color.bg-onyx-400, .text-color.bg-onyx-400, .tc-onyx-400 , .tc\:onyx-400{
    color: var(--onyx-400);
}

.text\:color\:onyx-500, .text-color-onyx-500, .text\:color.bg-onyx-500, .text-color.bg-onyx-500, .tc-onyx-500 , .tc\:onyx-500{
    color: var(--onyx-500);
}

.text\:color\:onyx-600, .text-color-onyx-600, .text\:color.bg-onyx-600, .text-color.bg-onyx-600, .tc-onyx-600 , .tc\:onyx-600{
    color: var(--onyx-600);
}

.text\:color\:onyx-700, .text-color-onyx-700, .text\:color.bg-onyx-700, .text-color.bg-onyx-700, .tc-onyx-700 , .tc\:onyx-700{
    color: var(--onyx-700);
}

.text\:color\:onyx-800, .text-color-onyx-800, .text\:color.bg-onyx-800, .text-color.bg-onyx-800, .tc-onyx-800 , .tc\:onyx-800{
    color: var(--onyx-800);
}

.text\:color\:onyx-900, .text-color-onyx-900, .text\:color.bg-onyx-900, .text-color.bg-onyx-900, .tc-onyx-900 , .tc\:onyx-900{
    color: var(--onyx-900);
}

/* Border

Naming Convention
border | - or : | color | - or : | value

*/

.border\:color\:onyx-100, .border-color-onyx-100, .border\:color.bg-onyx-100, .border-color.bg-onyx-100, .bc-onyx-100 , .bc\:onyx-100{
    border-color: var(--onyx-100);
}

.border\:color\:onyx-200, .border-color-onyx-200, .border\:color.bg-onyx-200, .border-color.bg-onyx-200, .bc-onyx-200 , .bc\:onyx-200{
    border-color: var(--onyx-200);
}

.border\:color\:onyx-300, .border-color-onyx-300, .border\:color.bg-onyx-300, .border-color.bg-onyx-300, .bc-onyx-300 , .bc\:onyx-300{
    border-color: var(--onyx-300);
}

.border\:color\:onyx-400, .border-color-onyx-400, .border\:color.bg-onyx-400, .border-color.bg-onyx-400, .bc-onyx-400 , .bc\:onyx-400{
    border-color: var(--onyx-400);
}

.border\:color\:onyx-500, .border-color-onyx-500, .border\:color.bg-onyx-500, .border-color.bg-onyx-500, .bc-onyx-500 , .bc\:onyx-500{
    border-color: var(--onyx-500);
}

.border\:color\:onyx-600, .border-color-onyx-600, .border\:color.bg-onyx-600, .border-color.bg-onyx-600, .bc-onyx-600 , .bc\:onyx-600{
    border-color: var(--onyx-600);
}

.border\:color\:onyx-700, .border-color-onyx-700, .border\:color.bg-onyx-700, .border-color.bg-onyx-700, .bc-onyx-700 , .bc\:onyx-700{
    border-color: var(--onyx-700);
}

.border\:color\:onyx-800, .border-color-onyx-800, .border\:color.bg-onyx-800, .border-color.bg-onyx-800, .bc-onyx-800 , .bc\:onyx-800{
    border-color: var(--onyx-800);
}

.border\:color\:onyx-900, .border-color-onyx-900, .border\:color.bg-onyx-900, .border-color.bg-onyx-900, .bc-onyx-900 , .bc\:onyx-900{
    border-color: var(--onyx-900);
}


/* Shadow

Naming Convention
shadow |   | color |   | value

*/



/* Icon */
.icon\:onyx-100, .icon.onyx-100 {
    display: inline-block;
    background: var(--onyx-100);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:onyx-200, .icon.onyx-200 {
    display: inline-block;
    background: var(--onyx-200);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:onyx-300, .icon.onyx-300 {
    display: inline-block;
    background: var(--onyx-300);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:onyx-400, .icon.onyx-400 {
    display: inline-block;
    background: var(--onyx-400);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:onyx-500, .icon.onyx-500 {
    display: inline-block;
    background: var(--onyx-500);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:onyx-600, .icon.onyx-600 {
    display: inline-block;
    background: var(--onyx-600);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:onyx-700, .icon.onyx-700 {
    display: inline-block;
    background: var(--onyx-700);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:onyx-800, .icon.onyx-800 {
    display: inline-block;
    background: var(--onyx-800);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:onyx-900, .icon.onyx-900 {
    display: inline-block;
    background: var(--onyx-900);
    background-size: cover;
    background-repeat: no-repeat;
}
