/*Module Import*/

@import url('obsidian/background.css');
@import url('obsidian/border.css');
@import url('obsidian/hover.css');
@import url('obsidian/icon.css');
@import url('obsidian/shadow.css');
@import url('obsidian/text.css');


:root {
    --onyx-100: hsl(0, 5%, 50%);
    --onyx-200: hsl(0, 5%, 45%);
    --onyx-300: hsl(0, 5%, 40%);
    --onyx-400: hsl(0, 5%, 35%);
    --onyx-500: hsl(0, 5%, 30%);
    --onyx-600: hsl(0, 5%, 25%);
    --onyx-700: hsl(0, 5%, 20%);
    --onyx-800: hsl(0, 5%, 15%);
    --onyx-900: hsl(0, 5%, 10%);
}
