/* Tablets */
@media screen and (min-width: 601px) and (max-width: 768px) {
    .text\:sm{
        font-size: 0.75rem;
    }
    
    .text\:md{
        font-size: 1rem;
    }
    
    .text\:lg{
        font-size: 1.5rem;
    }
    
    .text\:xlg{
        font-size: 1.75rem;
    }
    
    .text\:xxlg{
        font-size: 2.25rem;
    }
}