/* Icon */
.icon\:concrete-100, .icon.concrete-100 {
    display: inline-block;
    background: var(--concrete-100);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:concrete-200, .icon.concrete-200 {
    display: inline-block;
    background: var(--concrete-200);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:concrete-300, .icon.concrete-300 {
    display: inline-block;
    background: var(--concrete-300);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:concrete-400, .icon.concrete-400 {
    display: inline-block;
    background: var(--concrete-400);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:concrete-500, .icon.concrete-500 {
    display: inline-block;
    background: var(--concrete-500);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:concrete-600, .icon.concrete-600 {
    display: inline-block;
    background: var(--concrete-600);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:concrete-700, .icon.concrete-700 {
    display: inline-block;
    background: var(--concrete-700);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:concrete-800, .icon.concrete-800 {
    display: inline-block;
    background: var(--concrete-800);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:concrete-900, .icon.concrete-900 {
    display: inline-block;
    background: var(--concrete-900);
    background-size: cover;
    background-repeat: no-repeat;
}