# obsidian vault files
.obsidian/
./trash
*.vault

*/.obsidian/

#vscode
.vscode/

# Git
.gitattributes
.gitignore

#npm
node_modules/


#Repo related files
gulpfile.js
package-lock.json
package.json
yarn.lock
FUNDING.yml

