@import url('config.css');



/* Background Stylings */
.bg-primary {
    background-color: var(--primary);
}

.bg-primary-light {
    background-color: var(--primary-light);
}

.bg-secondary {
    background-color: var(--secondary);
}

/* Reds */

.bg-red-100 {
    background-color: var(--red-100);
}

.bg-red-200 {
    background-color: var(--red-200);
}

.bg-red-300 {
    background-color: var(--red-300);
}

.bg-red-400 {
    background-color: var(--red-400);
}

.bg-red-500 {
    background-color: var(--red-500);
}

.bg-red-600 {
    background-color: var(--red-600);
}

.bg-red-700 {
    background-color: var(--red-700);
}

.bg-red-800 {
    background-color: var(--red-800);
}

.bg-red-900 {
    background-color: var(--red-900);
}

/* Blues */

.bg-blue-100 {
    background-color: var(--blue-100);
}

.bg-blue-200 {
    background-color: var(--blue-200);
}

.bg-blue-300 {
    background-color: var(--blue-300);
}
.bg-blue-400 {
    background-color: var(--blue-400);
}

.bg-blue-500 {
    background-color: var(--blue-500);
}

.bg-blue-600 {
    background-color: var(--blue-600);
}

.bg-blue-700 {
    background-color: var(--blue-700);
}

.bg-blue-800 {
    background-color: var(--blue-800);
}

.bg-blue-900 {
    background-color: var(--blue-900);
}

/* Green */

.bg-green-100 {
    background-color: var(--green-100);
}

.bg-green-200 {
    background-color: var(--green-200);
}

.bg-green-300 {
    background-color: var(--green-300);
}
.bg-green-400 {
    background-color: var(--green-400);
}

.bg-green-500 {
    background-color: var(--green-500);
}

.bg-green-600 {
    background-color: var(--green-600);
}

.bg-green-700 {
    background-color: var(--green-700);
}

.bg-green-800 {
    background-color: var(--green-800);
}

.bg-green-900 {
    background-color: var(--green-900);
}

/* Yellow */
.bg-yellow-100 {
    background-color: var(--yellow-100);
}

.bg-yellow-200 {
    background-color: var(--yellow-200);
}

.bg-yellow-300 {
    background-color: var(--yellow-300);
}
.bg-yellow-400 {
    background-color: var(--yellow-400);
}

.bg-yellow-500 {
    background-color: var(--yellow-500);
}

.bg-yellow-600 {
    background-color: var(--yellow-600);
}

.bg-yellow-700 {
    background-color: var(--yellow-700);
}

.bg-yellow-800 {
    background-color: var(--yellow-800);
}

.bg-yellow-900 {
    background-color: var(--yellow-900);
}

/* Purples */
.bg-purple-100 {
    background-color: var(--purple-100);
}

.bg-purple-200 {
    background-color: var(--purple-200);
}

.bg-purple-300 {
    background-color: var(--purple-300);
}
.bg-purple-400 {
    background-color: var(--purple-400);
}

.bg-purple-500 {
    background-color: var(--purple-500);
}

.bg-purple-600 {
    background-color: var(--purple-600);
}

.bg-purple-700 {
    background-color: var(--purple-700);
}

.bg-purple-800 {
    background-color: var(--purple-800);
}

.bg-purple-900 {
    background-color: var(--purple-900);
}

/* Pink */
.bg-pink-100 {
    background-color: var(--pink-100);
}

.bg-pink-200 {
    background-color: var(--pink-200);
}

.bg-pink-300 {
    background-color: var(--pink-300);
}
.bg-pink-400 {
    background-color: var(--pink-400);
}

.bg-pink-500 {
    background-color: var(--pink-500);
}

.bg-pink-600 {
    background-color: var(--pink-600);
}

.bg-pink-700 {
    background-color: var(--pink-700);
}

.bg-pink-800 {
    background-color: var(--pink-800);
}

.bg-pink-900 {
    background-color: var(--pink-900);
}

/* Gray */
.bg-gray-100 {
    background-color: var(--gray-100);
}

.bg-gray-200 {
    background-color: var(--gray-200);
}

.bg-gray-300 {
    background-color: var(--gray-300);
}
.bg-gray-400 {
    background-color: var(--gray-400);
}

.bg-gray-500 {
    background-color: var(--gray-500);
}

.bg-gray-600 {
    background-color: var(--gray-600);
}

.bg-gray-700 {
    background-color: var(--gray-700);
}

.bg-gray-800 {
    background-color: var(--gray-800);
}

.bg-gray-900 {
    background-color: var(--gray-900);
}

/* Black */
.bg-black-100 {
    background-color: var(--black-100);
}

.bg-black-200 {
    background-color: var(--black-200);
}

.bg-black-300 {
    background-color: var(--black-300);
}
.bg-black-400 {
    background-color: var(--black-400);
}

.bg-black-500 {
    background-color: var(--black-500);
}

.bg-black-600 {
    background-color: var(--black-600);
}

.bg-black-700 {
    background-color: var(--black-700);
}

.bg-black-800 {
    background-color: var(--black-800);
}

.bg-black-900 {
    background-color: var(--black-900);
}

/* Container Styles */
.rounded-sm {
    border-radius: 5px;
}

.rounded-md {
    border-radius: 10px;
}

.rounded-lg {
    border-radius: 15px;
}

/* Base Text Styles */
.text-center {
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.text-primary {
    color: var(--primary);
    font-family: var(--primary-font);
}

.text-secondary {
    color: var(--secondary);
}

.text-light {
    font-family: var(--light-font);
}

.text-white {
    color: white;
}

.text-black {
    color: var(--black-700);
}

.text-gray {
    color: var(--gray-500);
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-underline {
    text-decoration: underline;
}

.text-strike {
    text-decoration: line-through;
}

.list-none {
    list-style: none;
    text-decoration: none;
}

/* Ordering Styles */
.top {
    z-index: 1;
}

.mid {
    z-index: 0;
}

.bot {
    z-index: -1;
}

.sticky {
    position: sticky;
}


/*                    */
/*    Sizing Styles  */
/*                    */

.h-5 {
    height: 5vh;
}

.h-10 {
    height: 10vh;
}

.h-15 {
    height: 15vh;
}

.h-20 {
    height: 20vh;
}

.h-25 {
    height: 25vh;
}

.h-half {
    height: 50vh;
}

.h-75 {
    height: 75vh;
}

.h-full {
    height: 100vh;
}

.w-5 {
    width: 5%;
}

.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.w-half {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-full {
    width: 100%;
}


/* Spacing Styles */

.p-1 {
    padding: 0.2rem;
}

.p-2 {
    padding: 0.4rem;
}

.p-3 {
    padding: 0.6rem;
}

.p-4 {
    padding: 0.8rem;
}

.p-5 {
    padding: 1rem;
}

.m-1 {
    margin: 0.2rem;
}

.ml-1 {
    margin-left: 0.2rem;
}

.mr-1 {
    margin-right: 0.2rem;
}

.mt-1 {
    margin-top: 0.2rem;
}

.mb-1 {
    margin-bottom: 0.2rem;
}

.m-2 {
    margin: 0.4rem;
}

.m-3 {
    margin: 0.6rem;
}

.m-4 {
    margin: 0.8rem;
}

.m-5 {
    margin: 1rem;
}

/* State Styles */

.alert {
    background-color: var(--danger);
}

.alert:hover {
    background-color: var(--red-500);
}

.info {
    background-color: var(--info);
}

.danger {
    background-color: var(--danger);
}


