@import url('config.css');


/* Base Text Styles */
.text-center {
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-primary {
    color: var(--primary);
}

.text-secondary {
    color: var(--secondary);
}

.text-white {
    color: white;
}

.text-black {
    color: var(--black-700);
}

.text-gray {
    color: var(--gray-500);
}

/* Sizing Styles */
.w-full {
    width: 100%;
}

.w-half {
    width: 50%;
}

.w-25 {
    width: 25%;
}




/* State Styles */

#alert {
    background-color: var(--danger);
}

#alert:hover {
    background-color: var(--red-500);
}

/* Transition Styles */

.background-fade-in {
    background-color: var(--primary);
    transition: background-color 0.3s ease-in;
}
