:root {
    --primary: powderblue;
    --secondary: blue;
    --info: yellow;
    --danger: red;
    --warning: turquoise;

    /* Gereral Styling */

    /* Reds */
    --red-100: hsl(0, 100%, 95%);
    --red-200: hsl(0, 100%, 90%);
    --red-300: hsl(0, 100%, 85%);
    --red-400: hsl(0, 100%, 80%);
    --red-500: hsl(0, 100%, 75%);
    --red-600: hsl(0, 100%, 70%);
    --red-700: hsl(0, 100%, 65%);
    --red-800: hsl(0, 100%, 60%);
    --red-900: hsl(0, 100%, 55%);

    /* Blues */
    --blue-100: hsl(210, 50%, 95%);
    --blue-200: hsl(210, 50%, 90%);
    --blue-300: hsl(210, 50%, 85%);
    --blue-400: hsl(210, 50%, 80%);
    --blue-500: hsl(210, 50%, 75%);
    --blue-600: hsl(210, 50%, 70%);
    --blue-700: hsl(210, 50%, 65%);
    --blue-800: hsl(210, 50%, 60%);
    --blue-900: hsl(210, 50%, 55%);


    /* Greens */
    --blue-100: hsl(140, 50%, 95%);
    --blue-200: hsl(140, 50%, 90%);
    --blue-300: hsl(140, 50%, 85%);
    --blue-400: hsl(140, 50%, 80%);
    --blue-500: hsl(140, 50%, 75%);
    --blue-600: hsl(140, 50%, 70%);
    --blue-700: hsl(140, 50%, 65%);
    --blue-800: hsl(140, 50%, 60%);
    --blue-900: hsl(140, 50%, 55%);

    /* Grays */
    --gray-100: hsl(0, 0%, 95%);
    --gray-200: hsl(0, 0%, 90%);
    --gray-300: hsl(0, 0%, 85%);
    --gray-400: hsl(0, 0%, 80%);
    --gray-500: hsl(0, 0%, 75%);
    --gray-600: hsl(0, 0%, 70%);
    --gray-700: hsl(0, 0%, 65%);
    --gray-800: hsl(0, 0%, 60%);
    --gray-900: hsl(0, 0%, 55%);

    /* Blacks */
    --black-100: hsl(0, 0%, 50%);
    --black-200: hsl(0, 0%, 45%);
    --black-300: hsl(0, 0%, 40%);
    --black-400: hsl(0, 0%, 35%);
    --black-500: hsl(0, 0%, 30%);
    --black-600: hsl(0, 0%, 25%);
    --black-700: hsl(0, 0%, 20%);
    --black-800: hsl(0, 0%, 15%);
    --black-900: hsl(0, 0%, 10%);

}
