/* Module Import */

@import url('util/background.css');
@import url('util/border.css');
@import url('util/hover.css');
@import url('util/icon.css');
@import url('util/shadow.css');
@import url('util/text.css');


:root {
        /* Triad */
        --meloncolly-banana: hsl(49, 100%, 50%);
        --meloncolly-fresca: hsl(177, 100%, 50%);
        --meloncolly-sangria: hsl(310, 67%, 34%);
        --meloncolly-smoothie: hsl(177, 50%, 25%);
}