@import url('creamsicle/background.css');
@import url('creamsicle/border.css');
@import url('creamsicle/hover.css');
@import url('creamsicle/icon.css');
@import url('creamsicle/shadow.css');
@import url('creamsicle/text.css');

:root {
    --creamsicle-100: hsl(25, 80%, 97%);
    --creamsicle-200: hsl(25, 80%, 90%);
    --creamsicle-300: hsl(25, 80%, 85%);
    --creamsicle-400: hsl(25, 80%, 80%);
    --creamsicle-500: hsl(25, 80%, 75%);
    --creamsicle-600: hsl(25, 80%, 65%);
    --creamsicle-700: hsl(25, 80%, 60%);
    --creamsicle-800: hsl(25, 80%, 55%);
    --creamsicle-900: hsl(25, 80%, 50%);
}