:root {
    --creamsicle-100: hsl(25, 80%, 97%);
    --creamsicle-200: hsl(25, 80%, 90%);
    --creamsicle-300: hsl(25, 80%, 85%);
    --creamsicle-400: hsl(25, 80%, 80%);
    --creamsicle-500: hsl(25, 80%, 75%);
    --creamsicle-600: hsl(25, 80%, 65%);
    --creamsicle-700: hsl(25, 80%, 60%);
    --creamsicle-800: hsl(25, 80%, 55%);
    --creamsicle-900: hsl(25, 80%, 50%);
}

/* Creamsicle */
.bg\:creamsicle-100, .bg.creamsicle-100, .bg-creamsicle-100, .bg\:creamsicle\:100 {
    background-color: var(--creamsicle-100);
}

.bg\:creamsicle-200, .bg.creamsicle-200, .bg-creamsicle-200, .bg\:creamsicle\:200 {
    background-color: var(--creamsicle-200);
}

.bg\:creamsicle-300, .bg.creamsicle-300,.bg-creamsicle-300, .bg\:creamsicle\:300 {
    background-color: var(--creamsicle-300);
}
.bg\:creamsicle-400, .bg.creamsicle-400, .bg-creamsicle-400, .bg\:creamsicle\:400 {
    background-color: var(--creamsicle-400);
}

.bg\:creamsicle-500, .bg.creamsicle-500, .bg-creamsicle-500, .bg\:creamsicle\:500 {
    background-color: var(--creamsicle-500);
}

.bg\:creamsicle-600, .bg.creamsicle-600, .bg-creamsicle-600, .bg\:creamsicle\:600 {
    background-color: var(--creamsicle-600);
}

.bg\:creamsicle-700, .bg.creamsicle-700, .bg-creamsicle-700, .bg\:creamsicle\:700 {
    background-color: var(--creamsicle-700);
}

.bg\:creamsicle-800, .bg.creamsicle-800, .bg-creamsicle-800, .bg\:creamsicle\:800 {
    background-color: var(--creamsicle-800);
}

.bg\:creamsicle-900, .bg.creamsicle-900, .bg-creamsicle-900, .bg\:creamsicle\:900 {
    background-color: var(--creamsicle-900);
}

/*
 * 	
 *	Text Stiles
 *  
 */
 .text\:color\:creamsicle-100, .text-color-creamsicle-100, .text\:color.creamsicle-100, .text-color.creamsicle-100, .tc-creamsicle-100 , .tc\:creamsicle-100{
    color: var(--creamsicle-100);
}

.text\:color\:creamsicle-200, .text-color-creamsicle-200, .text\:color.creamsicle-200, .text-color.creamsicle-200, .tc-creamsicle-200 , .tc\:creamsicle-200{
    color: var(--creamsicle-200);
}

.text\:color\:creamsicle-300, .text-color-creamsicle-300, .text\:color.creamsicle-300, .text-color.creamsicle-300, .tc-creamsicle-300 , .tc\:creamsicle-300{
    color: var(--creamsicle-300);
}

.text\:color\:creamsicle-400, .text-color-creamsicle-400, .text\:color.creamsicle-400, .text-color.creamsicle-400, .tc-creamsicle-400 , .tc\:creamsicle-400{
    color: var(--creamsicle-400);
}

.text\:color\:creamsicle-500, .text-color-creamsicle-500, .text\:color.creamsicle-500, .text-color.creamsicle-500, .tc-creamsicle-500 , .tc\:creamsicle-500{
    color: var(--creamsicle-500);
}

.text\:color\:creamsicle-600, .text-color-creamsicle-600, .text\:color.creamsicle-600, .text-color.creamsicle-600, .tc-creamsicle-600 , .tc\:creamsicle-600{
    color: var(--creamsicle-600);
}

.text\:color\:creamsicle-700, .text-color-creamsicle-700, .text\:color.creamsicle-700, .text-color.creamsicle-700, .tc-creamsicle-700 , .tc\:creamsicle-700{
    color: var(--creamsicle-700);
}

.text\:color\:creamsicle-800, .text-color-creamsicle-800, .text\:color.creamsicle-800, .text-color.creamsicle-800, .tc-creamsicle-800 , .tc\:creamsicle-800{
    color: var(--creamsicle-800);
}

.text\:color\:creamsicle-900, .text-color-creamsicle-900, .text\:color.creamsicle-900, .text-color.creamsicle-900, .tc-creamsicle-900 , .tc\:creamsicle-900{
    color: var(--creamsicle-900);
}

/* icon stiles */

.icon\:creamsicle-100, .icon.creamsicle-100 {
    display: inline-block;
    background: var(--creamsicle-100);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:creamsicle-200, .icon.creamsicle-200 {
    display: inline-block;
    background: var(--creamsicle-200);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:creamsicle-300, .icon.creamsicle-300 {
    display: inline-block;
    background: var(--creamsicle-300);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:creamsicle-400, .icon.creamsicle-400 {
    display: inline-block;
    background: var(--creamsicle-400);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:creamsicle-500, .icon.creamsicle-500 {
    display: inline-block;
    background: var(--creamsicle-500);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:creamsicle-600, .icon.creamsicle-600 {
    display: inline-block;
    background: var(--creamsicle-600);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:creamsicle-700, .icon.creamsicle-700 {
    display: inline-block;
    background: var(--creamsicle-700);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:creamsicle-800, .icon.creamsicle-800 {
    display: inline-block;
    background: var(--creamsicle-800);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:creamsicle-900, .icon.creamsicle-900 {
    display: inline-block;
    background: var(--creamsicle-900);
    background-size: cover;
    background-repeat: no-repeat;
}