@import url('peach/background.css');
@import url('peach/border.css');
@import url('peach/hover.css');
@import url('peach/icon.css');
@import url('peach/shadow.css');
@import url('peach/text.css');

:root {
    --peach-100: hsl(30, 100%, 97%);
    --peach-200: hsl(30, 100%, 90%);
    --peach-300: hsl(30, 100%, 85%);
    --peach-400: hsl(30, 100%, 80%);
    --peach-500: hsl(30, 100%, 75%);
    --peach-600: hsl(30, 100%, 65%);
    --peach-700: hsl(30, 100%, 60%);
    --peach-800: hsl(30, 100%, 55%);
    --peach-900: hsl(30, 100%, 50%);
}