:root {
    --peach-100: hsl(30, 100%, 97%);
    --peach-200: hsl(30, 100%, 90%);
    --peach-300: hsl(30, 100%, 85%);
    --peach-400: hsl(30, 100%, 80%);
    --peach-500: hsl(30, 100%, 75%);
    --peach-600: hsl(30, 100%, 65%);
    --peach-700: hsl(30, 100%, 60%);
    --peach-800: hsl(30, 100%, 55%);
    --peach-900: hsl(30, 100%, 50%);
}

/* Peach */
.bg\:peach-100, .bg.peach-100, .bg-peach-100, .bg\:peach\:100 {
    background-color: var(--peach-100);
}

.bg\:peach-200, .bg.peach-200, .bg-peach-200, .bg\:peach\:200 {
    background-color: var(--peach-200);
}

.bg\:peach-300, .bg.peach-300,.bg-peach-300, .bg\:peach\:300 {
    background-color: var(--peach-300);
}
.bg\:peach-400, .bg.peach-400, .bg-peach-400, .bg\:peach\:400 {
    background-color: var(--peach-400);
}

.bg\:peach-500, .bg.peach-500, .bg-peach-500, .bg\:peach\:500 {
    background-color: var(--peach-500);
}

.bg\:peach-600, .bg.peach-600, .bg-peach-600, .bg\:peach\:600 {
    background-color: var(--peach-600);
}

.bg\:peach-700, .bg.peach-700, .bg-peach-700, .bg\:peach\:700 {
    background-color: var(--peach-700);
}

.bg\:peach-800, .bg.peach-800, .bg-peach-800, .bg\:peach\:800 {
    background-color: var(--peach-800);
}

.bg\:peach-900, .bg.peach-900, .bg-peach-900, .bg\:peach\:900 {
    background-color: var(--peach-900);
}

/*
 * 	
 *	Text Stiles
 *  
 */
 .text\:color\:peach-100, .text-color-peach-100, .text\:color.peach-100, .text-color.peach-100, .tc-peach-100 , .tc\:peach-100{
    color: var(--peach-100);
}

.text\:color\:peach-200, .text-color-peach-200, .text\:color.peach-200, .text-color.peach-200, .tc-peach-200 , .tc\:peach-200{
    color: var(--peach-200);
}

.text\:color\:peach-300, .text-color-peach-300, .text\:color.peach-300, .text-color.peach-300, .tc-peach-300 , .tc\:peach-300{
    color: var(--peach-300);
}

.text\:color\:peach-400, .text-color-peach-400, .text\:color.peach-400, .text-color.peach-400, .tc-peach-400 , .tc\:peach-400{
    color: var(--peach-400);
}

.text\:color\:peach-500, .text-color-peach-500, .text\:color.peach-500, .text-color.peach-500, .tc-peach-500 , .tc\:peach-500{
    color: var(--peach-500);
}

.text\:color\:peach-600, .text-color-peach-600, .text\:color.peach-600, .text-color.peach-600, .tc-peach-600 , .tc\:peach-600{
    color: var(--peach-600);
}

.text\:color\:peach-700, .text-color-peach-700, .text\:color.peach-700, .text-color.peach-700, .tc-peach-700 , .tc\:peach-700{
    color: var(--peach-700);
}

.text\:color\:peach-800, .text-color-peach-800, .text\:color.peach-800, .text-color.peach-800, .tc-peach-800 , .tc\:peach-800{
    color: var(--peach-800);
}

.text\:color\:peach-900, .text-color-peach-900, .text\:color.peach-900, .text-color.peach-900, .tc-peach-900 , .tc\:peach-900{
    color: var(--peach-900);
}

/* icon stiles */

.icon\:peach-100, .icon.peach-100 {
    display: inline-block;
    background: var(--peach-100);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:peach-200, .icon.peach-200 {
    display: inline-block;
    background: var(--peach-200);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:peach-300, .icon.peach-300 {
    display: inline-block;
    background: var(--peach-300);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:peach-400, .icon.peach-400 {
    display: inline-block;
    background: var(--peach-400);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:peach-500, .icon.peach-500 {
    display: inline-block;
    background: var(--peach-500);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:peach-600, .icon.peach-600 {
    display: inline-block;
    background: var(--peach-600);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:peach-700, .icon.peach-700 {
    display: inline-block;
    background: var(--peach-700);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:peach-800, .icon.peach-800 {
    display: inline-block;
    background: var(--peach-800);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:peach-900, .icon.peach-900 {
    display: inline-block;
    background: var(--peach-900);
    background-size: cover;
    background-repeat: no-repeat;
}