    @import url('freshgreen.css');
    @import url('lime.css');
    @import url('wintergreen.css');
    
    /* Element Styles */
    @import url('green/background.css');
    @import url('green/border.css');
    @import url('green/hover.css');
    @import url('green/icon.css');
    @import url('green/shadow.css');
    @import url('green/text.css');
    :root {
    /* Greens */
    --green-100: hsl(140, 50%, 95%);
    --green-200: hsl(140, 50%, 90%);
    --green-300: hsl(140, 50%, 85%);
    --green-400: hsl(140, 50%, 80%);
    --green-500: hsl(140, 50%, 75%);
    --green-600: hsl(140, 50%, 70%);
    --green-700: hsl(140, 50%, 65%);
    --green-800: hsl(140, 50%, 60%);
    --green-900: hsl(140, 50%, 55%);
    }
