    @import url('freshgreen.css');
    @import url('lime.css');
    @import url('wintergreen.css');
    
    :root {
    /* Greens */
    --green-100: hsl(140, 50%, 95%);
    --green-200: hsl(140, 50%, 90%);
    --green-300: hsl(140, 50%, 85%);
    --green-400: hsl(140, 50%, 80%);
    --green-500: hsl(140, 50%, 75%);
    --green-600: hsl(140, 50%, 70%);
    --green-700: hsl(140, 50%, 65%);
    --green-800: hsl(140, 50%, 60%);
    --green-900: hsl(140, 50%, 55%);
    }

/* Green */
.bg\:green-100, .bg.green-100, .bg-green-100, .bg\:green\:100 {
    background-color: var(--green-100);
}

.bg\:green-200, .bg.green-200, .bg-green-200, .bg\:green\:200 {
    background-color: var(--green-200);
}

.bg\:green-300, .bg.green-300,.bg-green-300, .bg\:green\:300 {
    background-color: var(--green-300);
}
.bg\:green-400, .bg.green-400, .bg-green-400, .bg\:green\:400 {
    background-color: var(--green-400);
}

.bg\:green-500, .bg.green-500, .bg-green-500, .bg\:green\:500 {
    background-color: var(--green-500);
}

.bg\:green-600, .bg.green-600, .bg-green-600, .bg\:green\:600 {
    background-color: var(--green-600);
}

.bg\:green-700, .bg.green-700, .bg-green-700, .bg\:green\:700 {
    background-color: var(--green-700);
}

.bg\:green-800, .bg.green-800, .bg-green-800, .bg\:green\:800 {
    background-color: var(--green-800);
}

.bg\:green-900, .bg.green-900, .bg-green-900, .bg\:green\:900 {
    background-color: var(--green-900);
}

/*
 * 	
 *	Text Stiles
 *  
 */
 .text\:color\:green-100, .text-color-green-100, .text\:color.bg-green-100, .text-color.bg-green-100, .tc-green-100 , .tc\:green-100{
    color: var(--green-100);
}

.text\:color\:green-200, .text-color-green-200, .text\:color.bg-green-200, .text-color.bg-green-200, .tc-green-200 , .tc\:green-200{
    color: var(--green-200);
}

.text\:color\:green-300, .text-color-green-300, .text\:color.bg-green-300, .text-color.bg-green-300, .tc-green-300 , .tc\:green-300{
    color: var(--green-300);
}

.text\:color\:green-400, .text-color-green-400, .text\:color.bg-green-400, .text-color.bg-green-400, .tc-green-400 , .tc\:green-400{
    color: var(--green-400);
}

.text\:color\:green-500, .text-color-green-500, .text\:color.bg-green-500, .text-color.bg-green-500, .tc-green-500 , .tc\:green-500{
    color: var(--green-500);
}

.text\:color\:green-600, .text-color-green-600, .text\:color.bg-green-600, .text-color.bg-green-600, .tc-green-600 , .tc\:green-600{
    color: var(--green-600);
}

.text\:color\:green-700, .text-color-green-700, .text\:color.bg-green-700, .text-color.bg-green-700, .tc-green-700 , .tc\:green-700{
    color: var(--green-700);
}

.text\:color\:green-800, .text-color-green-800, .text\:color.bg-green-800, .text-color.bg-green-800, .tc-green-800 , .tc\:green-800{
    color: var(--green-800);
}

.text\:color\:green-900, .text-color-green-900, .text\:color.bg-green-900, .text-color.bg-green-900, .tc-green-900 , .tc\:green-900{
    color: var(--green-900);
}

/* icon stiles */

.icon\:green-100, .icon.green-100 {
    display: inline-block;
    background: var(--green-100);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:green-200, .icon.green-200 {
    display: inline-block;
    background: var(--green-200);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:green-300, .icon.green-300 {
    display: inline-block;
    background: var(--green-300);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:green-400, .icon.green-400 {
    display: inline-block;
    background: var(--green-400);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:green-500, .icon.green-500 {
    display: inline-block;
    background: var(--green-500);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:green-600, .icon.green-600 {
    display: inline-block;
    background: var(--green-600);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:green-700, .icon.green-700 {
    display: inline-block;
    background: var(--green-700);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:green-800, .icon.green-800 {
    display: inline-block;
    background: var(--green-800);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:green-900, .icon.green-900 {
    display: inline-block;
    background: var(--green-900);
    background-size: cover;
    background-repeat: no-repeat;
}