@import url('lime/background.css');
@import url('lime/border.css');
@import url('lime/hover.css');
@import url('lime/icon.css');
@import url('lime/shadow.css');
@import url('lime/text.css');

:root {
    --lime-100: hsl(99, 70%, 90%);
    --lime-200: hsl(99, 70%, 80%);
    --lime-300: hsl(99, 70%, 70%);
    --lime-400: hsl(99, 70%, 60%);
    --lime-500: hsl(99, 70%, 50%);
    --lime-600: hsl(99, 70%, 40%);
    --lime-700: hsl(99, 70%, 30%);
    --lime-800: hsl(99, 70%, 20%);
    --lime-900: hsl(99, 70%, 15%);
}