:root {
    --lime-100: hsl(99, 70%, 90%);
    --lime-200: hsl(99, 70%, 80%);
    --lime-300: hsl(99, 70%, 70%);
    --lime-400: hsl(99, 70%, 60%);
    --lime-500: hsl(99, 70%, 50%);
    --lime-600: hsl(99, 70%, 40%);
    --lime-700: hsl(99, 70%, 30%);
    --lime-800: hsl(99, 70%, 20%);
    --lime-900: hsl(99, 70%, 15%);
}

/* Lime */
.bg\:lime-100, .bg.lime-100, .bg-lime-100, .bg\:lime\:100 {
    background-color: var(--lime-100);
}

.bg\:lime-200, .bg.lime-200, .bg-lime-200, .bg\:lime\:200 {
    background-color: var(--lime-200);
}

.bg\:lime-300, .bg.lime-300,.bg-lime-300, .bg\:lime\:300 {
    background-color: var(--lime-300);
}
.bg\:lime-400, .bg.lime-400, .bg-lime-400, .bg\:lime\:400 {
    background-color: var(--lime-400);
}

.bg\:lime-500, .bg.lime-500, .bg-lime-500, .bg\:lime\:500 {
    background-color: var(--lime-500);
}

.bg\:lime-600, .bg.lime-600, .bg-lime-600, .bg\:lime\:600 {
    background-color: var(--lime-600);
}

.bg\:lime-700, .bg.lime-700, .bg-lime-700, .bg\:lime\:700 {
    background-color: var(--lime-700);
}

.bg\:lime-800, .bg.lime-800, .bg-lime-800, .bg\:lime\:800 {
    background-color: var(--lime-800);
}

.bg\:lime-900, .bg.lime-900, .bg-lime-900, .bg\:lime\:900 {
    background-color: var(--lime-900);
}

/*
 * 	
 *	Text Stiles
 *  
 */
 .text\:color\:lime-100, .text-color-lime-100, .text\:color.bg-lime-100, .text-color.bg-lime-100, .tc-lime-100 , .tc\:lime-100{
    color: var(--lime-100);
}

.text\:color\:lime-200, .text-color-lime-200, .text\:color.bg-lime-200, .text-color.bg-lime-200, .tc-lime-200 , .tc\:lime-200{
    color: var(--lime-200);
}

.text\:color\:lime-300, .text-color-lime-300, .text\:color.bg-lime-300, .text-color.bg-lime-300, .tc-lime-300 , .tc\:lime-300{
    color: var(--lime-300);
}

.text\:color\:lime-400, .text-color-lime-400, .text\:color.bg-lime-400, .text-color.bg-lime-400, .tc-lime-400 , .tc\:lime-400{
    color: var(--lime-400);
}

.text\:color\:lime-500, .text-color-lime-500, .text\:color.bg-lime-500, .text-color.bg-lime-500, .tc-lime-500 , .tc\:lime-500{
    color: var(--lime-500);
}

.text\:color\:lime-600, .text-color-lime-600, .text\:color.bg-lime-600, .text-color.bg-lime-600, .tc-lime-600 , .tc\:lime-600{
    color: var(--lime-600);
}

.text\:color\:lime-700, .text-color-lime-700, .text\:color.bg-lime-700, .text-color.bg-lime-700, .tc-lime-700 , .tc\:lime-700{
    color: var(--lime-700);
}

.text\:color\:lime-800, .text-color-lime-800, .text\:color.bg-lime-800, .text-color.bg-lime-800, .tc-lime-800 , .tc\:lime-800{
    color: var(--lime-800);
}

.text\:color\:lime-900, .text-color-lime-900, .text\:color.bg-lime-900, .text-color.bg-lime-900, .tc-lime-900 , .tc\:lime-900{
    color: var(--lime-900);
}

/* icon stiles */

.icon\:lime-100, .icon.lime-100 {
    display: inline-block;
    background: var(--lime-100);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:lime-200, .icon.lime-200 {
    display: inline-block;
    background: var(--lime-200);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:lime-300, .icon.lime-300 {
    display: inline-block;
    background: var(--lime-300);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:lime-400, .icon.lime-400 {
    display: inline-block;
    background: var(--lime-400);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:lime-500, .icon.lime-500 {
    display: inline-block;
    background: var(--lime-500);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:lime-600, .icon.lime-600 {
    display: inline-block;
    background: var(--lime-600);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:lime-700, .icon.lime-700 {
    display: inline-block;
    background: var(--lime-700);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:lime-800, .icon.lime-800 {
    display: inline-block;
    background: var(--lime-800);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:lime-900, .icon.lime-900 {
    display: inline-block;
    background: var(--lime-900);
    background-size: cover;
    background-repeat: no-repeat;
}