@import url('wintergreen/background.css');
@import url('wintergreen/border.css');
@import url('wintergreen/hover.css');
@import url('wintergreen/icon.css');
@import url('wintergreen/shadow.css');
@import url('wintergreen/text.css');

:root {
    --wintergreen-100: hsl(152, 99%, 80%);
    --wintergreen-200: hsl(152, 99%, 70%);
    --wintergreen-300: hsl(152, 99%, 60%);
    --wintergreen-400: hsl(152, 99%, 50%);
    --wintergreen-500: hsl(152, 99%, 40%);
    --wintergreen-600: hsl(152, 99%, 30%);
    --wintergreen-700: hsl(152, 99%, 25%);
    --wintergreen-800: hsl(152, 99%, 20%);
    --wintergreen-900: hsl(152, 99%, 15%);
}