:root {
    --wintergreen-100: hsl(152, 99%, 80%);
    --wintergreen-200: hsl(152, 99%, 70%);
    --wintergreen-300: hsl(152, 99%, 60%);
    --wintergreen-400: hsl(152, 99%, 50%);
    --wintergreen-500: hsl(152, 99%, 40%);
    --wintergreen-600: hsl(152, 99%, 30%);
    --wintergreen-700: hsl(152, 99%, 25%);
    --wintergreen-800: hsl(152, 99%, 20%);
    --wintergreen-900: hsl(152, 99%, 15%);
}


/* Wintergreen */
.bg\:wintergreen-100, .bg.wintergreen-100, .bg-wintergreen-100, .bg\:wintergreen\:100 {
    background-color: var(--wintergreen-100);
}

.bg\:wintergreen-200, .bg.wintergreen-200, .bg-wintergreen-200, .bg\:wintergreen\:200 {
    background-color: var(--wintergreen-200);
}

.bg\:wintergreen-300, .bg.wintergreen-300,.bg-wintergreen-300, .bg\:wintergreen\:300 {
    background-color: var(--wintergreen-300);
}
.bg\:wintergreen-400, .bg.wintergreen-400, .bg-wintergreen-400, .bg\:wintergreen\:400 {
    background-color: var(--wintergreen-400);
}

.bg\:wintergreen-500, .bg.wintergreen-500, .bg-wintergreen-500, .bg\:wintergreen\:500 {
    background-color: var(--wintergreen-500);
}

.bg\:wintergreen-600, .bg.wintergreen-600, .bg-wintergreen-600, .bg\:wintergreen\:600 {
    background-color: var(--wintergreen-600);
}

.bg\:wintergreen-700, .bg.wintergreen-700, .bg-wintergreen-700, .bg\:wintergreen\:700 {
    background-color: var(--wintergreen-700);
}

.bg\:wintergreen-800, .bg.wintergreen-800, .bg-wintergreen-800, .bg\:wintergreen\:800 {
    background-color: var(--wintergreen-800);
}

.bg\:wintergreen-900, .bg.wintergreen-900, .bg-wintergreen-900, .bg\:wintergreen\:900 {
    background-color: var(--wintergreen-900);
}

/*
 * 	
 *	Text Stiles
 *  
 */
 .text\:color\:wintergreen-100, .text-color-wintergreen-100, .text\:color.bg-wintergreen-100, .text-color.bg-wintergreen-100, .tc-wintergreen-100 , .tc\:wintergreen-100{
    color: var(--wintergreen-100);
}

.text\:color\:wintergreen-200, .text-color-wintergreen-200, .text\:color.bg-wintergreen-200, .text-color.bg-wintergreen-200, .tc-wintergreen-200 , .tc\:wintergreen-200{
    color: var(--wintergreen-200);
}

.text\:color\:wintergreen-300, .text-color-wintergreen-300, .text\:color.bg-wintergreen-300, .text-color.bg-wintergreen-300, .tc-wintergreen-300 , .tc\:wintergreen-300{
    color: var(--wintergreen-300);
}

.text\:color\:wintergreen-400, .text-color-wintergreen-400, .text\:color.bg-wintergreen-400, .text-color.bg-wintergreen-400, .tc-wintergreen-400 , .tc\:wintergreen-400{
    color: var(--wintergreen-400);
}

.text\:color\:wintergreen-500, .text-color-wintergreen-500, .text\:color.bg-wintergreen-500, .text-color.bg-wintergreen-500, .tc-wintergreen-500 , .tc\:wintergreen-500{
    color: var(--wintergreen-500);
}

.text\:color\:wintergreen-600, .text-color-wintergreen-600, .text\:color.bg-wintergreen-600, .text-color.bg-wintergreen-600, .tc-wintergreen-600 , .tc\:wintergreen-600{
    color: var(--wintergreen-600);
}

.text\:color\:wintergreen-700, .text-color-wintergreen-700, .text\:color.bg-wintergreen-700, .text-color.bg-wintergreen-700, .tc-wintergreen-700 , .tc\:wintergreen-700{
    color: var(--wintergreen-700);
}

.text\:color\:wintergreen-800, .text-color-wintergreen-800, .text\:color.bg-wintergreen-800, .text-color.bg-wintergreen-800, .tc-wintergreen-800 , .tc\:wintergreen-800{
    color: var(--wintergreen-800);
}

.text\:color\:wintergreen-900, .text-color-wintergreen-900, .text\:color.bg-wintergreen-900, .text-color.bg-wintergreen-900, .tc-wintergreen-900 , .tc\:wintergreen-900{
    color: var(--wintergreen-900);
}

/* icon stiles */

.icon\:wintergreen-100, .icon.wintergreen-100 {
    display: inline-block;
    background: var(--wintergreen-100);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:wintergreen-200, .icon.wintergreen-200 {
    display: inline-block;
    background: var(--wintergreen-200);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:wintergreen-300, .icon.wintergreen-300 {
    display: inline-block;
    background: var(--wintergreen-300);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:wintergreen-400, .icon.wintergreen-400 {
    display: inline-block;
    background: var(--wintergreen-400);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:wintergreen-500, .icon.wintergreen-500 {
    display: inline-block;
    background: var(--wintergreen-500);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:wintergreen-600, .icon.wintergreen-600 {
    display: inline-block;
    background: var(--wintergreen-600);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:wintergreen-700, .icon.wintergreen-700 {
    display: inline-block;
    background: var(--wintergreen-700);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:wintergreen-800, .icon.wintergreen-800 {
    display: inline-block;
    background: var(--wintergreen-800);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:wintergreen-900, .icon.wintergreen-900 {
    display: inline-block;
    background: var(--wintergreen-900);
    background-size: cover;
    background-repeat: no-repeat;
}