@import url('bubblegum/background.css');
@import url('bubblegum/border.css');
@import url('bubblegum/hover.css');
@import url('bubblegum/icon.css');
@import url('bubblegum/shadow.css');
@import url('bubblegum/text.css');

:root {
    --bubblegum-100: hsl(310, 100%, 90%);
    --bubblegum-200: hsl(310, 100%, 80%);
    --bubblegum-300: hsl(310, 100%, 70%);
    --bubblegum-400: hsl(310, 100%, 60%);
    --bubblegum-500: hsl(310, 100%, 50%);
    --bubblegum-600: hsl(310, 100%, 40%);
    --bubblegum-700: hsl(310, 100%, 30%);
    --bubblegum-800: hsl(310, 100%, 25%);
    --bubblegum-900: hsl(310, 100%, 20%);
}