@import url('bubblegum.css');

/* Element Styles */
@import url('pink/background.css');
@import url('pink/border.css');
@import url('pink/hover.css');
@import url('pink/icon.css');
@import url('pink/shadow.css');
@import url('pink/text.css');
:root{
   /*    Pinks   */

    --pink-100: hsl(300, 100%, 95%);
    --pink-200: hsl(300, 100%, 90%);
    --pink-300: hsl(300, 100%, 85%);
    --pink-400: hsl(300, 100%, 80%);
    --pink-500: hsl(300, 100%, 75%);
    --pink-600: hsl(300, 100%, 70%);
    --pink-700: hsl(300, 100%, 65%);
    --pink-800: hsl(300, 100%, 60%);
    --pink-900: hsl(300, 100%, 45%);
}