/* Icon */
.icon\:red-100, .icon.red-100 {
    display: inline-block;
    background: var(--red-100);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:red-200, .icon.red-200 {
    display: inline-block;
    background: var(--red-200);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:red-300, .icon.red-300 {
    display: inline-block;
    background: var(--red-300);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:red-400, .icon.red-400 {
    display: inline-block;
    background: var(--red-400);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:red-500, .icon.red-500 {
    display: inline-block;
    background: var(--red-500);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:red-600, .icon.red-600 {
    display: inline-block;
    background: var(--red-600);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:red-700, .icon.red-700 {
    display: inline-block;
    background: var(--red-700);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:red-800, .icon.red-800 {
    display: inline-block;
    background: var(--red-800);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:red-900, .icon.red-900 {
    display: inline-block;
    background: var(--red-900);
    background-size: cover;
    background-repeat: no-repeat;
}