/* Hover Styles */

.\:hover-candy-apple-red-100:hover, .\:hover.candy-apple-red-100:hover {
    border-color: var(--candy-apple-red-100);
    background-color: var(--candy-apple-red-100);
}

.\:hover-candy-apple-red-200:hover, .\:hover.candy-apple-red-200:hover {
    border-color: var(--candy-apple-red-200);
    background-color: var(--candy-apple-red-200);
}

.\:hover-candy-apple-red-300:hover, .\:hover.candy-apple-red-300:hover {
    border-color: var(--candy-apple-red-300);
    background-color: var(--candy-apple-red-300);
}

.\:hover-candy-apple-red-400:hover, .\:hover.candy-apple-red-400:hover {
    border-color: var(--candy-apple-red-400);
    background-color: var(--candy-apple-red-400);
}

.\:hover-candy-apple-red-500:hover, .\:hover.candy-apple-red-500:hover {
    border-color: var(--candy-apple-red-500);
    background-color: var(--candy-apple-red-500);
}

.\:hover-candy-apple-red-600:hover, .\:hover.candy-apple-red-600:hover {
    border-color: var(--candy-apple-red-600);
    background-color: var(--candy-apple-red-600);
}

.\:hover-candy-apple-red-700:hover, .\:hover.candy-apple-red-700:hover {
    border-color: var(--candy-apple-red-700);
    background-color: var(--candy-apple-red-700);
}

.\:hover-candy-apple-red-800:hover, .\:hover.candy-apple-red-800:hover {
    border-color: var(--candy-apple-red-800);
    background-color: var(--candy-apple-red-800);
}

.\:hover-candy-apple-red-900:hover, .\:hover.candy-apple-red-900:hover {
    border-color: var(--candy-apple-red-900);
    background-color: var(--candy-apple-red-900);
}

.\:hover-candy-apple-red-900\[white\]:hover{
    border-color: var(--candy-apple-red-900);
    background-color: var(--candy-apple-red-900);
    color:var(--white-100);
}

.\:hover-candy-apple-red-100\[outline\]:hover, .\:hover.candy-apple-red-100\[outline\]:hover {
    color: var(--candy-apple-red-100);
    border-color: var(--candy-apple-red-100);
}

.\:hover-candy-apple-red-200\[outline\]:hover, .\:hover.candy-apple-red-200\[outline\]:hover {
    color: var(--candy-apple-red-200);
    border-color: var(--candy-apple-red-200);
}

.\:hover-candy-apple-red-300\[outline\]:hover, .\:hover.candy-apple-red-300\[outline\]:hover {
    color: var(--candy-apple-red-300);
    border-color: var(--candy-apple-red-300);
}

.\:hover-candy-apple-red-400\[outline\]:hover, .\:hover.candy-apple-red-400\[outline\]:hover {
    color: var(--candy-apple-red-400);
    border-color: var(--candy-apple-red-400);
}

.\:hover-candy-apple-red-500\[outline\]:hover, .\:hover.candy-apple-red-500\[outline\]:hover {
    color: var(--candy-apple-red-500);
    border-color: var(--candy-apple-red-500);
}

.\:hover-candy-apple-red-600\[outline\]:hover, .\:hover.candy-apple-red-600\[outline\]:hover {
    color: var(--candy-apple-red-600);
    border-color: var(--candy-apple-red-600);
}

.\:hover-candy-apple-red-700\[outline\]:hover, .\:hover.candy-apple-red-700\[outline\]:hover {
    color: var(--candy-apple-red-700);
    border-color: var(--candy-apple-red-700);
}

.\:hover-candy-apple-red-800\[outline\]:hover, .\:hover.candy-apple-red-800\[outline\]:hover {
    color: var(--candy-apple-red-800);
    border-color: var(--candy-apple-red-800);
}

.\:hover-candy-apple-red-900\[outline\]:hover, .\:hover.candy-apple-red-900\[outline\]:hover {
    color: var(--candy-apple-red-900);
    border-color: var(--candy-apple-red-900);
}