:root {
    --plumpkin-plum: hsl(250, 97%, 26%);
    --plumpkin-lavender: hsl(253, 68%, 50%);
    --plumpkin-lilac: hsl(239, 43%, 49%);
    --plumpkin-peach: hsl(34, 50%, 70%);
    --plumpkin-seed: hsl(39, 49%, 83%);

    /* TODO: Define Gradients */
}

/* BG Styles */
/* TODO: Define for containers */


/* Text Styles */
/* TODO: Define for font/text */

/* Icon Styles */
/* TODO: Define icon/gradients */
