    /*   Purples   */

    --purple-100: hsl(255, 100%, 95%);
    --purple-200: hsl(255, 100%, 90%);
    --purple-300: hsl(255, 100%, 85%);
    --purple-400: hsl(255, 100%, 80%);
    --purple-500: hsl(255, 100%, 75%);
    --purple-600: hsl(255, 100%, 70%);
    --purple-700: hsl(255, 100%, 65%);
    --purple-800: hsl(255, 100%, 60%);
    --purple-900: hsl(255, 100%, 55%);

