:root {
    --blush-raspberry: hsl(336, 53%, 49%);
    --blush-petal: hsl(0, 13%, 90%);
    --blush-ivory: hsl(0, 4%, 90%);
    --blush-sky: hsl(203, 31%, 49%);
    --blush-midnight: hsl(207, 79%, 19%);
}
/* Text */
.text\:blush\:raspberry, .text\:color.blush\:raspberry, .text-color.blush-raspberry {
    color: var(--blush-raspberry);
}

.text\:blush\:petal, .text\:color.blush\:petal, .text-color.blush-petal {
    color: var(--blush-petal);
}

.text\:blush\:ivory, .text\:color.blush\:ivory, .text-color.blush-ivory {
    color: var(--blush-ivory);
}

.text\:blush\:sky, .text\:color.blush\:sky, .text-color.blush-sky {
    color: var(--blush-sky);
}

.text\:blush\:midnight, .text\:color.blush\:midnight, .text-color.blush-midnight {
    color: var(--blush-midnight);
}

/* BG */
.bg\:blush.raspberry, .bg\:color.blush\:raspberry, .bg-color.blush-raspberry {
    background-color: var(--blush-raspberry);
}

.bg\:blush.petal, .bg\:color.blush\:raspberry, .bg-color.blush-raspberry {
    background-color: var(--blush-petal);
}

.bg\:blush.ivory, .bg\:color.blush\:ivory, .bg-color.blush-ivory {
    background-color: var(--blush-ivory);
}

.bg\:blush.sky, .bg\:color.blush\:sky, .bg-color.blush-sky {
    background-color: var(--blush-sky);
}

.bg\:blush.midnight, .bg\:color.blush\:midnight, .bg-color.blush-midnight {
    background-color: var(--blush-midnight);
}

/* Border Stiles */
.border\:blush\:raspberry {
    border-color: var(--blush-raspberry);
}

.border\:blush\:petal {
    border-color: var(--blush-petal);
}

.border\:blush\:ivory {
    border-color: var(--blush-ivory);
}

.border\:blush\:sky {
    border-color: var(--blush-sky);
}

.border\:blush\:midnight {
    border-color: var(--blush-midnight);
}

/* Shadow Stiles */
/* TODO: Add variations */
.ds\:md.blush\:raspberry {
    box-shadow: var(--blush-raspberry) 10px 10px;
}

.ds\:md.blush\:petal {
    box-shadow: var(--blush-petal) 10px 10px;
}

.ds\:md.blush\:ivory {
    box-shadow: var(--blush-ivory) 10px 10px;
}

.ds\:md.blush\:sky {
    box-shadow: var(--blush-sky) 10px 10px;
}

.ds\:md.blush\:midnight {
    box-shadow: var(--blush-midnight) 10px 10px;
}

/* Highlight Stiles */
.hl\:blush\:rasp {
    background-color:var(--blush-raspberry);
}

.hl\:blush\:raspberry:hover {
    background-color: var(--blush-petal);    
}

.hl\:blush\:petal {
    background-color:var(--blush-petal);
}

.hl\:blush\:sky {
    background-color: var(--blush-sky);
    padding: 0.2rem;
}

/* .hl\:blush\:sky:hover {
    background-color: var(--blush-petal);
    padding: 0.2rem;
} */

.hl\:blush\:raspberry:hover {
    background-color: var(--blush-raspberry);    
}

/* Icon Stiles */
.icon\:blush\:raspberry {
    display: inline-block;
    background: var(--blush-raspberry);
    background-size: contain;
    background-repeat: no-repeat;
}

.icon\:blush\:petal {
    display: inline-block;
    background: var(--blush-petal);
    background-size: contain;
    background-repeat: no-repeat;
}

.icon\:blush\:ivory {
    display: inline-block;
    background: var(--blush-ivory);
    background-size: contain;
    background-repeat: no-repeat;
}

.icon\:blush\:sky {
    display: inline-block;
    background: var(--blush-sky);
    background-size: contain;
    background-repeat: no-repeat;
}

.icon\:blush\:midnight {
    display: inline-block;
    background: var(--blush-midnight);
    background-size: contain;
    background-repeat: no-repeat;
}
/* Button Stiles */
.btn\:blush\:raspberry {
    height: 5vh;
    width: 15vw;
    background-color: var(--blush-raspberry);
    border:none;
}

[class *= "btn:blush:raspberry"]:hover {
    height: 5vh;
    width: 15vw;
    background-color: var(--blush-petal);
    border:none;
    color: var(--blush-midnight)
}

.btn\:blush\:petal {
    height: 5vh;
    width: 5vw;
    background-color: var(--blush-petal);
    border:none;
}

.btn\:blush\:petal:hover {
    height: 5vh;
    width: 5vw;
    background-color: var(--blush-raspberry);
    border:none;
}

.btn\:blush\:ivory {
    height: 5vh;
    width: 5vw;
    background-color: var(--blush-ivory);
    border:none;
}

.btn\:blush\:sky {
    background-color: var(--blush-sky);
    border:none;
}

.btn\:blush\:sky:hover {
    background-color: var(--blush-ivory);
    color: var(--black-600);
}

.btn\:blush\:midnight {
    height: 5vh;
    width: 5vw;
    background-color: var(--blush-midnight);
    border:none;
}