:root {
    --blush-raspberry: hsl(336, 53%, 49%);
    --blush-petal: hsl(0, 13%, 90%);
    --blush-ivory: hsl(0, 4%, 90%);
    --blush-sky: hsl(203, 31%, 49%);
    --blush-midnight: hsl(207, 79%, 19%);
}

/* TODO: Text Stiles */

/* TODO: BG Stiles */

/* TODO: Border Stiles */

/* TODO: Shadow Stiles */

/* TODO: Highlight Stiles */

/* TODO: Icon Stiles */

/* TODO: Button Stiles */