/* Text */

.text\:color\:\:blue\:100,
.text-color--blue-100,
.text-color.blue-100,
.text\:color.blue\:100,
.tc\:blue\:100,
.tc-blue-100
{
    color: var(--blue-100);
}

.text\:color\:\:blue\:200,
.text-color--blue-200,
.text-color.blue-200,
.text\:color.blue\:200,
.tc\:blue\:200,
.tc-blue-200 {
    color: var(--blue-200);
}

.text\:color\:\:blue\:300,
.text-color--blue-300,
.text-color.blue-300,
.text\:color.blue\:300,
.tc\:blue\:300,
.tc-blue-300 {
    color: var(--blue-300);
}

.text\:color\:\:blue\:400,
.text-color--blue-400,
.text-color.blue-400,
.text\:color.blue\:400,
.tc\:blue\:400,
.tc-blue-400 {
    color: var(--blue-400);
}

.text\:color\:\:blue\:500,
.text-color--blue-500,
.text-color.blue-500,
.text\:color.blue\:500,
.tc\:blue\:500,
.tc-blue-500 {
    color: var(--blue-500);
}

.text\:color\:\:blue\:600,
.text-color--blue-600,
.text-color.blue-600,
.text\:color.blue\:600,
.tc\:blue\:600,
.tc-blue-600 {
    color: var(--blue-600);
}

.text\:color\:\:blue\:700,
.text-color--blue-700,
.text-color.blue-700,
.text\:color.blue\:700,
.tc\:blue\:700,
.tc-blue-700 {
    color: var(--blue-700);
}

.text\:color\:\:blue\:800,
.text-color--blue-800,
.text-color.blue-800,
.text\:color.blue\:800,
.tc\:blue\:800,
.tc-blue-800 {
    color: var(--blue-800);
}

.text\:color\:\:blue\:900,
.text-color--blue-900,
.text-color.blue-900,
.text\:color.blue\:900,
.tc\:blue\:900,
.tc-blue-900 {
    color: var(--blue-900);
}