.accordion.button {
    height: 5vh;
    width: 90%;
}

.accordion\:item.open {
    visibility: visible;
    display: block;
    transition: max-heoght 2s ease-in;

}

.accordion\:item.closed {
    visibility: hidden;
    transition: min-height 2s ease-out;
}


.accordion\:container {
    height: 50vh;
    width: 80vw;
    border: 1px solid red;
}