<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../berillium.css">
    <title>Accordion</title>
</head>
<body>
  
  <!-- Create the accordion here. Freehand -->
  
  <div class="accordion:container">
    <div>
        <button class="accordion-button" data-target="#accordion-content-1" data-toggle="open">Question 1</button>
    </div>
    <div class="accordion-item closed" id="accordion-content-1">
        <div class="accordion-item closed">
            <h2>Answer</h2>
            <p>Answer to Question 1.</p>
        </div>
    </div>
</div>




  <!-- Scripts go here -->
  <script src="../../../js/berilliumCSS/accordion.js"></script>
</body>
</html>