 :root {   /* Sherbet Swatch */

    /* Compound */
    --sherbet-lemon: hsl(55, 100%, 50%);
    --sherbet-peach: hsl(43, 100%, 50%);
    --sherbet-passion: hsl(289, 100%, 50%);
    --sherbet-bluerazz: hsl(256, 100%, 50%);
    --sherbet-pistachio: hsl(55, 67%, 34%);

    /* Compound hsla */
    --sherbet-lemon-hsla: hsla(55, 100%, 50%, 0.3);
    --sherbet-peach-hsla: hsla(43, 100%, 50%, 0.3);
    --sherbet-passion-hsla: hsl(289, 100%, 50%, 0.3);
    --sherbet-bluerazz-hsla: hsl(256, 100%, 50%, 0.3);
    --sherbet-pistachio-hsla: hsl(55, 67%, 34%, 0.3);

}
    
.text\:color\:\:sherbet-lemon,
.text-color--sherbet-lemon,
.text\:color.sherbet\:lemon,
.text-color.sherbet-lemon,
.tc\:sherbet-lemon
{
    color: var(--sherbet-lemon);
}

.text\:color\:\:sherbet-peach,
.text-color--sherbet-peach,
.text\:color.sherbet\:peach,
.text-color.sherbet-peach,
.tc\:sherbet-peach
{
    color: var(--sherbet-peach);
}

.text\:color\:\:sherbet\:passion,
.text-color--sherbet-passion,
.text\:color.sherbet\:passion,
.text-color.sherbet-passion,
.tc\:sherbet\:passion,
.tc-sherbet-passion
{
    color: var(--sherbet-passion);
}

.text\:color\:\:sherbet-bluerazz {
    color: var(--sherbet-bluerazz);
}

.text\:color\:\:sherbet-pistachio {
    color: var(--sherbet-pistachio);
}

/* 

Background Classes 

*/

.bg\:color\:\:sherbet-lemon {
    background-color: var(--sherbet-lemon);
}

.bg\:color\:\:sherbet-peach {
    background-color: var(--sherbet-peach);
}

.bg\:color\:\:sherbet-passion {
    background-color: var(--sherbet-passion);
}

.bg\:color\:\:sherbet-bluerazz {
    background-color: var(--sherbet-bluerazz);
}

.bg\:color\:\:sherbet-pistachio {
    background-color: var(--sherbet-pistachio);
}

/* 
    Border Stiles
*/

.border\:color\:\:sherbet-lemon {
    border-color: var(--sherbet-lemon);
}

.border\:color\:\:sherbet-peach {
    border-color: var(--sherbet-peach);
}

.border\:color\:\:sherbet-passion {
    border-color: var(--sherbet-passion);
}

.border\:color\:\:sherbet-bluerazz {
    border-color: var(--sherbet-bluerazz);
}

.border\:color\:\:sherbet-pistachio {
    border-color: var(--sherbet-pistachio);
}

/* 
    Shadow Stiles
*/

/* Add hsla colors for shadow stiles */

.shadow\:color\:\:sherbet-lemon.sm {
    box-shadow: var(--sherbet-lemon-hsla) 2px 2px;
}

.shadow\:color\:\:sherbet-lemon.md {
    box-shadow: var(--sherbet-lemon-hsla) 4px 6px;
}

.shadow\:color\:\:sherbet-lemon.lg {
    box-shadow: var(--sherbet-lemon-hsla) 6px 6px;
}

.shadow\:color\:\:sherbet-peach.sm {
    box-shadow: var(--sherbet-peach-hsla) 2px 2px;
}

.shadow\:color\:\:sherbet-peach.md {
    box-shadow: var(--sherbet-peach-hsla) 4px 4px;
}

.shadow\:color\:\:sherbet-passion {
    box-shadow: var(--sherbet-passion);
}

.shadow\:color\:\:sherbet-bluerazz {
    box-shadow: var(--sherbet-bluerazz);
}

.shadow\:color\:\:sherbet-pistachio {
    box-shadow: var(--sherbet-pistachio);
}

/* Outline */

.outline\:color\:\:sherbet-lemon\[razz\] {
    border-color: var(--sherbet-lemon);
    color: var(--sherbet-bluerazz);
}

.outline\:color\:\:sherbet-lemon\[razz\]:hover {
    border-color: var(--sherbet-bluerazz);
    color: var(--sherbet-lemon);
}

.outline\:color\:\:sherbet-lemon\[stachio\] {
    border-color: var(--sherbet-lemon);
    color: var(--sherbet-pistachio);
}

.outline\:color\:\:sherbet-lemon\[stachio\]:hover {
    border-color: var(--sherbet-pistachio);
    color: var(--sherbet-lemon);
}