/* Border */
.border\:color\:\:scarlett\:100,
.border-color--scarlett-100,
.border\:color.scarlett\:100,
.border-color.scarlett-100,
.bc\:scarlett\:100,
.bc-scarlett-100
{
    border-color: var(--scarlett-100);
}

.border\:color\:\:scarlett\:200,
.border-color--scarlett-200,
.border\:color.scarlett\:200,
.border-color.scarlett-200,
.bc\:scarlett\:200,
.bc-scarlett-200 {
    border-color: var(--scarlett-200);
}

.border\:color\:\:scarlett\:300,
.border-color--scarlett-300,
.border\:color.scarlett\:300,
.border-color.scarlett-300,
.bc\:scarlett\:300,
.bc-scarlett-300 {
    border-color: var(--scarlett-300);
}

.border\:color\:\:scarlett\:400,
.border-color--scarlett-400,
.border\:color.scarlett\:400,
.border-color.scarlett-400,
.bc\:scarlett\:400,
.bc-scarlett-400 {
    border-color: var(--scarlett-400);
}

.border\:color\:\:scarlett\:500,
.border-color--scarlett-500,
.border\:color.scarlett\:500,
.border-color.scarlett-500,
.bc\:scarlett\:500,
.bc-scarlett-500 {
    border-color: var(--scarlett-500);
}

.border\:color\:\:scarlett\:600,
.border-color--scarlett-600,
.border\:color.scarlett\:600,
.border-color.scarlett-600,
.bc\:scarlett\:600,
.bc-scarlett-600 {
    border-color: var(--scarlett-600);
}

.border\:color\:\:scarlett\:700,
.border-color--scarlett-700,
.border\:color.scarlett\:700,
.border-color.scarlett-700,
.bc\:scarlett\:700,
.bc-scarlett-700 {
    border-color: var(--scarlett-700);
}

.border\:color\:\:scarlett\:800,
.border-color--scarlett-800,
.border\:color.scarlett\:800,
.border-color.scarlett-800,
.bc\:scarlett\:800,
.bc-scarlett-800 {
    border-color: var(--scarlett-800);
}

.border\:color\:\:scarlett\:900,
.border-color--scarlett-900,
.border\:color.scarlett\:900,
.border-color.scarlett-900,
.bc\:scarlett\:900,
.bc-scarlett-900 {
    border-color: var(--scarlett-900);
}