.grid {
    display: grid;
}

.il-grid {
    display: inline-grid;
}

.gtc-auto {
    grid-template-columns: auto;
}

.gtc-rep.col-five {
    grid-template-columns: repeat(5, 2fr);
}

.gtc-rep.col-four {
    grid-template-columns: repeat(4, 2fr);
}

.gtc-rep.col-three {
    grid-template-columns: repeat(3, 1fr);
}

.gtc-rep.col-two {
    grid-template-columns: repeat(2, 1fr);
}

.gtr-auto {
    grid-template-rows: auto;
}

/* Single Column */


/* Two Column */
.two-col {
    grid-template-columns: 2fr 2fr;
    grid-column-start:auto;
    grid-column-end: 2;
}

/* Single Row */

.row {
    grid-template-rows: 2fr;
}

/* Two Rows */

.two-rows {
    grid-template-rows: 1fr 2fr;
}
