/* Element Styles */
@import url('white/background.css');
@import url('white/border.css');
@import url('white/hover.css');
@import url('white/icon.css');
@import url('white/shadow.css');
@import url('white/text.css');

:root {
    --white-100: hsl(0deg, 0%, 100%);
    --white-200: hsl(0deg, 0%, 95%);
    --white-300: hsl(0deg, 0%, 90%);
    --white-400: hsl(0deg, 0%, 85%);
    --white-500: hsl(0deg, 0%, 80%);
    --white-600: hsl(0deg, 0%, 75%);
    --white-700: hsl(0deg, 0%, 70%);
    --white-800: hsl(0deg, 0%, 65%);
    --white-900: hsl(0deg, 0%, 60%);

}