:root {
    --white-100: hsl(0deg, 0%, 100%);
    --white-200: hsl(0deg, 0%, 95%);
    --white-300: hsl(0deg, 0%, 90%);
    --white-400: hsl(0deg, 0%, 85%);
    --white-500: hsl(0deg, 0%, 80%);
    --white-600: hsl(0deg, 0%, 75%);
    --white-700: hsl(0deg, 0%, 70%);
    --white-800: hsl(0deg, 0%, 65%);
    --white-900: hsl(0deg, 0%, 60%);

}

/* 
    Color Naming Convention:

    text:color:value 
    text-color-value [normal]
    text::color:value
    text:color::value [default]

    text::value [For every property] ex[text::strike text::blue-500]

    We are developing Shorthand
    txt:col::value

*/

/* Background */

.bg\:color\:\:white-100 {
    background-color: var(--white-100);
}

.bg\:color\:\:white-200 {
    background-color: var(--white-200);
}

.bg\:color\:\:white-300 {
    background-color: var(--white-300);
}

.bg\:color\:\:white-400 {
    background-color: var(--white-400);
}

.bg\:color\:\:white-500 {
    background-color: var(--white-500);
}

.bg\:color\:\:white-600 {
    background-color: var(--white-600);
}

.bg\:color\:\:white-700 {
    background-color: var(--white-700);
}

.bg\:color\:\:white-800 {
    background-color: var(--white-800);
}

.bg\:color\:\:white-900 {
    background-color: var(--white-900);
}

/* Text Colors */

.text\:color\:\:white-100 {
    color: var(--white-100);
}

.text\:color\:\:white-200 {
    color: var(--white-200);
}

.text\:color\:\:white-300 {
    color: var(--white-300);
}

.text\:color\:\:white-400 {
    color: var(--white-400);
}

.text\:color\:\:white-500 {
    color: var(--white-500);
}

.text\:color\:\:white-600 {
    color: var(--white-600);
}

.text\:color\:\:white-700 {
    color: var(--white-700);
}

.text\:color\:\:white-800 {
    color: var(--white-800);
}

.text\:color\:\:white-900 {
    color: var(--white-900);
}

.\:hover\:text-white {
    color: var(--white-100);
}
/* Border Styles */

.border\:color\:\:white-100 {
    border-color: var(--white-100);
}

.border\:color\:\:white-200 {
    border-color: var(--white-200);
}

.border\:color\:\:white-300 {
    border-color: var(--white-300);
}

.border\:color\:\:white-400 {
    border-color: var(--white-400);
}

.border\:color\:\:white-500 {
    border-color: var(--white-500);
}

.border\:color\:\:white-600 {
    border-color: var(--white-600);
}

.border\:color\:\:white-700 {
    border-color: var(--white-700);
}

.border\:color\:\:white-800 {
    border-color: var(--white-800);
}

.border\:color\:\:white-900 {
    border-color: var(--white-900);
}

