.hl\:yellow {
    background-color: hsla(70, 100%, 50%, 0.5);
}

.hl\:yellow:hover {
    background-color: hsla(70, 100%, 50%, 0.8);
}

.hl\:blue {
    background-color: hsla(220, 100%, 50%, 0.5);
}

.hl\:blue:hover {
    background-color: hsla(220, 100%, 50%, 0.8);
}