@import url('base.css');
@import url('icon.css');
:root {
        /* Analogous */
        --meloncolly-zinnia: hsl(346, 100%, 50%);
        --meloncolly-tertiary: hsl(286, 100%, 50%);
        --meloncolly-lavender: hsl(266, 100%, 50%);
        --meloncolly-azalea: hsl(6, 100%, 50%);
}
