/* Background */

.bg-meloncolly.zinnia{
    background-color: var(--meloncolly-zinnia);
}

.bg-meloncolly.tertiary{
    background-color: var(--meloncolly-tertiary);
}

.bg-meloncolly.lavender{
    background-color: var(--meloncolly-lavender);
}

.bg-meloncolly.azalea{
    background-color: var(--meloncolly-azalea);
}

/* Text Stiles */

.text.meloncolly\:zinnia{
    color: var(--meloncolly-zinnia);
}

.text.meloncolly\:tertiary{
    color: var(--meloncolly-tertiary);
}

.text.meloncolly\:lavender{
    color: var(--meloncolly-lavender);
}

.text.meloncolly\:azalea{
    color: var(--meloncolly-azalea);
}

/* Border Stiles */

.border\:thin.meloncolly\:zinnia{
    border: 1px solid var(--meloncolly-zinnia);
}

.border\:thin.meloncolly\:tertiary{
    border: 1px solid var(--meloncolly-tertiary);
}

.border\:thin.meloncolly\:lavender{
    border: 1px solid var(--meloncolly-lavender)
}

.border\:thin.meloncolly\:azalea{
    border: 1px solid var(--meloncolly-azalea);
}

/* Drop Shadow Stiles */

.ds\:md.meloncolly\:zinnia {
    box-shadow: var(--meloncolly-zinnia) 10px 10px;
}

.ds\:md.meloncolly\:tertiary {
    box-shadow: var(--meloncolly-tertiary) 10px 10px;
}

.ds\:md.meloncolly\:lavender {
    box-shadow: var(--meloncolly-lavender) 10px 10px;
}

.ds\:md.meloncolly\:azalea {
    box-shadow: var(--meloncolly-azalea) 10px 10px;
}