:root {

    /* Fonts */
    --primary-font: 'Korolev Rounded Medium';
    --light-font: 'Korolev Rounded Thin';
    --thin-font:  'Korolev Rounded Light';
    --bold-font: 'Korolev Rounded Bold';
    --heavy-font: 'Korolev Rounded Heavy';

}

/* Brand */

.korolev-rounded, .korolev.rounded {
    font-family: var(--primary-font);
}