@import url('adobe/grange.css');
@import url('adobe/poppins.css');
@import url('adobe/ballinger.css');
@import url('adobe/map-roman.css');

:root {

    /* Fonts */
    --primary-font: 'Korolev Rounded Medium';
    --light-font: 'Korolev Rounded Thin';
    --thin-font:  'Korolev Rounded Light';
    --bold-font: 'Korolev Rounded Bold';
    --heavy-font: 'Korolev Rounded Heavy';

}

/* Brand */

.korolev-rounded, .korolev.rounded {
    font-family: var(--primary-font);
}

.korolev\:light,
.korolev-light
{
    font-family: var(--light-font);
}