@import url('adobe.css');
@import url('google.css');

.open-sans-bold {
    font-family: var(--open-sans);
    font-size: 34px;
    font-weight: 700;
    font-style: normal;
}

.open-sans-italic {
    font-family: var(--open-sans);
    font-size: 34px;
    font-weight: 700;
    font-style: italic;
}

.roboto\:light\:italic{
    font-family: var(--roboto);
    font-size: 18px;
    font-weight: 100;
    font-style: italic;
}

.montserrat {
    font-family: var(--montserrat);
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
}

.lato {
    font-family: var(--lato);
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
}

.raleway {
    font-family: var(--raleway);
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
}

.acme {
    font-family: var(--acme);
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
}

.ubuntu {
    font-family: var(--ubuntu);
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
}

.homemade-apple {
    font-family: var(--homemade-apple);
    font-weight: 400;
    font-style: normal;
}