
@font-face {
    font-family: 'Open Sans';
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
}

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
}

@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}

@font-face {
    font-family: 'Lato';
    src: url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
}

@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.gstatic.com/s/poppins/v21/pxiDyp8kv8JHgFVrJJLmv1pVF9eO.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    src: url('https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2') format('woff2');
}

@font-face {
    font-family: 'Oswald';
    src: url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
}

@font-face {
    font-family: 'Raleway';
    src: url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}

@font-face {
    font-family: 'Playfair Display';
    src: url('https://fonts.gstatic.com/s/playfairdisplay/v37/nuFkD-vYSZviVYUb_rj3ij__anPXDTnogkk7.woff2') format('woff2');
}

@font-face {
    font-family: 'Ubuntu';
    src: url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
}

@font-face {
    font-family: 'Dancing Script';
    src: url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
}

@font-face {
    font-family: 'Pacifico';
    src: url('https://fonts.gstatic.com/s/pacifico/v22/FwZY7-Qmy14u9lezJ-6H6Mk.woff2');
}

@font-face {
    font-family: 'Satisfy';
    src: url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
}

@font-face {
    font-family: 'Caveat';
    src: url('https://fonts.gstatic.com/s/caveat/v18/Wnz6HAc5bAfYB2Q7ZjYY.woff2') format('woff2');
}

@font-face {
    font-family: 'Indie Flower';
    src: url('https://fonts.gstatic.com/s/indieflower/v21/m8JVjfNVeKWVnh3QMuKkFcZVaUuH.woff2') format('woff2');
}

@font-face {
    font-family: 'Permanent Marker';
    src: url('https://fonts.gstatic.com/s/permanentmarker/v16/Fh4uPib9Iyv2ucM6pGQMWimMp004La2Cfw.woff2') format('woff2');
}

@font-face {
    font-family: 'Macando';
    src: url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
}

@font-face {
    font-family: 'Architects Daughter';
    src: url('https://fonts.gstatic.com/s/architectsdaughter/v18/KtkxAKiDZI_td1Lkx62xHZHDtgO_Y-bvTYlg4w.woff2') format('woff2');
}

@font-face {
    font-family: 'Luckiest Guy';
    src: url('./otf/luckiest-guy/luckiest-guy.ttf');
}

@font-face {
    font-family: 'Homemade Apple';
    src: url('https://fonts.gstatic.com/s/homemadeapple/v22/Qw3EZQFXECDrI2q789EKQZJob0x6XHg.woff2');
}

@font-face {
    font-family: 'Reenie Beanie';
    src: url('https://fonts.gstatic.com/s/reeniebeanie/v20/z7NSdR76eDkaJKZJFkkjuvWxXPq1qw.woff2');
}

@font-face {
    font-family: 'Titillium Web';
    src: url('https://fonts.gstatic.com/s/titilliumweb/v17/NaPFcZTIAOhVxoMyOr9n_E7fdMbewI1DYZyc.woff2') format('woff2');
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('https://fonts.gstatic.com/s/josefinsans/v32/Qw3EZQNVED7rKGKxtqIqX5EUCEx6XHg.woff2') format('woff2');
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('https://fonts.gstatic.com/s/bebasneue/v14/JTUSjIg69CK48gW7PXoo9Wlhyw.woff2') format('woff2');
}

@font-face {
    font-family: 'Anton';
    src: url('https://fonts.gstatic.com/s/anton/v25/1Ptgg87LROyAm3Kz-C8.woff2') format('woff2');
}

@font-face {
    font-family: 'Lobster';
    src: url('https://fonts.gstatic.com/s/lobster/v30/neILzCirqoswsqX9zoKmMw.woff2');
}

@font-face {
    font-family: 'Comfortaa';
    src: url('https://fonts.gstatic.com/s/comfortaa/v45/1Ptsg8LJRfWJmhDAuUs4TYFq.woff2') format('woff2');
}

@font-face {
    font-family: 'Abril Fatface';
    src: url('https://fonts.gstatic.com/s/abrilfatface/v23/zOL64pLDlL1D99S8g8PtiKchq-dmjQ.woff2') format('woff2');
}

@font-face {
    font-family: 'Play';
    src: url('https://fonts.gstatic.com/s/play/v19/6aez4K2oVqwIvtU2Hw.woff2');
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('https://fonts.gstatic.com/s/yanonekaffeesatz/v30/3y976aknfjLm_3lMKjiMgmUUYBs04Y8bH-o.woff2');
}

@font-face {
    font-family: 'Lilita One';
    src: url('https://fonts.gstatic.com/s/lilitaone/v15/i7dPIFZ9Zz-WBtRtedDbYEF8RQ.woff2');
}

@font-face {
    font-family: 'Archivo Black';
    src: url('https://fonts.gstatic.com/s/archivoblack/v21/HTxqL289NzCGg4MzN6KJ7eW6CYyF_g.woff2') format('woff2');
}

@font-face {
    font-family: 'Acme';
    src: url('https://fonts.gstatic.com/s/acme/v25/RrQfboBx-C5_XxrBbg.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}
:root {
    --open-sans: 'Open Sans', sans-serif; /* Added */
    --roboto: 'Roboto', sans-serif; /* Added */
    --montserrat: 'Montserrat', sans-serif; /* Added */
    --lato: 'Lato', sans-serif; /* Added */
    --poppins: 'Poppins', sans-serif; /* Added */
    --poppins-light:'Poppins-Light';  /* Added */
    --inter: 'Inter', sans-serif; /* Added */
    --oswald: 'Oswald', sans-serif; /* Added */
    --raleway: 'Raleway', sans-serif; /* Added */
    --playfair-display: 'Playfair Display', serif; /* Added */
    --ubuntu: 'Ubuntu', sans-serif; /* Added */
    --dancing-script: 'Dancing Script', cursive; /* Added */
    --pacifico: 'Pacifico', cursive; /* Added */
    --satisfy: 'Satisfy', cursive; /* Added */
    --caveat: 'Caveat', cursive; /* Added */
    --indie-flower: 'Indie Flower', cursive; /* Added */
    --permanent-marker: 'Permanent Marker', cursive; /* Added */
    --macondo: 'Macando', cursive; /* Added */
    --architects-daughter: 'Architects Daughter', cursive; /* Added */
    --luckiest-guy: 'Luckiest Guy', cursive; /* Added */
    --homemade-apple: 'Homemade Apple', cursive; /* Added */ 
    --reenie-beanie: 'Reenie Beanie', cursive; /* Added */
    --titillium-web: 'Titillium Web', sans-serif; /* Added */
    --josefin-sans: 'Josefin Sans', sans-serif; /* Added */
    --bebas-neue: 'Bebas Neue', sans-serif; /* Added */
    --anton: 'Anton', sans-serif; /* Added */
    --lobster: 'Lobster', cursive; /* Added */
    --comfortaa: 'Comfortaa', sans-serif; /* Added */
    --abril-fatface: 'Abril Fatface', serif; /* Added */
    --play: 'Play', sans-serif; /* Added */
    --yanone-kaffeesatz: 'Yanone Kaffeesatz', sans-serif; /* Added */
    --lilita-one: 'Lilita One', sans-serif; /* Added */
    --archivo-black: 'Archivo Black', sans-serif; /* Added */
    --acme: 'Acme', sans-serif; /* Added */
    --source-code-pro: 'Source Code Pro', monospace; /* Added */
}
