    @import url('skyblue.css');
    @import url('morningblue.css');
    @import url('royalblue.css');
    @import url('cornflowerblue.css');
    
    :root {
    /* Blues */
    --blue-100: hsl(210, 80%, 95%);
    --blue-200: hsl(210, 80%, 80%);
    --blue-300: hsl(210, 80%, 75%);
    --blue-400: hsl(210, 80%, 60%);
    --blue-500: hsl(210, 80%, 55%);
    --blue-600: hsl(210, 80%, 40%);
    --blue-700: hsl(210, 80%, 35%);
    --blue-800: hsl(210, 80%, 25%);
    --blue-900: hsl(210, 80%, 20%);

}
/* Blues */

.bg\:blue-100, .bg.blue-100, .bg-blue-100, .bg\:blue\:100 {
    background-color: var(--blue-100);
}

.bg\:blue-200, .bg.blue-200, .bg-blue-200, .bg\:blue\:200 {
    background-color: var(--blue-200);
}

.bg\:blue-300, .bg.blue-300,.bg-blue-300, .bg\:blue\:300 {
    background-color: var(--blue-300);
}
.bg\:blue-400, .bg.blue-400, .bg-blue-400, .bg\:blue\:400 {
    background-color: var(--blue-400);
}

.bg\:blue-500, .bg.blue-500, .bg-blue-500, .bg\:blue\:500 {
    background-color: var(--blue-500);
}

.bg\:blue-600, .bg.blue-600, .bg-blue-600, .bg\:blue\:600 {
    background-color: var(--blue-600);
}

.bg\:blue-700, .bg.blue-700, .bg-blue-700, .bg\:blue\:700 {
    background-color: var(--blue-700);
}

.bg\:blue-800, .bg.blue-800, .bg-blue-800, .bg\:blue\:800 {
    background-color: var(--blue-800);
}

.bg\:blue-900, .bg.blue-900, .bg-blue-900, .bg\:blue\:900 {
    background-color: var(--blue-900);
}

/*
 * 	
 *	Text Stiles
 *  
 */
 .text\:color\:blue-100, .text-color-blue-100, .text\:color.blue-100, .text-color.blue-100, .tc-blue-100 , .tc\:blue-100{
    color: var(--blue-100);
}

.text\:color\:blue-200, .text-color-blue-200, .text\:color.blue-200, .text-color.blue-200, .tc-blue-200 , .tc\:blue-200{
    color: var(--blue-200);
}

.text\:color\:blue-300, .text-color-blue-300, .text\:color.blue-300, .text-color.blue-300, .tc-blue-300 , .tc\:blue-300{
    color: var(--blue-300);
}

.text\:color\:blue-400, .text-color-blue-400, .text\:color.blue-400, .text-color.blue-400, .tc-blue-400 , .tc\:blue-400{
    color: var(--blue-400);
}

.text\:color\:blue-500, .text-color-blue-500, .text\:color.blue-500, .text-color.blue-500, .tc-blue-500 , .tc\:blue-500{
    color: var(--blue-500);
}

.text\:color\:blue-600, .text-color-blue-600, .text\:color.blue-600, .text-color.blue-600, .tc-blue-600 , .tc\:blue-600{
    color: var(--blue-600);
}

.text\:color\:blue-700, .text-color-blue-700, .text\:color.blue-700, .text-color.blue-700, .tc-blue-700 , .tc\:blue-700{
    color: var(--blue-700);
}

.text\:color\:blue-800, .text-color-blue-800, .text\:color.blue-800, .text-color.blue-800, .tc-blue-800 , .tc\:blue-800{
    color: var(--blue-800);
}

.text\:color\:blue-900, .text-color-blue-900, .text\:color.blue-900, .text-color.blue-900, .tc-blue-900 , .tc\:blue-900{
    color: var(--blue-900);
}


/* icon stiles */

.icon\:blue-100, .icon.blue-100 {
    display: inline-block;
    background: var(--blue-100);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:blue-200, .icon.blue-200 {
    display: inline-block;
    background: var(--blue-200);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:blue-300, .icon.blue-300 {
    display: inline-block;
    background: var(--blue-300);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:blue-400, .icon.blue-400 {
    display: inline-block;
    background: var(--blue-400);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:blue-500, .icon.blue-500 {
    display: inline-block;
    background: var(--blue-500);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:blue-600, .icon.blue-600 {
    display: inline-block;
    background: var(--blue-600);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:blue-700, .icon.blue-700 {
    display: inline-block;
    background: var(--blue-700);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:blue-800, .icon.blue-800 {
    display: inline-block;
    background: var(--blue-800);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:blue-900, .icon.blue-900 {
    display: inline-block;
    background: var(--blue-900);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Hover Styles */
.\:hover\:\:blue-100:hover {
    background-color: var(--blue-100);
    width: 100%;
}

.\:hover\:\:blue-200:hover {
    background-color: var(--blue-200);
    width: 100%;
}

.\:hover\:\:blue-300:hover {
    background-color: var(--blue-300);
    width: 100%;
}

.\:hover\:\:blue-400:hover {
    background-color: var(--blue-400);
    width: 100%;
}

.\:hover\:\:blue-500:hover {
    background-color: var(--blue-500);
    width: 100%;
}

.\:hover\:\:blue-600:hover {
    background-color: var(--blue-600);
    width: 100%;
}

.\:hover\:\:blue-700:hover {
    background-color: var(--blue-700);
    width: 100%;
}

.\:hover\:\:blue-800:hover {
    background-color: var(--blue-800);
    width: 100%;
}

.\:hover\:\:blue-900:hover {
    background-color: var(--blue-900);
    width: 100%;
}
