    :root {
    /* Blues */
    --blue-100: hsl(210, 80%, 95%);
    --blue-200: hsl(210, 80%, 90%);
    --blue-300: hsl(210, 80%, 85%);
    --blue-400: hsl(210, 80%, 80%);
    --blue-500: hsl(210, 80%, 75%);
    --blue-600: hsl(210, 80%, 70%);
    --blue-700: hsl(210, 80%, 65%);
    --blue-800: hsl(210, 80%, 60%);
    --blue-900: hsl(210, 80%, 55%);

    --cornflower-100: hsl(223, 73%, 75%);
    --cornflower-200: hsl(223, 73%, 70%);
    --cornflower-300: hsl(223, 73%, 60%);
    --cornflower-400: hsl(223, 73%, 55%);
    --cornflower-500: hsl(223, 73%, 50%);
    --cornflower-600: hsl(223, 73%, 45%);
    --cornflower-700: hsl(223, 73%, 40%);
    --cornflower-800: hsl(223, 73%, 35%);
    --cornflower-900: hsl(223, 73%, 30%);

    --royal-100: hsl(223, 100%, 70%);
    --royal-200: hsl(223, 100%, 64%);
    --royal-300: hsl(223, 100%, 58%);
    --royal-400: hsl(223, 100%, 52%);
    --royal-500: hsl(223, 100%, 46%);
    --royal-600: hsl(223, 100%, 40%);
    --royal-700: hsl(223, 100%, 34%);
    --royal-800: hsl(223, 100%, 28%);
    --royal-900: hsl(223, 100%, 22%);

    --sky-100: hsl(210, 100%, 80%);
    --sky-200: hsl(210, 100%, 70%);
    --sky-300: hsl(210, 100%, 60%);
    --sky-400: hsl(210, 100%, 50%);
    --sky-500: hsl(210, 100%, 40%);
    --sky-600: hsl(210, 100%, 30%);
    --sky-700: hsl(210, 100%, 25%);
    --sky-800: hsl(210, 100%, 20%);
    --sky-900: hsl(210, 100%, 15%);

    --morning-blue-100: hsl(191, 77%, 90%);
    --morning-blue-200: hsl(191, 77%, 80%);
    --morning-blue-300: hsl(191, 77%, 70%);
    --morning-blue-400: hsl(191, 77%, 60%);
    --morning-blue-500: hsl(191, 77%, 50%);
    --morning-blue-600: hsl(191, 77%, 40%);
    --morning-blue-700: hsl(191, 77%, 30%);
    --morning-blue-800: hsl(191, 77%, 25%);
    --morning-blue-900: hsl(191, 77%, 20%);
}
/* Blues */

.bg\:blue-100 {
    background-color: var(--blue-100);
}

.bg\:blue-200 {
    background-color: var(--blue-200);
}

.bg\:blue-300 {
    background-color: var(--blue-300);
}
.bg\:blue-400 {
    background-color: var(--blue-400);
}

.bg\:blue-500 {
    background-color: var(--blue-500);
}

.bg\:blue-600 {
    background-color: var(--blue-600);
}

.bg\:blue-700 {
    background-color: var(--blue-700);
}

.bg\:blue-800 {
    background-color: var(--blue-800);
}

.bg\:blue-900 {
    background-color: var(--blue-900);
}
