@import url('cornflower/background.css');
@import url('cornflower/border.css');
@import url('cornflower/hover.css');
@import url('cornflower/icon.css');
@import url('cornflower/shadow.css');
@import url('cornflower/text.css');

:root {
    --cornflower-100: hsl(223, 73%, 75%);
    --cornflower-200: hsl(223, 73%, 70%);
    --cornflower-300: hsl(223, 73%, 60%);
    --cornflower-400: hsl(223, 73%, 55%);
    --cornflower-500: hsl(223, 73%, 50%);
    --cornflower-600: hsl(223, 73%, 45%);
    --cornflower-700: hsl(223, 73%, 40%);
    --cornflower-800: hsl(223, 73%, 35%);
    --cornflower-900: hsl(223, 73%, 30%);
}
