:root {
    --cornflower-100: hsl(223, 73%, 75%);
    --cornflower-200: hsl(223, 73%, 70%);
    --cornflower-300: hsl(223, 73%, 60%);
    --cornflower-400: hsl(223, 73%, 55%);
    --cornflower-500: hsl(223, 73%, 50%);
    --cornflower-600: hsl(223, 73%, 45%);
    --cornflower-700: hsl(223, 73%, 40%);
    --cornflower-800: hsl(223, 73%, 35%);
    --cornflower-900: hsl(223, 73%, 30%);
}

/* Background */
.bg\:cornflower-100, .bg.cornflower-100, .bg-cornflower-100, .bg\:cornflower\:100 {
    background-color: var(--cornflower-100);
}

.bg\:cornflower-200, .bg.cornflower-200, .bg-cornflower-200, .bg\:cornflower\:200 {
    background-color: var(--cornflower-200);
}

.bg\:cornflower-300, .bg.cornflower-300, .bg-cornflower-300, .bg\:cornflower\:300 {
    background-color: var(--cornflower-300);
}

.bg\:cornflower-400, .bg.cornflower-400, .bg-cornflower-400, .bg\:cornflower\:400 {
    background-color: var(--cornflower-400);
}

.bg\:cornflower-500, .bg.cornflower-500, .bg-cornflower-500, .bg\:cornflower\:500 {
    background-color: var(--cornflower-500);
}

.bg\:cornflower-600, .bg.cornflower-600, .bg-cornflower-600, .bg\:cornflower\:600 {
    background-color: var(--cornflower-600);
}

.bg\:cornflower-700, .bg.cornflower-700, .bg-cornflower-700, .bg\:cornflower\:700 {
    background-color: var(--cornflower-700);
}

.bg\:cornflower-800, .bg.cornflower-800, .bg-cornflower-800, .bg\:cornflower\:800 {
    background-color: var(--cornflower-800);
}

.bg\:cornflower-900, .bg.cornflower-900, .bg-cornflower-900, .bg\:cornflower\:900 {
    background-color: var(--cornflower-900);
}

/* Text

Naming Convention
.text | - or : |  color | - or : | VALUE
.text:color:value or .text-color-value {i.e. - text:color:blue-400, text-color-blue-400}

Shorthand: tc-value or tc:value

*/

.text\:color\:cornflower-100, .text-color-cornflower-100, .text\:color.bg-cornflower-100, .text-color.bg-cornflower-100, .tc-cornflower-100 , .tc\:cornflower-100{
    color: var(--cornflower-100);
}

.text\:color\:cornflower-200, .text-color-cornflower-200, .text\:color.bg-cornflower-200, .text-color.bg-cornflower-200, .tc-cornflower-200 , .tc\:cornflower-200{
    color: var(--cornflower-200);
}

.text\:color\:cornflower-300, .text-color-cornflower-300, .text\:color.bg-cornflower-300, .text-color.bg-cornflower-300, .tc-cornflower-300 , .tc\:cornflower-300{
    color: var(--cornflower-300);
}

.text\:color\:cornflower-400, .text-color-cornflower-400, .text\:color.bg-cornflower-400, .text-color.bg-cornflower-400, .tc-cornflower-400 , .tc\:cornflower-400{
    color: var(--cornflower-400);
}

.text\:color\:cornflower-500, .text-color-cornflower-500, .text\:color.bg-cornflower-500, .text-color.bg-cornflower-500, .tc-cornflower-500 , .tc\:cornflower-500{
    color: var(--cornflower-500);
}

.text\:color\:cornflower-600, .text-color-cornflower-600, .text\:color.bg-cornflower-600, .text-color.bg-cornflower-600, .tc-cornflower-600 , .tc\:cornflower-600{
    color: var(--cornflower-600);
}

.text\:color\:cornflower-700, .text-color-cornflower-700, .text\:color.bg-cornflower-700, .text-color.bg-cornflower-700, .tc-cornflower-700 , .tc\:cornflower-700{
    color: var(--cornflower-700);
}

.text\:color\:cornflower-800, .text-color-cornflower-800, .text\:color.bg-cornflower-800, .text-color.bg-cornflower-800, .tc-cornflower-800 , .tc\:cornflower-800{
    color: var(--cornflower-800);
}

.text\:color\:cornflower-900, .text-color-cornflower-900, .text\:color.bg-cornflower-900, .text-color.bg-cornflower-900, .tc-cornflower-900 , .tc\:cornflower-900{
    color: var(--cornflower-900);
}

/* Border

Naming Convention
border | - or : | color | - or : | value

*/

.border\:color\:cornflower-100, .border-color-cornflower-100, .border\:color.bg-cornflower-100, .border-color.bg-cornflower-100, .bc-cornflower-100 , .bc\:cornflower-100{
    border-color: var(--cornflower-100);
}

.border\:color\:cornflower-200, .border-color-cornflower-200, .border\:color.bg-cornflower-200, .border-color.bg-cornflower-200, .bc-cornflower-200 , .bc\:cornflower-200{
    border-color: var(--cornflower-200);
}

.border\:color\:cornflower-300, .border-color-cornflower-300, .border\:color.bg-cornflower-300, .border-color.bg-cornflower-300, .bc-cornflower-300 , .bc\:cornflower-300{
    border-color: var(--cornflower-300);
}

.border\:color\:cornflower-400, .border-color-cornflower-400, .border\:color.bg-cornflower-400, .border-color.bg-cornflower-400, .bc-cornflower-400 , .bc\:cornflower-400{
    border-color: var(--cornflower-400);
}

.border\:color\:cornflower-500, .border-color-cornflower-500, .border\:color.bg-cornflower-500, .border-color.bg-cornflower-500, .bc-cornflower-500 , .bc\:cornflower-500{
    border-color: var(--cornflower-500);
}

.border\:color\:cornflower-600, .border-color-cornflower-600, .border\:color.bg-cornflower-600, .border-color.bg-cornflower-600, .bc-cornflower-600 , .bc\:cornflower-600{
    border-color: var(--cornflower-600);
}

.border\:color\:cornflower-700, .border-color-cornflower-700, .border\:color.bg-cornflower-700, .border-color.bg-cornflower-700, .bc-cornflower-700 , .bc\:cornflower-700{
    border-color: var(--cornflower-700);
}

.border\:color\:cornflower-800, .border-color-cornflower-800, .border\:color.bg-cornflower-800, .border-color.bg-cornflower-800, .bc-cornflower-800 , .bc\:cornflower-800{
    border-color: var(--cornflower-800);
}

.border\:color\:cornflower-900, .border-color-cornflower-900, .border\:color.bg-cornflower-900, .border-color.bg-cornflower-900, .bc-cornflower-900 , .bc\:cornflower-900{
    border-color: var(--cornflower-900);
}

/* Shadow

Naming Convention
shadow |   | color |   | value

*/



/* Icon */
.icon\:cornflower-100, .icon.cornflower-100 {
    display: inline-block;
    background: var(--cornflower-100);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:cornflower-200, .icon.cornflower-200 {
    display: inline-block;
    background: var(--cornflower-200);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:cornflower-300, .icon.cornflower-300 {
    display: inline-block;
    background: var(--cornflower-300);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:cornflower-400, .icon.cornflower-400 {
    display: inline-block;
    background: var(--cornflower-400);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:cornflower-500, .icon.cornflower-500 {
    display: inline-block;
    background: var(--cornflower-500);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:cornflower-600, .icon.cornflower-600 {
    display: inline-block;
    background: var(--cornflower-600);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:cornflower-700, .icon.cornflower-700 {
    display: inline-block;
    background: var(--cornflower-700);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:cornflower-800, .icon.cornflower-800 {
    display: inline-block;
    background: var(--cornflower-800);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:cornflower-900, .icon.cornflower-900 {
    display: inline-block;
    background: var(--cornflower-900);
    background-size: cover;
    background-repeat: no-repeat;
}
