@import url('dandelion/background.css');
@import url('dandelion/border.css');
@import url('dandelion/hover.css');
@import url('dandelion/icon.css');
@import url('dandelion/shadow.css');
@import url('dandelion/text.css');

:root {
    --dandelion-100: hsl(55, 100%, 80%);
    --dandelion-200: hsl(55, 100%, 70%);
    --dandelion-300: hsl(55, 100%, 60%);
    --dandelion-400: hsl(55, 100%, 55%);
    --dandelion-500: hsl(55, 100%, 50%);
    --dandelion-600: hsl(55, 100%, 45%);
    --dandelion-700: hsl(55, 100%, 35%);
    --dandelion-800: hsl(55, 100%, 30%);
    --dandelion-900: hsl(55, 100%, 25%);
}