    /* Yellows */
    --yellow-100: hsl(60, 100%, 95%);
    --yellow-200: hsl(60, 100%, 90%);
    --yellow-300: hsl(60, 100%, 85%);
    --yellow-400: hsl(60, 100%, 80%);
    --yellow-500: hsl(60, 100%, 75%);
    --yellow-600: hsl(60, 100%, 70%);
    --yellow-700: hsl(60, 100%, 65%);
    --yellow-800: hsl(60, 100%, 60%);
    --yellow-900: hsl(60, 100%, 55%);

    --dandelion-100: hsl(55, 100%, 80%);
    --dandelion-200: hsl(55, 100%, 70%);
    --dandelion-300: hsl(55, 100%, 60%);
    --dandelion-400: hsl(55, 100%, 55%);
    --dandelion-500: hsl(55, 100%, 50%);
    --dandelion-600: hsl(55, 100%, 45%);
    --dandelion-700: hsl(55, 100%, 35%);
    --dandelion-800: hsl(55, 100%, 30%);
    --dandelion-900: hsl(55, 100%, 25%);