:root {
    --brown-100: hsl(30, 59%, 87%);
    --brown-200: hsl(30, 59%, 77%);
    --brown-300: hsl(30, 59%, 67%);
    --brown-400: hsl(30, 59%, 57%);
    --brown-500: hsl(30, 59%, 47%);
    --brown-600: hsl(30, 59%, 37%);
    --brown-700: hsl(30, 59%, 27%);
    --brown-800: hsl(30, 59%, 17%);
    --brown-900: hsl(30, 59%, 14%);
}
/* Brown */
.bg\:brown-100, .bg.brown-100, .bg-brown-100, .bg\:brown\:100 {
    background-color: var(--brown-100);
}

.bg\:brown-200, .bg.brown-200, .bg-brown-200, .bg\:brown\:200 {
    background-color: var(--brown-200);
}

.bg\:brown-300, .bg.brown-300,.bg-brown-300, .bg\:brown\:300 {
    background-color: var(--brown-300);
}
.bg\:brown-400, .bg.brown-400, .bg-brown-400, .bg\:brown\:400 {
    background-color: var(--brown-400);
}

.bg\:brown-500, .bg.brown-500, .bg-brown-500, .bg\:brown\:500 {
    background-color: var(--brown-500);
}

.bg\:brown-600, .bg.brown-600, .bg-brown-600, .bg\:brown\:600 {
    background-color: var(--brown-600);
}

.bg\:brown-700, .bg.brown-700, .bg-brown-700, .bg\:brown\:700 {
    background-color: var(--brown-700);
}

.bg\:brown-800, .bg.brown-800, .bg-brown-800, .bg\:brown\:800 {
    background-color: var(--brown-800);
}

.bg\:brown-900, .bg.brown-900, .bg-brown-900, .bg\:brown\:900 {
    background-color: var(--brown-900);
}

/*
 * 	
 *	Text Stiles
 *  
 */
 .text\:color\:brown-100, .text-color-brown-100, .text\:color.bg-brown-100, .text-color.bg-brown-100, .tc-brown-100 , .tc\:brown-100{
    color: var(--brown-100);
}

.text\:color\:brown-200, .text-color-brown-200, .text\:color.bg-brown-200, .text-color.bg-brown-200, .tc-brown-200 , .tc\:brown-200{
    color: var(--brown-200);
}

.text\:color\:brown-300, .text-color-brown-300, .text\:color.bg-brown-300, .text-color.bg-brown-300, .tc-brown-300 , .tc\:brown-300{
    color: var(--brown-300);
}

.text\:color\:brown-400, .text-color-brown-400, .text\:color.bg-brown-400, .text-color.bg-brown-400, .tc-brown-400 , .tc\:brown-400{
    color: var(--brown-400);
}

.text\:color\:brown-500, .text-color-brown-500, .text\:color.bg-brown-500, .text-color.bg-brown-500, .tc-brown-500 , .tc\:brown-500{
    color: var(--brown-500);
}

.text\:color\:brown-600, .text-color-brown-600, .text\:color.bg-brown-600, .text-color.bg-brown-600, .tc-brown-600 , .tc\:brown-600{
    color: var(--brown-600);
}

.text\:color\:brown-700, .text-color-brown-700, .text\:color.bg-brown-700, .text-color.bg-brown-700, .tc-brown-700 , .tc\:brown-700{
    color: var(--brown-700);
}

.text\:color\:brown-800, .text-color-brown-800, .text\:color.bg-brown-800, .text-color.bg-brown-800, .tc-brown-800 , .tc\:brown-800{
    color: var(--brown-800);
}

.text\:color\:brown-900, .text-color-brown-900, .text\:color.bg-brown-900, .text-color.bg-brown-900, .tc-brown-900 , .tc\:brown-900{
    color: var(--brown-900);
}

/* icon stiles */

.icon\:brown-100, .icon.brown-100 {
    display: inline-block;
    background: var(--brown-100);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:brown-200, .icon.brown-200 {
    display: inline-block;
    background: var(--brown-200);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:brown-300, .icon.brown-300 {
    display: inline-block;
    background: var(--brown-300);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:brown-400, .icon.brown-400 {
    display: inline-block;
    background: var(--brown-400);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:brown-500, .icon.brown-500 {
    display: inline-block;
    background: var(--brown-500);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:brown-600, .icon.brown-600 {
    display: inline-block;
    background: var(--brown-600);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:brown-700, .icon.brown-700 {
    display: inline-block;
    background: var(--brown-700);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:brown-800, .icon.brown-800 {
    display: inline-block;
    background: var(--brown-800);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:brown-900, .icon.brown-900 {
    display: inline-block;
    background: var(--brown-900);
    background-size: cover;
    background-repeat: no-repeat;
}