
@import url('gradial.css');/* Import Transition Styles */
@import url('fade.css');
@import url('flash.css');
@import url('flicker.css');
@import url('wiggle.css');
@import url('pulse.css');
@import url('grow.css');
@import url('blink.css');
@import url('bounce.css');
@import url('slidein.css');
@import url('spin.css');
@import url('turn.css');
@import url('tilt.css');
@import url('ease.css');

/* 

TODO:Bounce Out
TODO:Bounce Out Left
TODO:Bounce Out Right
TODO:Fade In Down
TODO:Fade In Up
TODO:Fade Out Down
TODO:Fade Out Up
TODO:Flip
TODO:Flip In X
TODO:Flip In Y
TODO:Flip Out X
TODO:Flip Out Y
TODO:Light Speed In
TODO:Light Speed Out
TODO:Roll In
TODO:Roll Out
TODO:Rotate In
TODO:Rotate In Down Left
TODO:Rotate In Down Right
TODO:Rotate In Up Left
TODO:Rotate In Up Right
TODO:Rotate Out
TODO:Rotate Out Down Left
TODO:Rotate Out Down Right
TODO:Rotate Out Up Left
TODO:Rotate Out Up Right
TODO:Slide Out Left
TODO:Slide Out Right
TODO:Slide Out Up
TODO:Slide Out Down
TODO:Zoom In
TODO:Zoom In Down
TODO:Zoom In Left
TODO:Zoom In Right
TODO:Zoom In Up
TODO:Zoom Out
TODO:Zoom Out Down
TODO:Zoom Out Left
TODO:Zoom Out Right
TODO:Zoom Out Up

berillium animations:
TODO: Jelly
TODO: Heartbeat
TODO: Wobble
TODO: Rubber Band
TODO: Swing
TODO: Hinge
TODO: Skew
TODO: Shake
TODO: Fade out w/ Shrink
TODO: Parallax Scroll
TODO: Drift
TODO: Starburst
TODO: Glitch
TODO: Ripple
TODO: Flip Card
TODO: Reveal
TODO: Wave
TODO: Float
TODO: Earthquake
TODO: 3D Rotate
*/

/* Transition Utilities */
.t-all { transition: all 0.3s ease; }
.t-width { transition: width 0.3s ease; }
.t-height { transition: height 0.3s ease; }
.t-flex { transition: flex 0.3s ease; }
.t-bg { transition: background-color 0.3s ease; }

.sm-to-md {
    width: 15vw;
    transition: width 1s ease;
}

.sm-to-md.expand {
    width: 30vw
}