
@import url('gradial.css');/* Import Transition Styles */


.fade\:in{ 
    animation: fadeIn 1s linear forwards;
}

.fade\:out{
    animation: fadeOut 1s linear forwards;
}

.blink {
    opacity: 0;
    animation: blink 2.5s linear infinite;
}

.blink\:slow{
    opacity: 0;
    animation: blink 3.5s linear infinite;
}

.blink\:fast{
    opacity: 0;
    animation: blink 1.5s linear infinite;
}

.bounce {
    animation: bounce 1s linear forwards;
}

.bounce\:in {
    animation: bounceIn 10s linear forwards;
}

.flash\:red{
    animation: flash-red 1s running infinite;
}

.flicker {
    opacity: 1;
    animation: flicker 2s infinite;
}

.grow {
    animation: grow 2s linear forwards;
}

.pulse {
    animation: pulse .5s 3;
}

.slideInLeft {
    animation: slideInLeft 1.2s linear forwards;
}

.slideInLeft\:fast {
    animation: slideInLeft 0.4s linear forwards;
}

.slideInLeft\:slow {
    animation: slideInLeft 2s linear forwards;
}

.slideInOutLeft {
    animation: slideInOutLeft 3s linear forwards;
}

.slideInRight {
    animation: slideInRight 1s linear forwards;
}

.slideInOutRight {
    animation: slideInOutRight 3s linear forwards;
}

.spin {
    animation: spin 2s linear infinite;
}

.spin\:fast {
    animation: spin 0.5s linear infinite;
}

.spin\:slow {
    animation: spin 4s linear infinite;
}

.tilt:hover {
    animation: tilt 2s linear forwards;
    transform-origin: bottom left;
    z-index: 1;
}

.turn {
    animation: spin 5s linear infinite;
    animation-play-state: paused;
}

.turn\:fast {
    animation: spin 2s linear infinite;
    animation-play-state: paused;
}

.turn\:slow {
    animation: spin 7s linear infinite;
    animation-play-state: paused;
}

.turn:hover{
    animation-play-state: running;
}

.turn\:slow:hover{
    animation-play-state: running;
}

.turn\:fast:hover{
    animation-play-state: running;
}


.wiggle {
    animation: wiggle 1s linear forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

@keyframes blink {
    0%   {opacity: 0;}
    25% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}


@keyframes bounce {
    0%{
        transform: translateY(1px);
    }

    25% {
        transform: translateY(-1px);
    }

    50% {
        transform: translateY(0.8px);
    }

    100% {
        transform: translateY(-0.2px);
    }
}

@keyframes bounceIn {
    0%{
        transform: translateY(1px);
        transform: translateX(-100vw);
    }

    25% {
        transform: translateY(-1px);
        
    }

    50% {
        transform: translateY(0.8px);
    }

    100% {
        transform: translateY(-0.2px);
        transform: translateX(0rem);
    }
}

@keyframes flicker {
    0%   {
        opacity: 0;
    }
    10%  {
        opacity: 0.1;
    }
    20%  {
        opacity: 0;
    }
    30%  {
        opacity: .5;
    }
    40%  {
        opacity: .1;
    }
    50%  {
        opacity: 1;
    }
    60%  {
        opacity: .85;
    }
    70%  {
        opacity: .35;
    }
    80%  {
        opacity: 0;
    }
    100% {
        opacity: .4;
    }
}

@keyframes grow {
    0% {
        
    }

    100% {
        
    }
}

@keyframes pulse {
    0% {
        font-size: 1rem;
    }
    50% {
        font-size: 1.2rem;
    }
    100% {
        font-size: 1rem;
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(0rem);
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(0rem);
    }
}

@keyframes slideInOutLeft {
    0% {
        transform: translateX(-10rem);
    }
    50% {
        transform: translateX(0rem);
    }
    75% {
        transform: translateX(0rem);
    }
    100% {
        transform: translateX(-10rem);
    }
}

@keyframes slideInOutRight {
    0% {
        transform: translateX(100vw);
    }
    50% {
        transform: translateX(0rem);
    }
    75% {
        transform: translateX(0rem);
    }
    100% {
        transform: translateX(100vw);
    }
}

@keyframes spin {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

@keyframes tilt {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-2deg);
    }
}

@keyframes turn {
    100% {
        transform: rotate(1turn);
    }
}

@keyframes wiggle {
    0%{
        transform: translateX(1px);
    }

    25% {
        transform: translateX(-1px);
    }

    50% {
        transform: translateX(0.8px);
    }

    100% {
        transform: translateX(-0.2px);
    }
}

@keyframes flash-red {
    0% {

    }
    100% {
        color: red;
    }
}