/*
Creating Gradient Animations
*/

.anim\:bg\:alive{
    animation: alive 10s running infinite;
}

@keyframes alive {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}