/* 
    HOW TO USE THESE STYLES IN YOUR DOCS
    
    ex - m:rel:1 or m:rel:-1

    style                     type            value
    m (l,r,t,b,x,y)      :    rel          :   [1-25] {perhaps go up to 50?}
    m (l,r,t,b,x,y)      :    v(h/w)       :   [1-15]
    m (l,r,t,b,x,y)      :    px           :   [1-50]   
*/

/* 
    FULL MARGIN STYLES
*/

.m\:auto {
    margin: 0 auto;
}

.m\:auto\:y {
    margin: auto 0;
}

/* 
        Relative 
*/

/* Add */

.m\:rel\:1 {
    margin: 0.2rem;
}

.m\:rel\:2 {
    margin: 0.4rem;
}

.m\:rel\:3 {
    margin: 0.6rem;
}

.m\:rel\:4 {
    margin: 0.8rem;
}

.m\:rel\:5 {
    margin: 1rem;
}

.m\:rel\:6 {
    margin: 1.2rem;
}

.m\:rel\:7 {
    margin: 1.4rem;
}

.m\:rel\:8 {
    margin: 1.6rem;
}

.m\:rel\:9 {
    margin: 1.8rem;
}

.m\:rel\:10 {
    margin: 2rem;
}

.m\:rel\:11 {
    margin: 2.2rem;
}

.m\:rel\:12 {
    margin: 2.4rem;
}

.m\:rel\:13 {
    margin: 2.6rem;
}

.m\:rel\:14 {
    margin: 2.8rem;
}

.m\:rel\:15 {
    margin: 3rem;
}

.m\:rel\:16 {
    margin: 3.2rem;
}

.m\:rel\:17 {
    margin: 3.4rem;
}

.m\:rel\:18 {
    margin: 3.6rem;
}

.m\:rel\:19 {
    margin: 3.8rem;
}

.m\:rel\:20 {
    margin: 4rem;
}

.m\:rel\:21 {
    margin: 4.2rem;
}

.m\:rel\:22 {
    margin: 4.4rem;
}

.m\:rel\:23 {
    margin: 4.6rem;
}

.m\:rel\:24 {
    margin: 4.8rem;
}

.m\:rel\:25 {
    margin: 5rem;
}

/* Remove */
.m\:rel\:\-1 {
    margin: -0.2rem;
}

.m\:rel\:\-2 {
    margin: -0.4rem;
}

.m\:rel\:\-3 {
    margin: -0.6rem;
}

.m\:rel\:\-4 {
    margin: -0.8rem;
}

.m\:rel\:\-5 {
    margin: -1rem;
}

.m\:rel\:\-6 {
    margin: -1.2rem;
}

.m\:rel\:\-7 {
    margin: -1.4rem;
}

.m\:rel\:\-8 {
    margin: -1.6rem;
}

.m\:rel\:\-9 {
    margin: -1.8rem;
}

.m\:rel\:\-10 {
    margin: -2rem;
}

.m\:rel\:\-11 {
    margin: -2.2rem;
}

.m\:rel\:\-12 {
    margin: -2.4rem;
}

.m\:rel\:\-13 {
    margin: -2.6rem;
}

.m\:rel\:\-14 {
    margin: -2.8rem;
}

.m\:rel\:\-15 {
    margin: -3rem;
}

.m\:rel\:\-16 {
    margin: -3.2rem;
}

.m\:rel\:\-17 {
    margin: -3.4rem;
}

.m\:rel\:\-18 {
    margin: -3.6rem;
}

.m\:rel\:\-19 {
    margin: -3.8rem;
}

.m\:rel\:\-20 {
    margin: -4rem;
}

.m\:rel\:\-21 {
    margin: -4.2rem;
}

.m\:rel\:\-22 {
    margin: -4.4rem;
}

.m\:rel\:\-23 {
    margin: -4.6rem;
}

.m\:rel\:\-24 {
    margin: -4.8rem;
}

.m\:rel\:\-25 {
    margin: -5rem;
}


/* 
        PIXEL
 */


/* Add */

.m\:px\:1 {
    margin: 1px;
}

.m\:px\:2 {
    margin: 2px;
}

.m\:px\:3 {
    margin: 3px;
}

.m\:px\:4 {
    margin: 4px;
}

.m\:px\:5 {
    margin: 5px;
}

.m\:px\:6 {
    margin: 6px;
}

.m\:px\:7 {
    margin: 7px;
}

.m\:px\:8 {
    margin: 8px;
}

.m\:px\:9 {
    margin: 9px;
}

.m\:px\:10 {
    margin: 10px;
}

.m\:px\:11 {
    margin: 11px;
}

.m\:px\:12 {
    margin: 12px;
}

.m\:px\:13 {
    margin: 13px;
}

.m\:px\:14 {
    margin: 14px;
}

.m\:px\:15 {
    margin: 15px;
}

.m\:px\:16 {
    margin: 16px;
}

.m\:px\:17 {
    margin: 17px;
}

.m\:px\:18 {
    margin: 18px;
}

.m\:px\:19 {
    margin: 19px;
}

.m\:px\:20 {
    margin: 20px;
}

.m\:px\:21 {
    margin: 21px;
}

.m\:px\:22 {
    margin: 22px;
}

.m\:px\:23 {
    margin: 23px;
}

.m\:px\:24 {
    margin: 24px;
}

.m\:px\:25 {
    margin: 25px;
}

.m\:px\:26 {
    margin: 26px;
}

.m\:px\:27 {
    margin: 27px;
}

.m\:px\:28 {
    margin: 28px;
}

.m\:px\:29 {
    margin: 29px;
}

.m\:px\:30 {
    margin: 30px;
}

.m\:px\:31 {
    margin: 31px;
}

.m\:px\:32 {
    margin: 32px;
}

.m\:px\:33 {
    margin: 33px;
}

.m\:px\:34 {
    margin: 34px;
}

.m\:px\:35 {
    margin: 35px;
}

.m\:px\:36 {
    margin: 36px;
}

.m\:px\:37 {
    margin: 37px;
}

.m\:px\:38 {
    margin: 38px;
}

.m\:px\:39 {
    margin: 39px;
}

.m\:px\:40 {
    margin: 40px;
}

.m\:px\:41 {
    margin: 41px;
}

.m\:px\:42 {
    margin: 42px;
}

.m\:px\:43 {
    margin: 43px;
}

.m\:px\:44 {
    margin: 44px;
}

.m\:px\:45 {
    margin: 45px;
}

.m\:px\:46 {
    margin: 46px;
}

.m\:px\:47 {
    margin: 47px;
}

.m\:px\:48 {
    margin: 48px;
}

.m\:px\:49 {
    margin: 49px;
}

.m\:px\:50 {
    margin: 50px;
}



/* Remove */

.m\:px\:\-1 {
    margin: -1px;
}

.m\:px\:\-2 {
    margin: -2px;
}

.m\:px\:\-3 {
    margin: -3px;
}

.m\:px\:\-4 {
    margin: -4px;
}

.m\:px\:\-5 {
    margin: -5px;
}

.m\:px\:\-6 {
    margin: -6px;
}

.m\:px\:\-7 {
    margin: -7px;
}

.m\:px\:\-8 {
    margin: -8px;
}

.m\:px\:\-9 {
    margin: -9px;
}

.m\:px\:\-10 {
    margin: -10px;
}

.m\:px\:\-11 {
    margin: -11px;
}

.m\:px\:\-12 {
    margin: -12px;
}

.m\:px\:\-13 {
    margin: -13px;
}

.m\:px\:\-14 {
    margin: -14px;
}

.m\:px\:\-15 {
    margin: -15px;
}

.m\:px\:\-16 {
    margin: -16px;
}

.m\:px\:\-17 {
    margin: -17px;
}

.m\:px\:\-18 {
    margin: -18px;
}

.m\:px\:\-19 {
    margin: -19px;
}

.m\:px\:\-20 {
    margin: -20px;
}

.m\:px\:\-21 {
    margin: -21px;
}

.m\:px\:\-22 {
    margin: -22px;
}

.m\:px\:\-23 {
    margin: -23px;
}

.m\:px\:\-24 {
    margin: -24px;
}

.m\:px\:\-25 {
    margin: -25px;
}

.m\:px\:\-26 {
    margin: -26px;
}

.m\:px\:\-27 {
    margin: -27px;
}

.m\:px\:\-28 {
    margin: -28px;
}

.m\:px\:\-29 {
    margin: -29px;
}

.m\:px\:\-30 {
    margin: -30px;
}

.m\:px\:\-31 {
    margin: -31px;
}

.m\:px\:\-32 {
    margin: -32px;
}

.m\:px\:\-33 {
    margin: -33px;
}

.m\:px\:\-34 {
    margin: -34px;
}

.m\:px\:\-35 {
    margin: -35px;
}

.m\:px\:\-36 {
    margin: -36px;
}

.m\:px\:\-37 {
    margin: -37px;
}

.m\:px\:\-38 {
    margin: -38px;
}

.m\:px\:\-39 {
    margin: -39px;
}

.m\:px\:\-40 {
    margin: -40px;
}

.m\:px\:\-41 {
    margin: -41px;
}

.m\:px\:\-42 {
    margin: -42px;
}

.m\:px\:\-43 {
    margin: -43px;
}

.m\:px\:\-44 {
    margin: -44px;
}

.m\:px\:\-45 {
    margin: -45px;
}

.m\:px\:\-46 {
    margin: -46px;
}

.m\:px\:\-47 {
    margin: -47px;
}

.m\:px\:\-48 {
    margin: -48px;
}

.m\:px\:\-49 {
    margin: -49px;
}

.m\:px\:\-50 {
    margin: -50px;
}

/* 
    LEFT MARGIN STYLES
*/

/* Relative */

.ml\:rel\:1 {
    margin-left: 0.2rem;
}

.ml\:rel\:2 {
    margin-left: 0.4rem;
}

.ml\:rel\:3 {
    margin-left: 0.6rem;
}

.ml\:rel\:4 {
    margin-left: 0.8rem;
}

.ml\:rel\:5 {
    margin-left: 1rem;
}

.ml\:rel\:6 {
    margin-left: 1.2rem;
}

.ml\:rel\:7 {
    margin-left: 1.4rem;
}

.ml\:rel\:8 {
    margin-left: 1.6rem;
}

.ml\:rel\:9 {
    margin-left: 1.8rem;
}

.ml\:rel\:10 {
    margin-left: 2rem;
}

.ml\:rel\:11 {
    margin-left: 2.2rem;
}

.ml\:rel\:12 {
    margin-left: 2.4rem;
}

.ml\:rel\:13 {
    margin-left: 2.6rem;
}

.ml\:rel\:14 {
    margin-left: 2.8rem;
}

.ml\:rel\:15 {
    margin-left: 3rem;
}

.ml\:rel\:16 {
    margin-left: 3.2rem;
}

.ml\:rel\:17 {
    margin-left: 3.4rem;
}

.ml\:rel\:18 {
    margin-left: 3.6rem;
}

.ml\:rel\:19 {
    margin-left: 3.8rem;
}

.ml\:rel\:20 {
    margin-left: 4rem;
}

.ml\:rel\:21 {
    margin-left: 4.2rem;
}

.ml\:rel\:22 {
    margin-left: 4.4rem;
}

.ml\:rel\:23 {
    margin-left: 4.6rem;
}

.ml\:rel\:24 {
    margin-left: 4.8rem;
}

.ml\:rel\:25 {
    margin-left: 5rem;
}

.ml\:rel\:50 {
    margin-left: 10rem;
}

.ml\:rel\:100 {
    margin-left: 20rem;
}

/* Right Relative */
/* Relative */

.mr\:rel\:1 {
    margin-right: 0.2rem;
}

.mr\:rel\:2 {
    margin-right: 0.4rem;
}

.mr\:rel\:3 {
    margin-right: 0.6rem;
}

.mr\:rel\:4 {
    margin-right: 0.8rem;
}

.mr\:rel\:5 {
    margin-right: 1rem;
}

.mr\:rel\:6 {
    margin-right: 1.2rem;
}

.mr\:rel\:7 {
    margin-right: 1.4rem;
}

.mr\:rel\:8 {
    margin-right: 1.6rem;
}

.mr\:rel\:9 {
    margin-right: 1.8rem;
}

.mr\:rel\:10 {
    margin-right: 2rem;
}

.mr\:rel\:11 {
    margin-right: 2.2rem;
}

.mr\:rel\:12 {
    margin-right: 2.4rem;
}

.mr\:rel\:13 {
    margin-right: 2.6rem;
}

.mr\:rel\:14 {
    margin-right: 2.8rem;
}

.mr\:rel\:15 {
    margin-right: 3rem;
}

.mr\:rel\:16 {
    margin-right: 3.2rem;
}

.mr\:rel\:17 {
    margin-right: 3.4rem;
}

.mr\:rel\:18 {
    margin-right: 3.6rem;
}

.mr\:rel\:19 {
    margin-right: 3.8rem;
}

.mr\:rel\:20 {
    margin-right: 4rem;
}

.mr\:rel\:21 {
    margin-right: 4.2rem;
}

.mr\:rel\:22 {
    margin-right: 4.4rem;
}

.mr\:rel\:23 {
    margin-right: 4.6rem;
}

.mr\:rel\:24 {
    margin-right: 4.8rem;
}

.mr\:rel\:25 {
    margin-right: 5rem;
}

.mr\:rel\:50 {
    margin-right: 10rem;
}

.mr\:rel\:100 {
    margin-right: 20rem;
}

/* 
    PIXEL
*/

.ml\:px\:1 {
    margin-left: 1px;
}

.ml\:px\:2 {
    margin-left: 2px;
}

.ml\:px\:3 {
    margin-left: 3px;
}

.ml\:px\:4 {
    margin-left: 4px;
}

.ml\:px\:5 {
    margin-left: 5px;
}

.ml\:px\:6 {
    margin-left: 6px;
}

.ml\:px\:7 {
    margin-left: 7px;
}

.ml\:px\:8 {
    margin-left: 8px;
}

.ml\:px\:9 {
    margin-left: 9px;
}

.ml\:px\:10 {
    margin-left: 10px;
}

.ml\:px\:11 {
    margin-left: 11px;
}

.ml\:px\:12 {
    margin-left: 12px;
}

.ml\:px\:13 {
    margin-left: 13px;
}

.ml\:px\:14 {
    margin-left: 14px;
}

.ml\:px\:15 {
    margin-left: 15px;
}

.ml\:px\:16 {
    margin-left: 16px;
}

.ml\:px\:17 {
    margin-left: 17px;
}

.ml\:px\:18 {
    margin-left: 18px;
}

.ml\:px\:19 {
    margin-left: 19px;
}

.ml\:px\:20 {
    margin-left: 20px;
}

.ml\:px\:21 {
    margin-left: 21px;
}

.ml\:px\:22 {
    margin-left: 22px;
}

.ml\:px\:23 {
    margin-left: 23px;
}

.ml\:px\:24 {
    margin-left: 24px;
}

.ml\:px\:25 {
    margin-left: 25px;
}

.ml\:px\:26 {
    margin-left: 26px;
}

.ml\:px\:27 {
    margin-left: 27px;
}

.ml\:px\:28 {
    margin-left: 28px;
}

.ml\:px\:29 {
    margin-left: 29px;
}

.ml\:px\:30 {
    margin-left: 30px;
}

.ml\:px\:31 {
    margin-left: 31px;
}

.ml\:px\:32 {
    margin-left: 32px;
}

.ml\:px\:33 {
    margin-left: 33px;
}

.ml\:px\:34 {
    margin-left: 34px;
}

.ml\:px\:35 {
    margin-left: 35px;
}

.ml\:px\:36 {
    margin-left: 36px;
}

.ml\:px\:37 {
    margin-left: 37px;
}

.ml\:px\:38 {
    margin-left: 38px;
}

.ml\:px\:39 {
    margin-left: 39px;
}

.ml\:px\:40 {
    margin-left: 40px;
}

.ml\:px\:41 {
    margin-left: 41px;
}

.ml\:px\:42 {
    margin-left: 42px;
}

.ml\:px\:43 {
    margin-left: 43px;
}

.ml\:px\:44 {
    margin-left: 44px;
}

.ml\:px\:45 {
    margin-left: 45px;
}

.ml\:px\:46 {
    margin-left: 46px;
}

.ml\:px\:47 {
    margin-left: 47px;
}

.ml\:px\:48 {
    margin-left: 48px;
}

.ml\:px\:49 {
    margin-left: 49px;
}

.ml\:px\:50 {
    margin-left: 50px;
}





/* 
    RIGHT MARGIN STYLES
*/

.mr\:1 {
    margin-right: 0.2rem;
}

.mr\:2 {
    margin-right: 0.4rem;
}

.mr\:3 {
    margin-right: 0.6rem;
}

.mr\:4 {
    margin-right: 0.8rem;
}

.mr\:5 {
    margin-right: 1rem;
}

.mr\:6 {
    margin-right: 1.2rem;
}

.mr\:7 {
    margin-right: 1.4rem;
}

.mr\:8 {
    margin-right: 1.6rem;
}

.mr\:9 {
    margin-right: 1.8rem;
}

.mr\:10 {
    margin-right: 2rem;
}

.mr\:11 {
    margin-right: 2.2rem;
}

.mr\:12 {
    margin-right: 2.4rem;
}

.mr\:13 {
    margin-right: 2.6rem;
}

.mr\:14 {
    margin-right: 2.8rem;
}

.mr\:15 {
    margin-right: 3rem;
}

.mr\:16 {
    margin-right: 3.2rem;
}

.mr\:17 {
    margin-right: 3.4rem;
}

.mr\:18 {
    margin-right: 3.6rem;
}

.mr\:19 {
    margin-right: 3.8rem;
}

.mr\:20 {
    margin-right: 4rem;
}

.mr\:21 {
    margin-right: 4.2rem;
}

.mr\:22 {
    margin-right: 4.4rem;
}

.mr\:23 {
    margin-right: 4.6rem;
}

.mr\:24 {
    margin-right: 4.8rem;
}

.mr\:25 {
    margin-right: 5rem;
}


/* 
    TOP MARGIN STYLES
*/


.mt\:1 {
    margin-top: 0.2rem;
}

.mt\:2 {
    margin-top: 0.4rem;
}

.mt\:3 {
    margin-top: 0.6rem;
}

.mt\:4 {
    margin-top: 0.8rem;
}

.mt\:5 {
    margin-top: 1rem;
}

.mt\:6 {
    margin-top: 1.2rem;
}

.mt\:7 {
    margin-top: 1.4rem;
}

.mt\:8 {
    margin-top: 1.6rem;
}

.mt\:9 {
    margin-top: 1.8rem;
}

.mt\:10 {
    margin-top: 2rem;
}

.mt\:11 {
    margin-top: 2.2rem;
}

.mt\:12 {
    margin-top: 2.4rem;
}

.mt\:13 {
    margin-top: 2.6rem;
}

.mt\:14 {
    margin-top: 2.8rem;
}

.mt\:15 {
    margin-top: 3rem;
}

.mt\:16 {
    margin-top: 3.2rem;
}

.mt\:17 {
    margin-top: 3.4rem;
}

.mt\:18 {
    margin-top: 3.6rem;
}

.mt\:19 {
    margin-top: 3.8rem;
}

.mt\:20 {
    margin-top: 4rem;
}

.mt\:21 {
    margin-top: 4.2rem;
}

.mt\:22 {
    margin-top: 4.4rem;
}

.mt\:23 {
    margin-top: 4.6rem;
}

.mt\:24 {
    margin-top: 4.8rem;
}

.mt\:25 {
    margin-top: 5rem;
}


/* 
    BOTTOM MARGIN STYLES
*/

.mb\:1 {
    margin-bottom: 0.2rem;
}

.mb\:2 {
    margin-bottom: 0.4rem;
}

.mb\:3 {
    margin-bottom: 0.6rem;
}

.mb\:4 {
    margin-bottom: 0.8rem;
}

.mb\:5 {
    margin-bottom: 1rem;
}

.mb\:6 {
    margin-bottom: 1.2rem;
}

.mb\:7 {
    margin-bottom: 1.4rem;
}

.mb\:8 {
    margin-bottom: 1.6rem;
}

.mb\:9 {
    margin-bottom: 1.8rem;
}

.mb\:10 {
    margin-bottom: 2rem;
}

.mb\:11 {
    margin-bottom: 2.2rem;
}

.mb\:12 {
    margin-bottom: 2.4rem;
}

.mb\:13 {
    margin-bottom: 2.6rem;
}

.mb\:14 {
    margin-bottom: 2.8rem;
}

.mb\:15 {
    margin-bottom: 3rem;
}

.mb\:16 {
    margin-bottom: 3.2rem;
}

.mb\:17 {
    margin-bottom: 3.4rem;
}

.mb\:18 {
    margin-bottom: 3.6rem;
}

.mb\:19 {
    margin-bottom: 3.8rem;
}

.mb\:20 {
    margin-bottom: 4rem;
}

.mb\:21 {
    margin-bottom: 4.2rem;
}

.mb\:22 {
    margin-bottom: 4.4rem;
}

.mb\:23 {
    margin-bottom: 4.6rem;
}

.mb\:24 {
    margin-bottom: 4.8rem;
}

.mb\:25 {
    margin-bottom: 5rem;
}


/* 
    X MARGIN STYLES
*/
/* Add */
.mx\:1 {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.mx\:2 {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

.mx\:3 {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}

.mx\:4 {
    margin: 0 8rem;
}

.mx\:5 {
    margin: 0 10rem;
}

.mx\:6 {
    margin: 0 12rem;
}

.mx\:7 {
    margin: 0 14rem;
}

.mx\:8 {
    margin: 0 16rem;
}

.mx\:9 {
    margin: 0 18rem;
}

.mx\:10 {
    margin: 0 20rem;
}

.mx\:11 {
    margin: 0 22rem;
}

.mx\:12 {
    margin: 0 24rem;
}

.mx\:13 {
    margin: 0 26rem;
}

.mx\:14 {
    margin: 0 28rem;
}

.mx\:15 {
    margin: 0 30rem;
}

.mx\:16 {
    margin: 0 32rem;
}

.mx\:17 {
    margin: 0 34rem;
}

.mx\:18 {
    margin: 0 36rem;
}

.mx\:19 {
    margin: 0 38rem;
}

.mx\:20 {
    margin: 0 40rem;
}

.mx\:21 {
    margin: 0 42rem;
}

.mx\:22 {
    margin: 0 44rem;
}

.mx\:23 {
    margin: 0 46rem;
}

.mx\:24 {
    margin: 0 48rem;
}

.mx\:25 {
    margin: 0 50rem;
}

/* Remove */

.mx\:\-1 {
    margin: 0 -2rem;
}

.mx\:\-2 {
    margin: 0 -4rem;
}

.mx\:\-3 {
    margin: 0 -6rem;
}

.mx\:\-4 {
    margin: 0 -8rem;
}

.mx\:\-5 {
    margin: 0 -10rem;
}

.mx\:\-6 {
    margin: 0 -12rem;
}

.mx\:\-7 {
    margin: 0 -14rem;
}

.mx\:\-8 {
    margin: 0 -16rem;
}

.mx\:\-9 {
    margin: 0 -18rem;
}

.mx\:\-10 {
    margin: 0 -20rem;
}

.mx\:\-11 {
    margin: 0 -22rem;
}

.mx\:\-12 {
    margin: 0 -24rem;
}

.mx\:\-13 {
    margin: 0 -26rem;
}

.mx\:\-14 {
    margin: 0 -28rem;
}

.mx\:\-15 {
    margin: 0 -30rem;
}

.mx\:\-16 {
    margin: 0 -32rem;
}

.mx\:\-17 {
    margin: 0 -34rem;
}

.mx\:\-18 {
    margin: 0 -36rem;
}

.mx\:\-19 {
    margin: 0 -38rem;
}

.mx\:\-20 {
    margin: 0 -40rem;
}

.mx\:\-21 {
    margin: 0 -42rem;
}

.mx\:\-22 {
    margin: 0 -44rem;
}

.mx\:\-23 {
    margin: 0 -46rem;
}

.mx\:\-24 {
    margin: 0 -48rem;
}

.mx\:\-25 {
    margin: 0 -50rem;
}


/* 
    Y MARGIN STYLES
*/
/* Add */
.my\:1 {
    margin: 0.2rem 0;
}

.my\:2 {
    margin: 0.4rem 0;
}

.my\:3 {
    margin: 0.6rem 0;
}

.my\:4 {
    margin: 0.8rem 0;
}

.my\:5 {
    margin: 1rem 0;
}

.my\:6 {
    margin: 1.2rem 0;
}

.my\:7 {
    margin: 1.4rem 0;
}

.my\:8 {
    margin: 1.6rem 0;
}

.my\:9 {
    margin: 1.8rem 0;
}

.my\:10 {
    margin: 2rem 0;
}

.my\:11 {
    margin: 2.2rem 0;
}

.my\:12 {
    margin: 2.4rem 0;
}

.my\:13 {
    margin: 2.6rem 0;
}

.my\:14 {
    margin: 2.8rem 0;
}

.my\:15 {
    margin: 3rem 0;
}

.my\:16 {
    margin: 3.2rem 0;
}

.my\:17 {
    margin: 3.4rem 0;
}

.my\:18 {
    margin: 3.6rem 0;
}

.my\:19 {
    margin: 3.8rem 0;
}

.my\:20 {
    margin: 4rem 0;
}

.my\:21 {
    margin: 4.2rem 0;
}

.my\:22 {
    margin: 4.4rem 0;
}

.my\:23 {
    margin: 4.6rem 0;
}

.my\:24 {
    margin: 4.8rem 0;
}

.my\:25 {
    margin: 5rem 0;
}


/* Remove */
.my\:\-1 {
    margin: -0.5rem 0;
}

.my\:\-2 {
    margin: -1rem 0;
}

.my\:\-3 {
    margin: -1.5rem 0;
}

.my\:\-4 {
    margin: -2rem 0;
}

.my\:\-5 {
    margin: -2.5rem 0;
}

.my\:\-6 {
    margin: -3rem 0;
}

.my\:\-7 {
    margin: -3.5rem 0;
}

.my\:\-8 {
    margin: -4rem 0;
}

.my\:\-9 {
    margin: -4.5rem 0;
}

.my\:\-10 {
    margin: -5rem 0;
}

.my\:\-11 {
    margin: -5.5rem 0;
}

.my\:\-12 {
    margin: -6rem 0;
}

.my\:\-13 {
    margin: -6.5rem 0;
}

.my\:\-14 {
    margin: -7rem 0;
}

.my\:\-15 {
    margin: -7.5rem 0;
}

.my\:\-16 {
    margin: -8rem 0;
}

.my\:\-17 {
    margin: -8.5rem 0;
}

.my\:\-18 {
    margin: -9rem 0;
}

.my\:\-19 {
    margin: -9.5rem 0;
}

.my\:\-20 {
    margin: -10rem 0;
}

.my\:\-21 {
    margin: -10.5rem 0;
}

.my\:\-22 {
    margin: -11rem 0;
}

.my\:\-23 {
    margin: -11.5rem 0;
}

.my\:\-24 {
    margin: -12rem 0;
}

.my\:\-25 {
    margin: -12.5rem 0;
}
