/* Up to 1080p */
@media screen and (min-width: 768px){
    
/* col */

.col\:md\:border{
    display: flex;
    flex-direction: column;
    border: none;
}


}

/* 1440p */
@media screen and (min-width: 1081px) and (max-width: 1440px){
    .col\:md\:border{
        display: flex;
        flex-direction: column;
        border: 1px solid blue;
    }
}