@import url('red.css');
@import url('green.css');
@import url('blue.css');

/* Branding Colors */
.icon\:primary{
    display: inline-block;
    background: var(--primary);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon\:secondary{
    display: inline-block;
    background: var(--secondary);
    background-size: cover;
    background-repeat: no-repeat;
}

/******************************/
/* GRADIENTS
/*****************************/



/* 
    SPECIALTY
*/
.icon\:ocean{
    display: inline-block;
    background: var(--ocean);
    background-size: contain;
    background-repeat: no-repeat;
}

.icon\:oceanspray{
    display: inline-block;
    background: var(--oceanspray);
    background-size: contain;
    background-repeat: no-repeat;
}

.icon\:seaside{
    display: inline-block;
    background: var(--seaside);
    background-size: contain;
    background-repeat: no-repeat;
}

.icon\:skylight{
    display: inline-block;
    background: var(--skylight);
    background-size: contain;
    background-repeat: no-repeat;
}

.icon\:sunset{
    display: inline-block;
    background: var(--sunset);
    background-size: contain;
    background-repeat: no-repeat;
}

.icon\:muted-rainbow{
    display: inline-block;
    background: var(--muted-rainbow);
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-northern-lights\:\:duo{
    display: inline-block;
    background: var(--northern-lights-duo);
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-northern-lights\:\:duo-rev{
    display: inline-block;
    background: var(--northern-lights-duo-reverse);
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-northern-lights\:radial{
    display: inline-block;
    background: var(--northern-lights-radial);
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-northern-lights{
    display: inline-block;
    background: var(--northern-lights-grad);
    background-size: contain;
    background-repeat: no-repeat;
}

.icon\:pastel-rainbow{
    display: inline-block;
    background: var(--pastel-rainbow);
    background-size: contain;
    background-repeat: no-repeat;
}

.icon\:contrast-rainbow{
    display: inline-block;
    background: var(--contrast-rainbow);
    background-size: contain;
    background-repeat: no-repeat;
}