:root {
    --poppins: 'poppins';
}

.poppins
{
    font-family: var(--poppins);
    font-weight: 400;
    font-style: normal;
}

.poppins\:italic
{
    font-family: var(--poppins);
    font-weight: 400;
    font-style: italic;
}

.poppins\:bold
{
    font-family: var(--poppins);
    font-weight: 700;
    font-style: normal;
}

.poppins\:bold-italic
{
    font-family: var(--poppins);
    font-weight: 700;
    font-style: italic;
}