.icon-outline.cloud-rain{
    -webkit-mask-image: url('../../../icons/iconfinder/outline/cloud_rain_icon.svg');
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-image: url('../../../icons/iconfinder/outline/cloud_rain_icon.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
}

.icon-outline.corner-right-down{
    -webkit-mask-image: url('../../../icons/iconfinder/outline/corner_right_down_icon.svg');
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-image: url('../../../icons/iconfinder/outline/corner_right_down_icon.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
}

.icon-outline.edit{
    -webkit-mask-image: url('../../../icons/iconfinder/outline/edit_icon.svg');
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-image: url('../../../icons/iconfinder/outline/edit_icon.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
}

.icon-outline.facebook-social{
    -webkit-mask-image: url('../../../icons/iconfinder/outline/facebook_social_icon.svg');
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-image: url('../../../icons/iconfinder/outline/facebook_social_icon.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
}

.icon-outline.heart{
    -webkit-mask-image: url('../../../icons/iconfinder/outline/heart_icon.svg');
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-image: url('../../../icons/iconfinder/outline/heart_icon.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
}

.icon-outline.menu-navigation{
    -webkit-mask-image: url('../../../icons/iconfinder/outline/menu_navigation_icon.svg');
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-image: url('../../../icons/iconfinder/outline/menu_navigation_icon.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
}

.icon-outline.phone{
    -webkit-mask-image: url('../../../icons/iconfinder/outline/phone_icon.svg');
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-image: url('../../../icons/iconfinder/outline/phone_icon.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
}

.icon-outline.play-circle{
    -webkit-mask-image: url('../../../icons/iconfinder/outline/play_circle_icon.svg');
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-image: url('../../../icons/iconfinder/outline/play_circle_icon.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
}

.icon-outline.play{
    -webkit-mask-image: url('../../../icons/iconfinder/outline/play_icon.svg');
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-image: url('../../../icons/iconfinder/outline/play_icon.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
}

.icon-outline.search{
    -webkit-mask-image: url('../../../icons/iconfinder/outline/search_icon.svg');
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-image: url('../../../icons/iconfinder/outline/search_icon.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
}

.icon-outline.star{
    -webkit-mask-image: url('../../../icons/iconfinder/outline/star_icon.svg');
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-image: url('../../../icons/iconfinder/outline/star_icon.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
}

.icon-outline.wifi{
    -webkit-mask-image: url('../../../icons/iconfinder/outline/wifi_icon.svg');
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-image: url('../../../icons/iconfinder/outline/wifi_icon.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
}