/* morning-blues */

.bg.morning-blue\:100,
.bg.morning-blue-100,
.bg-morning-blue-100,
.bg\:morning-blue\:100,
.bg\:color\:\:morning-blue-100,
.bg-color--morning-blue-100,
.bgc\:morning-blue\:100,
.bgc-morning-blue-100
{
    background-color: var(--morning-blue-100);
}

.bg\:morning-blue-200,
.bg.morning-blue-200,
.bg-morning-blue-200,
.bg\:morning-blue\:200
{
    background-color: var(--morning-blue-200);
}

.bg\:morning-blue-300,
.bg.morning-blue-300,
.bg-morning-blue-300,
.bg\:morning-blue\:300
{
    background-color: var(--morning-blue-300);
}

.bg\:morning-blue-400,
.bg.morning-blue-400,
.bg-morning-blue-400,
.bg\:morning-blue\:400
{
    background-color: var(--morning-blue-400);
}

.bg\:morning-blue-500,
.bg.morning-blue-500,
.bg-morning-blue-500,
.bg\:morning-blue\:500
{
    background-color: var(--morning-blue-500);
}

.bg\:morning-blue-600,
.bg.morning-blue-600,
.bg-morning-blue-600,
.bg\:morning-blue\:600
{
    background-color: var(--morning-blue-600);
}

.bg\:morning-blue-700,
.bg.morning-blue-700,
.bg-morning-blue-700,
.bg\:morning-blue\:700
{
    background-color: var(--morning-blue-700);
}

.bg\:morning-blue-800,
.bg.morning-blue-800,
.bg-morning-blue-800,
.bg\:morning-blue\:800
{
    background-color: var(--morning-blue-800);
}

.bg\:morning-blue-900,
.bg.morning-blue-900,
.bg-morning-blue-900,
.bg\:morning-blue\:900
{
    background-color: var(--morning-blue-900);
}